{% extends 'ProgressEstimateLog/base.html' %}


{% block content %}


    <script>
        // Assigning the variables values from the Django template to make the syntax work.
        var json_log_files = {{log_files}};

    </script>

    <div class="pel-list-container left-container">
        <h1>Bitácora de estimación</h1>

        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Descripción</td>
                    <td>Fecha</td>
                    <td>Usuario</td>
                    <td>Acción</td>
                </tr>
            </thead>

            <tbody>
                {% for log in logs %}
                    <tr class="pel_row" id="{{log.id}}">
                        <td>{{log.id}}</td>
                        <td>{{log.description}}</td>
                        <td>{{log.date}}</td>
                        <td>{{log.user.user.first_name}}</td>
                        <td>
                            <a href="/admin/ERP/progressestimatelog/{{log.id}}/change/">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="log-files-list-container right-container">
        <h1>Evidencias</h1>

        <div id="log-files-table">

        </div>
    </div>




    <div class="pel-add-container left-container">
        <h1>Nueva Bitácora de Estimación</h1>

        <form method="POST" class="post-form" id="pel-form">
            {% csrf_token %}
            {{ pel_form.as_p }}
            <button type="submit" class="save btn btn-default">Añadir</button>
        </form>
    </div>


    <div class="log-files-add-container right-container">
        <h1>Nuevos Archivos para la Bitácora</h1>

        <form method="POST" class="post-form">{% csrf_token %}
            {{ files_form.as_p }}
            <button type="submit" class="save btn btn-default">Añadir</button>
        </form>
    </div>
{% endblock %}