{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static "ERP/admin/assets/ajax/reports.js" %}"></script>
{% endblock %}
{% block content %}

    <div id="content-main">

{#    Avance Financiero Interno#}
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="item-left">
                            <h3 class="card-title text">Avance Financiero Interno</h3>
                        </div>
                        {% comment %}<div class="item-right">
                            <a href="" id=""
                               class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success icon-container"
                            >
                                &nbsp; <i class="zmdi zmdi-plus zmdi-hc-2x center-icon"
                            ></i>
                            </a>
                        </div>{% endcomment %}
                    </div>

                    <div class="card-block">
                        <div class="row">
                            <br>
                            <div class="col-xs-6">Proyectos
                                <select id="project_id_AFI" class="form-control selectpicker">
                                </select>
                            </div>
                            <div class="col-xs-6">Nivel de Detalle
                                <select id="detail_level" class="form-control selectpicker">
                                    <label>Seleccionar...</label>
                                    <option value="c">Conceptos</option>
                                    <option value="p">Partidas</option>

                                </select>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center" id="get_report_AFI">
                                     <a href="#" class="btn btn-raised btn-danger button-center-top"><i class="fa fa-area-chart"></i> Generar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{# Avance Físico#}
    <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="item-left">
                            <h3 class="card-title text">Avance Físico-Financiero</h3>
                        </div>
                        {% comment %}<div class="item-right">
                            <a href="" id=""
                               class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success icon-container"
                            >
                                &nbsp; <i class="zmdi zmdi-plus zmdi-hc-2x center-icon"
                            ></i>
                            </a>
                        </div>{% endcomment %}
                    </div>

                    <div class="card-block">
                        <div class="row">
                            <br>
                            <div class="col-xs-6">Proyectos
                                <select id="project_id_AFF" class="form-control selectpicker">
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center" id="get_report_AFF">
                                     <a href="#" class="btn btn-raised btn-danger button-center-top"><i class="fa fa-area-chart"></i> Generar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}