{% load app_filters admin_static %}
<style>
    #ms-preload {
        display: none!important;
    }
    header {
        display: none !important;
    }
    nav {
        display: none !important;
    }
    footer {
        display: none !important;
    }
    #lightbox {
        display: none !important;
    }
</style>
<fieldset class=" {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% comment %}    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}{% endcomment %}

    <div class="card " style="">
        <ul class="nav nav-tabs  nav-tabs-8 shadow-2dp" role="tablist">
            <li role="presentation" class="active">
                <a class="withoutripple" href="#otro0" aria-controls="otro0" role="tab" data-toggle="tab">
                    <span class="hidden-xs">Contacto</span>
                </a>
            </li>
        </ul>

        <div class="card-block">
            <div class="tab-content">
                {% for line in fieldset %}
                    {% for field in line %}
                        {% if field.field.name == "name" %}
                            <div role="tabpanel" class="tab-pane fade active in" id="otro0">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h2 class="text-center">Datos generales</h2>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-6">
                                        <div class="form-group field-{{ field.field.name }}">
                                            <div>
                                                {{ field.label_tag }}
                                                {{ field.field|addcss:"form-control" }}
                                                {{ field.errors }}
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}

                            {% if field.field.name == "rfc" %}
                                    <div class="col-md-3">
                                        <div class="form-group field-{{ field.field.name }}">
                                            <div>
                                                {{ field.label_tag }}
                                                {{ field.field|addcss:"form-control" }}
                                                {{ field.errors }}
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}

                            {% if field.field.name == "contractor" %}
                                    <div class="col-md-3">
                                        <div class="form-group field-{{ field.field.name }}">
                                            <div>
                                                {{ field.label_tag }}
                                                {{ field.field|addcss:"form-control" }}
                                                {{ field.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    {% endif %}
                        {% if field.field.name == "email" %}
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>


                        {% endif %}
                    {% if field.field.name == "phone_number_1" %}

                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>


                    {% endif %}

                    {% if field.field.name == "phone_number_2" %}
                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}

                        {% if field.field.name == "country" %}
                            <div class="row">
                            <div class="col-md-3">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control selectpicker" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% if field.field.name == "state" %}
                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control selectpicker" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if field.field.name == "town" %}


                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control selectpicker" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>

                    {% endif %}
                    {% if field.field.name == "post_code" %}
                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                        {% if field.field.name == "street" %}
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% if field.field.name == "number" %}
                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if field.field.name == "colony" %}
                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                        {% if field.field.name == "version" %}
                            {{ field.field|addcss:"form-control" }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</fieldset>
