
{% block content %}

<style>
      #changelist table thead th div a{
            color: white;
        }
    </style>

    <div class="col-md-3 ms-paper-menu-left-container">
        <div class="ms-paper-menu-left">
            <h3 class="ms-paper-menu-title">
                Contabilidad

            </h3>
            <div class="panel-menu collapse" id="collapseMenu">
                <ul class="panel-group ms-collapse-nav" id="components-nav" role="tablist"
                    aria-multiselectable="true">
                    <li class="panel" role="tab" id="e2">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c2"
                           aria-expanded="true" aria-controls="c2" class="collapsed withripple">
                            Pólizas</a>
                        <ul id="c2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e2">
                            <li>
                                <a class="withripple" href="/admin/Accounting/accountingpolicy/add">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/accounting/searchpolicies">
                                    <i class="fa fa-search"></i> Buscar</a>
                            </li>

                            <li>
                                <a class="withripple" href="/admin/Accounting/accountingpolicy/">
                                    <i class="fa fa-list"></i> Consultar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="panel" role="tab" id="e1">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c1"
                           aria-expanded="true" aria-controls="c1" class="collapsed withripple">
                            Cuentas Contables</a>
                        <ul id="c1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e1">
                            <li>
                                <a class="withripple" href="/admin/SharedCatalogs/account/add">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/accounting/searchaccount/">
                                    <i class="fa fa-search"></i> Buscar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/admin/SharedCatalogs/account/">
                                    <i class="fa fa-list"></i> Consultar</a>
                            </li>
                        </ul>
                    </li>

                    <li class="panel" role="tab" id="e3">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c3"
                           aria-expanded="true" aria-controls="c3" class="collapsed withripple">
                            Proveedores</a>
                        <ul id="c3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e3">
                            <li>
                                <a class="withripple" href="/admin/Accounting/commercialally/add?type=0">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/accounting/searchprovider/">
                                    <i class="fa fa-search"></i> Buscar</a>
                            </li>
                            {% comment %}<li>
                                <a class="withripple" href="/admin/Accounting/commercialally/">
                                    <i class="fa fa-search"></i> Consultar</a>
                            </li>{% endcomment %}
                        </ul>
                    </li>
                     <li class="panel" role="tab" id="e4">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c4"
                           aria-expanded="true" aria-controls="c4" class="collapsed withripple">
                            Acreedores</a>
                        <ul id="c4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e4">
                            <li>
                                <a class="withripple" href="/admin/Accounting/commercialally/add?type=1">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/accounting/searchcreditors/">
                                    <i class="fa fa-search"></i> Buscar</a>
                            </li>
                           {% comment %} <li>
                                <a class="withripple" href="/admin/Accounting/commercialally/">
                                    <i class="fa fa-search"></i> Consultar Registros</a>
                            </li>{% endcomment %}
                            {% comment %}<li>
                                <a class="withripple" href="/admin/HumanResources/uploadedemployeeassistancehistory/">
                                    <i class="fa fa-plus"></i> Cargar</a>
                            </li>{% endcomment %}
                        </ul>
                    </li>
                     <li class="panel" role="tab" id="e5">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c5"
                           aria-expanded="true" aria-controls="c5" class="collapsed withripple">
                            Terceros</a>
                        <ul id="c5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e5">
                            <li>
                                <a class="withripple" href="/admin/Accounting/commercialally/add?type=2">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/accounting/searchthird/">
                                    <i class="fa fa-search"></i> Buscar</a>
                            </li>
                           {% comment %} <li>
                                <a class="withripple" href="/admin/Accounting/commercialally/">
                                    <i class="fa fa-search"></i> Consultar</a>
                            </li>{% endcomment %}
                        </ul>
                    </li>
                    <li class="panel" role="tab" id="e7">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c7"
                           aria-expanded="true" aria-controls="c7" class="collapsed withripple">
                            Periodo Fiscal</a>
                        <ul id="c7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e7">
                            <li>
                                <a class="withripple" href="/admin/Accounting/fiscalperiod/add">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/admin/Accounting/fiscalperiod/">
                                    <i class="fa fa-search"></i> Consultar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="panel" role="tab" id="e8">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c8"
                           aria-expanded="true" aria-controls="c8" class="collapsed withripple">
                            Tipos de Póliza</a>
                        <ul id="c8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e8">
                            <li>
                                <a class="withripple" href="/admin/Accounting/typepolicy/add">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/admin/Accounting/typepolicy/">
                                    <i class="fa fa-search"></i> Consultar</a>
                            </li>
                        </ul>
                    </li>


                     <li class="panel" role="tab" id="e6">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c6"
                           aria-expanded="true" aria-controls="c6" class="collapsed withripple">
                            Bancos</a>
                        <ul id="c6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e6">
                            <li>
                                <a class="withripple" href="/admin/SharedCatalogs/bank/add/">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/admin/SharedCatalogs/bank/">
                                    <i class="fa fa-search"></i> Consultar</a>
                            </li>
                        </ul>
                    </li>
                     <li class="panel" role="tab" id="e10">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c10"
                           aria-expanded="true" aria-controls="c10" class="collapsed withripple">
                            Reportes</a>
                        <ul id="c10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e10">
                            <li>
                                <a class="withripple" href="/accounting/searchtransactions">
                                    <i class="fa fa-search"></i> Movimientos por Cuenta</a>
                            </li>
                            <li>
                                <a class="withripple" href="/accounting/generategeneralbalance">
                                    <i class="fa fa-search"></i> Balance General</a>
                            </li>
                            <li>
                                <a class="withripple" href="/accounting/generatetrialbalance">
                                    <i class="fa fa-search"></i> Balanza de Comprobación</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- ms-collapse-nav -->
            </div>
        </div>
    </div>
    <!-- col-md-3 -->

{% endblock %}