{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />


{% endblock %}

{% comment %}{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}{% endcomment %}

{% block breadcrumbs %}{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="box-border box-300">
            {% include "admin/servicios_comerciales.html" %}
        </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6 xs-padd">
        <div class="box-border box-300">
            {% include "admin/servicios_comerciales_VvsM.html" %}
        </div>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12 xs-padd sm-padd">
        <div class="box-border box-300">
            <div class="rainbow"></div>
            {% include "admin/servicios_comerciales_region.html" %}
        </div>
    </div>
</div>
<div class="row pad-12">
    <div class="col-md-6 col-xs-12 col-sm-12">
        <div class="box-border box-300">
            {% include "admin/finanzas.html" %}
        </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6 xs-padd sm-padd">
        <div class="box-border box-300">
           {% include "admin/mercadotecnia.html" %}
        </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6 xs-padd sm-padd">
        <div class="box-border box-145">
            {% include "admin/legal.html" %}

        </div>
        <div class="box-border box-145 mar-10">
            {% include "admin/informatica.html" %}

        </div>
    </div>
</div>


{% endblock %}

