{% load app_filters admin_static %}
<style>
    .no_change {
        pointer-events: none;
    }

</style>
<fieldset class="module aligned {{ fieldset.classes }}">

    {{ fieldset.management_form }}

    <div class="card ">
        <ul class="nav nav-tabs  nav-tabs-8 shadow-2dp" role="tablist">
            <li role="presentation" class="active">
                <a class="withoutripple" href="#otro0" aria-controls="otro0" role="tab" data-toggle="tab">
                    {% if fieldset.name %}{{ fieldset.name }}{% endif %}
                </a>
            </li>
        </ul>
        <div class="card-block">
            <div class="tab-content">
                {% for line in fieldset %}
                    {% for field in line %}
                        {% if field.field.name == "advance_payment_amount" %}
                            <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            {{ field.field|addcss:"form-control" }}
                                        </div>
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                        {% if field.field.name == "advance_payment_date" %}
                            <div class="col-sm-4">
                                <div class="form-group field-fecha_final">

                                    <div style="position: relative">{{ field.label_tag }}</div>
                                    {{ field.field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endif %}
                        {% if field.field.name == "advance_payment_status" %}
                            <div class="col-sm-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        <div style="position: relative">{{ field.label_tag }}</div>
                                        <div style="position: relative">{{ field.field|addcss:"form-control" }}</div>
                                        <div style="position: relative">{{ field.errors }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}




                        {% if field.field.name == "line_item" %}
                            <div role="tabpanel" class="tab-pane fade active in" id="otro0">
                            <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control no_change " }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {% if field.field.name == "contract" %}
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                        {% if field.field.name == "period" %}
                            <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group field-fecha_final">
                                    <label class=" required" for="id_fecha_final_0">Periodo:</label>
                                    {{ field.field }}
                                    {{ field.errors }}
                                </div>
                            </div>

                        {% endif %}
                    {% if field.field.name == "start_date" %}

                        <div class="col-sm-4">
                            <div class="form-group field-fecha_final">
                                <label class=" required" for="id_fecha_inicio_0">Fecha de
                                    Inicio:</label>
                                {{ field.field }}
                                {{ field.errors }}
                            </div>
                        </div>

                    {% endif %}
                    {% if field.field.name == "end_date" %}

                        <div class="col-sm-4">
                            <div class="form-group field-fecha_final">
                                <label class=" required" for="id_fecha_final_0">Fecha Final:</label>
                                {{ field.field }}
                                {{ field.errors }}
                            </div>
                        </div>

                        </div>
                    {% endif %}


                        {% if field.field.name == "lock_status" %}

                        <div class="col-sm-4">
                            <div class="form-group field-fecha_final">
                                <label class=" required" for="id_fecha_final_0">Bloqueo:</label>
                                {{ field.field }}
                                {{ field.errors }}
                            </div>
                        </div>

                        </div>
                    {% endif %}

                        {% if field.field.name == "contractor" %}

                                <div class="col-sm-12">
                                    <div class="form-group field-{{ field.field.name }}">
                                        <div>
                                            <div style="position: relative">{{ field.label_tag }}</div>
                                            <div style="position: relative">{{ field.field|addcss:"form-control" }}</div>
                                            <div style="position: relative">{{ field.errors }}</div>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                        {% if field.field.name == "version" %}
                            {{ field.field|addcss:"form-control" }}
                        {% endif %}

                    {% endfor %}
                {% endfor %}
                </div>
                </div>
            </div>

        </div>
</fieldset>

<script src="{% static "ERP/admin/js/custom.js" %}"></script>
<script src="{% static "ERP/admin/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "ERP/admin/js/bootstrap-datepicker.es.min.js" %}"></script>
<script>

    {% comment %}$('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });{% endcomment %}

    $('.date').datepicker({
        autoclose: true,
        toggleActive: true,
        language: "es"
    });

</script>