{% extends "admin/base_site.html" %}
{% load i18n admin_static %}



{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}{{ block.super }}

    {#    <script src="{% static "admin/assets/Highcharts/code/themes/dark-unica.js" %}"></script>#}
    <style>
        hr {
            display: block;
            border-top: 1px solid #00a09b;
            margin: 2px 0 !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="container">
            <div class="col-xs-12 col-sm-3">
                <a style="display:block" href="https://www.salcedoconstruccion.com/">
                    <div class="card">

                        <div class="card-block" style="height: 120px; padding: 0">

                           <div class="text-center" id="icono" style="height: 100px; padding: 10px;">
                                 <img src="/media/logo_index/salcedo_logo.jpg" style="vertical-align: center; width: 120px;height: 100px">
                            </div>

                        </div>
                         <div class="card-header light">
                            <div class="item-left">
                                <div class="card-title text-small text-center color-active">Construcción & Supervisión</div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3">
                <a style="display:block" href="/erp/erp_index/">
                    <div class="card">

                        <div class="card-block" style="height: 120px; padding: 0">
                            <div class="text-center" id="icono" style="height: 100px; padding: 10px;">
                                     <img src="/media/logo_index/logosalcedoobras.svg" style="vertical-align: center; width: 90px;height: 90px;background: #0A246A">
                                </div>

                        </div>
                         <div class="card-header light">
                            <div class="item-left">
                                <div class="card-title text-small text-center color-active"><a href="https://cloud.salcedoconstruccion.com/">Seguimiento Obras</a></div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3">
                <a style="display:block" href="/admin/HumanResources/employee/">
                    <div class="card">

                        <div class="card-block" style="height: 120px; padding: 0">

                           <div class="text-center" id="icono" style="height: 100px; padding: 10px">
                                 <img src="/media/logo_index/habilidades.svg" style="vertical-align: center; width: 120px;height: 100px">
                            </div>

                        </div>
                         <div class="card-header light">
                            <div class="item-left">
                                <div class="card-title text-small text-center color-active">Recursos Humanos</div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-3">
                <a style="display:block" href="/admin/Accounting/expense">
                    <div class="card">

                        <div class="card-block" style="height: 120px; padding: 0">

                            <div class="text-center" id="icono" style="height: 100px; padding: 10px">
                                 <img src="/media/logo_index/ingresos.svg" style="vertical-align: center; width: 120px;height: 100px">
                            </div>

                        </div>
                         <div class="card-header light">
                            <div class="item-left">
                                <div class="card-title text-small text-center color-active">Balance de Gastos</div>
                            </div>

                        </div>
                    </div>
                </a>


        </div>


            <div class="col-xs-12 col-sm-3">
                <a style="display:block" href="https://app.lacteoslaprovidencia.com/">
                    <div class="card">

                        <div class="card-block" style="height: 120px; padding: 0">
                            <div class="text-center" id="icono" style="height: 100px;">
                                <img src="/media/logo_index/appLP.png" style="vertical-align: center; width: 120px;height: 120px">
                            </div>

                        </div>
                         <div class="card-header light">
                            <div class="item-left">
                                <div class="card-title text-small text-center color-active">App La Providencia</div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3">
                <a style="display:block" href="https://lacteoslaprovidencia.com/">
                <div class="card" >

                    <div class="card-block" style="height: 120px; padding: 0">
                        <div class="text-center" id="icono" style="height: 100px;">
                            <img src="/media/logo_index/appLP.png" style="vertical-align: center; width: 120px;height: 120px">
                        </div>

                    </div>
                     <div class="card-header light">
                        <div class="item-left">
                            <div class="card-title text-small text-center color-active">Lácteos La Providencia</div>
                        </div>

                    </div>
                </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-3">
                <a style="display:block" href="https://ferrecol.com.mx/wp-admin/">
                <div class="card">
                    <div class="card-block" style="height: 120px; padding: 0">
                        <br>
                        <div class="text-center" id="icono" style="vertical-align: middle; height: 120px;">
                            <img src="/media/logo_index/ferrecol_wp.jpg" style="vertical-align:center; width: 180px; height:80px">
                        </div>
                    </div>
                     <div class="card-header light">
                        <div class="item-left">
                            <div class="card-title text-small text-center color-active"> Acceso Administración Sitio Ferrecol</div>
                        </div>
                    </div>
                </div>
                </a>
            </div>


            <div class="col-xs-12 col-sm-3">
                <a style="display:block" href="https://ferrecol.com.mx">
                <div class="card">

                    <div class="card-block" style="height: 120px; padding: 0; vertical-align: center">
                        <br>
                        <div class="text-center" id="icono" style="height: 100px;">
                            <img src="/media/logo_index/ferrecol_logo.png" style="vertical-align: center; width: 240px;height: 60px">
                        </div>

                    </div>
                     <div class="card-header light">
                        <div class="item-left">
                            <div class="card-title text-small text-center color-active">Ferrecol</div>
                        </div>

                    </div>
                </div>
                </a>
            </div>


     <div class="col-xs-12 col-sm-3">
                    <div class="card">

                        <div class="card-block" style="height: 120px; padding: 0">
                           <br>
                            <div class="text-center" id="icono" style="height: 100px;">
                                <img src="/media/logo_index/phronesys_logo.png" style="vertical-align: center; width: 240px;height: 60px">
                            </div>


                        </div>
                         <div class="card-header light">
                            <div class="item-left">
                                <div class="card-title text-small text-center color-active"><a href="\\192.168.100.251\phronesys"> Phronesys</a></div>
                            </div>

                        </div>
                    </div>
                </div>
            <div class="col-xs-12 col-sm-3">
                <a style="display:block" href="https://cloud.salcedoconstruccion.com/">
                    <div class="card">

                        <div class="card-block" style="height: 120px; padding: 0">
                            <br>

                            <div class="text-center" id="icono" style="height: 120px;">
                                <img src="/media/logo_index/salcedo_cloud.jpg" style="vertical-align: center; width: 100px; height: 90px">
                            </div>

                        </div>
                         <div class="card-header light">
                            <div class="item-left">
                                <div class="card-title text-small text-center color-active">Nube Salcedo</div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-3">
                <div class="card">

                    <div class="card-block" style="height: 120px; padding: 0">
                        <div id="icono" style="height: 100px;"></div>

                    </div>
                     <div class="card-header light">
                        <div class="item-left">
                            <div class="card-title text-small text-center color-active"> &nbsp;</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-3">
                <div class="card">

                    <div class="card-block" style="height: 120px; padding: 0">
                        <div id="icono" style="height: 100px;"></div>

                    </div>
                     <div class="card-header light">
                        <div class="item-left">
                            <div class="card-title text-small text-center color-active"> &nbsp;</div>
                        </div>

                    </div>
                </div>
            </div>


    </div>


{% endblock %}








