{% load app_filters admin_static %}
<style>
    .selector select {
        width: 100%;
        height: 17.2em;
        padding-top: 10px;
    }

    .selector-available, .selector-chosen {
        float: left;
        width: 48%;
        text-align: center;
        margin-bottom: 5px;
    }

    .selector {
        width: 100%;
        float: left;

    }

    #id_groups_filter {
        display: none;
    }
    .aligned .vCheckboxLabel {
    float: none;
    width: auto;
    display: inline-block;
    vertical-align: 0px;
    padding: 0 0 0px 0px;
}
</style>
<fieldset class=" {{ fieldset.classes }}">

    {% comment %} {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}{% endcomment %}
    {% if fieldset.name == "Personal info" %}
        <div class="card aligned">
        <ul class="nav nav-tabs  nav-tabs-8 shadow-2dp" role="tablist">
            <li role="presentation" class="active">
                <a class="withoutripple" href="#otro0" aria-controls="otro0" role="tab" data-toggle="tab">
                    <span class="">Usuarios</span>
                </a>
            </li>
        </ul>

        <div class="card-block">
        <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="otro0">
        <h2 class="text-center">Datos Generales</h2>
        <div class="row">
            <fieldset class=" aligned{{ fieldset.classes }}">
                {% if fieldset.name %}{% endif %}
                {% if fieldset.description %}
                    <div class="description">{{ fieldset.description|safe }}</div>
                {% endif %}

                {% for line in fieldset %}
                    {% for field in line %}
                        {% if field.field.name == "first_name" %}
                            <hr>
                            <div class="col-sm-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if field.field.name == "last_name" %}

                            <div class="col-sm-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>


                        {% endif %}
                        {% if field.field.name == "email" %}

                            <div class="col-sm-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>

                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}



                    {% endfor %}
                {% endfor %}
            </fieldset>
        </div>
    {% endif %}

    {% if fieldset.name == "AuthInfo" %}
        <div class="row">
        {% for line in fieldset %}
            {% for field in line %}
                {% if field.field.name == "username" %}

                    <div class="col-sm-4">
                        <div class="form-group field-{{ field.field.name }}">
                            <div>
                                {{ field.label_tag }}
                                {{ field.field|addcss:"form-control" }}
                                {{ field.errors }}
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% if field.field.name == "password1" %}
                    <div class="col-sm-3">
                        <div class="form-group field-{{ field.field.name }}">
                            <div>
                                {{ field.label_tag }}
                                {{ field.field|addcss:"form-control" }}
                                {{ field.errors }}
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% if field.field.name == "password2" %}
                    <div class="col-sm-3">
                        <div class="form-group field-{{ field.field.name }}">
                            <div>
                                {{ field.label_tag }}
                                {{ field.field|addcss:"form-control" }}
                                {{ field.errors }}
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        {% endfor %}



    {% endif %}
    {% if fieldset.name  == "Permissions" %}
        <div class="col-sm-12">
            {% for line in fieldset %}
                {% for field in line %}
                    {% if field.field.name == "is_active" %}
                        <div class="form-group field-{{ field.field.name }}">

                                {{ field.label_tag }}
                                {{ field.field|addcss:"form-control" }}
                                {{ field.errors }}

                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        </div>
    {% endif %}
    {% if fieldset.name  == "Permissions" %}
        <div class="col-sm-12">
            {% for line in fieldset %}
                {% for field in line %}


                    {% if field.field.name == "groups" %}
                        <div class="form-group field-{{ field.field.name }}">
                            <div>
                                {{ field.label_tag }}
                                {{ field.field|addcss:"form-control" }}
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        </div>
    {% endif %}

    {% if inline_admin_formset.opts.verbose_name_plural == "Usuarios" %}
         <div class="row">
        <div class="col-sm-5">
            <fieldset class="module  {{ fieldset.classes }}">
                {% for line in fieldset %}
                    {% for field in line %}
                        {% if field.field.name == "rol" %}
                            <div class="col-sm-6">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if field.field.name == "profile_picture" %}
                            <div class="">
                                <div class="form-group field-{{ field.field.name }}">
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                    <div class="input-group">
                                        <label class="required"
                                               for="id_{{ field.field.name }}">Foto de Perfil:</label>
                                        <input type="text" readonly="" class="form-control"
                                               placeholder="Seleccionar archivo...">
                                        <span class="input-group-btn input-group-sm">
                                                        <button type="button" class="btn btn-fab btn-fab-mini">
                                                          <i class="material-icons">attach_file</i>
                                                        </button>
                                                      </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </fieldset>

        </div>
</div>
        </div>
        </div>

    {% endif %}