{% extends "admin/base_site.html" %}
{% load i18n app_filters admin_static %}


{% block extrastyle %}{{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static "HumanResources/css/custom_hr.css" %}"/>

    <link rel="stylesheet" type="text/css" href="{% static "Accounting/css/jquery.multiselect.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "Accounting/css/multi-custom.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static "Accounting/js/jquery.multiselect.js" %}"></script>

    <style>

        table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
            position: absolute;
            bottom: 8px;
            right: 0px !important;
            display: block;
            font-family: 'Glyphicons Halflings';
            opacity: 0.7;
        }

        .form-inline {
            display: block;
        }

        .col-xs-4 {
            height: 65px;
        }

        #msTypePolicyArray {
            display: none !important;
        }

        .policy > .form-group {
            margin: 0px;
        }


    </style>


{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}

    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">

                <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-info"><i
                        class="zmdi  zmdi-file-text"></i></span>
                    <h3 class="section-title">Reporte de Gastos </h3>

                    <hr>
                </div>
            </div>
            <div class="col-xs-6">
                <ul class="list-group">
                    <li class="list-group-item withripple "><span class="color-info" style="font-size: 18px">Empresa:</span> {{ expense.internal_company.name }}
                    </li>
                      <li class="list-group-item withripple "><span class="color-info" style="font-size: 18px">Valor Total:</span> $ {{ expense.total_ammount|intcomma }}
                    </li>
                     <li class="list-group-item withripple "><span class="color-info" style="font-size: 18px">Tipo de Documento:</span> {{ expense.type_document }}
                    </li>
                     <li class="list-group-item withripple "><span class="color-info" style="font-size: 18px">Concepto:</span> {{ expense.description }}
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="list-group">
                    <li class="list-group-item withripple "><span class="color-info" style="font-size: 18px">Fecha de Registro:</span> {{ expense.registry_date }}
                    </li>
                      <li class="list-group-item withripple "><span class="color-info" style="font-size: 18px">Monto Liquido:</span> $ {{ expense.monto|intcomma }}
                    </li>
                    <li class="list-group-item withripple "><span class="color-info" style="font-size: 18px">Documento:</span> {{ expense.reference }}
                    </li>

                </ul>
            </div>

        </div>

        </div>

        <div class="row" style="padding-top: 35px">
            <div class="col-xs-12">
                <div class="">
                    <h3 class="section-title">Detalle de Gastos</h3>
                    <hr>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="card  text-center" style="border-right: 1px solid #e2e2e2;">
                    <div class="card-block">
                        <h4 class="color-primary"><span class="" id="debit-total"></span>
                        </h4>
                        <h6 class="color-primary">Total Gastos Reportados</h6>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="card  text-center">
                    <div class="card-block">
                        <h4 class="color-primary"><span class=""
                                                        id="credit-total"></span></h4>
                        <h6 class="color-primary">Total Restante</h6>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="original"></th>
                    <th class="required">Empresa
                    </th>
                    <th class="required">Proyecto
                    </th>
                    <th class="required">Concepto
                    </th>
                    <th class="required">Monto
                    </th>
                    <th class="required">Entregado a
                    </th>
                    <th class="required">Fecha
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for obj in details %}
                    <tr align="left">
                        <td></td>
                        <td>{{ obj.internal_company.name }}</td>
                        <td>{% if obj.project != None %}{{ obj.project }}{% endif %}</td>
                        <td>{{ obj.description }}</td>
                        <td style="text-align: left">$ {{ obj.debit|intcomma }}</td>
                        <td style="text-align: left">{{ obj.deliveryto }}</td>
                        <td style="text-align: left">{{ obj.registry_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    </div>

    <script>
    jQuery(function ($) {

         $(document).ready(function () {
             $('#credit-total').html(toCurrency({{ totalExpense }}));
             $('#debit-total').html(toCurrency({{ totalDebit }}));
         });
        function toCurrency(val) {
            return '$' + parseFloat(val,10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
        }
    });
    </script>
{% endblock %}