{% extends "admin/base_site.html" %}
{% load i18n app_filters admin_static %}


{% block extrastyle %}{{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static "HumanResources/css/custom_hr.css" %}"/>

    <link rel="stylesheet" type="text/css" href="{% static "Accounting/css/jquery.multiselect.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "Accounting/css/multi-custom.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static "Accounting/js/jquery.multiselect.js" %}"></script>

    <style>

        table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
            position: absolute;
            bottom: 8px;
            right: 0px !important;
            display: block;
            font-family: 'Glyphicons Halflings';
            opacity: 0.7;
        }

        .form-inline {
            display: block;
        }

        .col-xs-4 {
            height: 65px;
        }

        #msTypePolicyArray {
            display: none !important;
        }

        .policy > .form-group {
            margin: 0px;
        }

        .required {
            padding: 0px !important;
            margin: 0px !important;
            font-size: 11px !important;
        }

        .table tr td, .table tr th {
            padding: 2px 2px !important;
        }


    </style>


{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}


        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-info"><i
                        class="zmdi  zmdi-file-text"></i></span>
                    <h3 class="section-title">Reporte de Gastos </h3>
                    <hr>
                </div>
            </div>
            <div class="col-xs-6">
                <ul class="list-group" style="margin-bottom: 0px;">
                    <li class="list-group-item withripple "><span class="color-info" style="font-size: 12px">Empresa:</span> <span style="font-size: 11px">{{ expense.internal_company.name }}</span>
                    </li>
                      <li class="list-group-item withripple "><span class="color-info" style="font-size: 12px">Valor Total:</span> <span style="font-size: 11px">$ {{ expense.total_ammount|intcomma }}</span>
                    </li>
                     <li class="list-group-item withripple "><span class="color-info" style="font-size: 12px">Tipo de Documento:</span> <span style="font-size: 11px">{{ expense.type_document }}</span>
                    </li>
                     <li class="list-group-item withripple "><span class="color-info" style="font-size: 12px">Concepto:</span> <span style="font-size: 11px">{{ expense.description }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="list-group" style="margin-bottom: 0px;">
                    <li class="list-group-item withripple "><span class="color-info" style="font-size: 12px">Fecha de Registro:</span> <span style="font-size: 11px">{{ expense.registry_date }}</span>
                    </li>
                      <li class="list-group-item withripple "><span class="color-info" style="font-size: 12px">Monto Líquido:</span> <span style="font-size: 11px">$ {{ expense.monto|intcomma }}</span>
                    </li>
                    <li class="list-group-item withripple "><span class="color-info" style="font-size: 12px">Documento:</span> <span style="font-size: 11px">{{ expense.reference }}</span>
                    </li>
                    <li class="list-group-item withripple "><span class="color-info" style="font-size: 12px">Evidencias:</span> <span style="font-size: 11px"><b><a href="/media/{{ expense.file_evidence }}">{{ expense.file_evidence|filename}}</a></b></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" style="padding-top: 0px">
            <div class="col-xs-12">
                <div class="">
                    <h4 class="section-title"><b>Detalle de Gastos</b></h4>
                    <hr>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="card  text-center" style="border-right: 1px solid #e2e2e2; margin-bottom: 0px;">
                    <div class="card-block">
                        <h5 class="color-primary" style="margin-bottom: 0px;"><span class="" id="debit-total"></span>
                        </h5>
                        <span class="color-primary" style="font-size: 11px">Total Gastos Reportados</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="card  text-center" style="margin-bottom: 0px;">
                    <div class="card-block">
                        <h5 class="color-primary" style="margin-bottom: 0px;"><span class=""
                                                        id="credit-total"></span></h5>
                        <span class="color-primary" style="font-size: 11px">Total Restante</span>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="original"></th>
                    <th class="required">Empresa
                    </th>
                    <th class="required">Proyecto
                    </th>
                    <th class="required">Concepto
                    </th>
                    <th class="required">Monto
                    </th>
                    <th class="required">Entregado a
                    </th>
                    <th class="required">Fecha
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for obj in details %}
                    <tr align="left">
                        <td></td>
                        <td class="required">{{ obj.internal_company.name }}</td>
                        <td class="required">{% if obj.project != None %}{{ obj.project }}{% endif %}</td>
                        <td class="required">{{ obj.description }}</td>
                        <td class="required" style="text-align: left">$ {{ obj.debit|intcomma }}</td>
                        <td class="required" style="text-align: left">{{ obj.deliveryto }}</td>
                        <td class="required" style="text-align: left">{{ obj.registry_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    </div>

    <script>
    jQuery(function ($) {

         $(document).ready(function () {
             $('#credit-total').html(toCurrency({{ totalExpense }}));
             $('#debit-total').html(toCurrency({{ totalDebit }}));
         });
        function toCurrency(val) {
            return '$' + parseFloat(val,10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
        }
    });
    </script>
{% endblock %}