<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-info"><i
                    class="zmdi zmdi-border-color zmdi-hc-fw"></i></span>
            <h3 class="section-title">Póliza</h3>
            <hr>
        </div>
    </div>
    <div class="col-xs-3 text-center">
        <p>Enero 2017</p>
        <h4 class="text-normal text-center color-info">Periodo Fiscal</h4>
    </div>
    <div class="col-xs-3 text-center">
        <p>Ingreso</p>
        <h4 class="text-normal text-center color-info">Tipo de Poliza</h4>
    </div>
    <div class="col-xs-3 text-center">
        <p>123456</p>
        <h4 class="text-normal text-center color-info">Folio</h4>
    </div>
    <div class="col-xs-3 text-center">
        <p>18/12/2017</p>
        <h4 class="text-normal text-center color-info">Fecha Registro</h4>
    </div>
</div>
<div class="row">

    <div class="col-xs-6 text-left">
        <h4 class="text-normal text-center color-info">Referencia</h4>
        <p>Texto amplio de referencia</p>

    </div>

    <div class="col-xs-6 text-left">
        <h4 class="text-normal text-center color-info">Concepto</h4>
        <p>Texto amplio de Concepto</p>

    </div>
</div>
<div class="row" style="padding-top: 35px">
    <div class="col-xs-12">
        <div class="">
            <h3 class="section-title">Detalle de Pólizas</h3>
            <hr>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="card  text-center" style="border-right: 1px solid #e2e2e2;">
            <div class="card-block">
                <h2 class="color-primary"><span class="counter" id="debit-total">$ 5,000</span></h2>
                <h4 class="color-primary">Total Debe</h4>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="card  text-center">
            <div class="card-block">
                <h2 class="color-primary"><span class="counter" id="credit-total">$ 5,000</span></h2>
                <h4 class="color-primary">Total Haber</h4>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="original"></th>
            <th class="required">Cuenta
            </th>
            <th class="required">Concepto
            </th>
            <th class="required">Debe
            </th>
            <th class="required">Haber
            </th>
            <th>Eliminar?</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
