{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    <style>
        p {
            margin: 0;
        }

        hr {
            display: block;
            border-top: 1px solid #00a09b;
            margin: 10px 0;
        }

        .card .card-block, .card.card-block {
            padding: 20px;
            padding: 0rem;
        }

        .card.card-info {
            border-bottom: solid 0px #00bcd4;
            border-radius: 0px;
        }

        .card {
            box-shadow: none;
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .14), 0 0px 0px 0px rgba(0, 0, 0, .2), 0 0px 0px 0 rgba(0, 0, 0, .12);
            border-radius: 2px;
            background-color: #fff;
            margin-bottom: 20px;
            margin-bottom: 2rem;
        }

        .truncate {
            width: 420px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ms-hero-bg-info:after {
            background-color: #204280 !important;
        }

        .list-group .list-group-item, .list-group a.list-group-item {
            font-size: 13px !important;
            line-height: 26px;
        }

        .nav.nav-tabs li a {
            font-weight: 400;
            padding: 1.7rem 7px;
            color: rgba(255, 255, 255, .5) !important;
            text-align: center;
            font-size: 12px;
        }

        .list-group {
            border-left: solid 0px #eee;
            border-right: solid 0px #eee;
        }

        .list-group .list-group-item, .list-group a.list-group-item {
            border: 0;
            padding: 10px 15px;
            margin: 0;
            transition: all ease .3s;
            border-bottom: solid 0px #eee;
            vertical-align: middle;
        }

        .checkbox label .checkbox-material {
            margin-right: 10px;
            margin-right: 0;
        }

        .list-group .list-group-item:first-child, .list-group a.list-group-item:first-child {
            border-top: solid 0px #eee;
        }

        dd, dt {
            line-height: 1.3 !important;
        }

        .active_btn
        {
            border-bottom: 3px solid white !important;
        }
    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_change_permission %}
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}
            {{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo;
            {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
        </div>

    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        {% comment %}<li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endcomment %}    {% endblock %}
                </ul>
            {% endif %}{% endif %}
        {% endblock %}

        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
              id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                {% if errors %}
                    <p class="errornote">
                        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}
                    <div class="container">
                    <h2 class=" text-center">Perfil de Empleado</h2>
                    <hr>
                    <div class="btn-group btn-group-justified btn-group-raised">
                                <a class="btn btn-primary employee-menu" href="{% if request.GET.employee %}/admin/HumanResources/employee/{{request.GET.employee}}/change/?employee={{request.GET.employee}}{% else %}#{% endif %}">Datos<br> Personales
                                    <div class="ripple-container {% if request.resolver_match.view_name in "admin:HumanResources_employee_add,admin:HumanResources_employee_change"|slice:"," %}{{ "active_btn" }}{% endif %}"></div>
                                </a>
                                <a class="btn btn-primary employee-menu" href="{% if request.GET.employee %}/admin/HumanResources/education/add/?employee={{request.GET.employee}}{% else %}#{% endif %}">Formación<br>
                                    Académica
                                    <div class="ripple-container {% if request.resolver_match.view_name == "admin:HumanResources_education_add" %}{{ "active_btn" }}{% endif %}"></div>
                                </a>
                                <a class="btn btn-primary employee-menu" href={% if request.GET.employee %}"/admin/HumanResources/emergencycontact/add/?employee={{request.GET.employee}}"{% else %}"#"{% endif %}>
                                    <div class="ripple-container {% if request.resolver_match.view_name == "admin:HumanResources_emergencycontact_add" %}{{ "active_btn" }}{% endif %}"></div>
                                    Contactos de<br> Emergencia
                                </a>
                                <a class="btn btn-primary employee-menu" href={% if request.GET.employee %}"/admin/HumanResources/familymember/add/?employee={{request.GET.employee}}"{% else %}"#"{% endif %}>
                                    <div class="ripple-container {% if request.resolver_match.view_name == "admin:HumanResources_familymember_add" %}{{ "active_btn" }}{% endif %}"></div>
                                    Familiares
                                </a>
                                <a class="btn btn-primary employee-menu" href={% if request.GET.employee %}"/admin/HumanResources/workreference/add/?employee={{request.GET.employee}}"{% else %}"#"{% endif %}>
                                    <div class="ripple-container {% if request.resolver_match.view_name == "admin:HumanResources_workreference_add" %}{{ "active_btn" }}{% endif %}"></div>
                                    Referencias
                                </a>
                                <a class="btn btn-primary employee-menu" href={% if request.GET.employee %}"/admin/HumanResources/testapplication/add/?employee={{request.GET.employee}}"{% else %}"#"{% endif %}>
                                    <div class="ripple-container {% if request.resolver_match.view_name == "admin:HumanResources_testapplication_add" %}{{ "active_btn" }}{% endif %}"></div>
                                    Examen <br>Psicometrico
                                </a>
                                <a class="btn btn-primary employee-menu" href={% if request.GET.employee %}"/admin/HumanResources/employeedocument/add/?employee={{request.GET.employee}}"{% else %}"#"{% endif %}>
                                    <div class="ripple-container {% if request.resolver_match.view_name == "admin:HumanResources_employeedocument_add" %}{{ "active_btn" }}{% endif %}"></div>
                                    Documentación
                                </a>
                                <a class="btn btn-primary employee-menu" href={% if request.GET.employee %}"/admin/HumanResources/employeeassistance/add/?employee={{request.GET.employee}}"{% else %}"#"{% endif %}>
                                    <div class="ripple-container {% if request.resolver_match.view_name == "admin:HumanResources_employeeassistance_add" %}{{ "active_btn" }}{% endif %}"></div>
                                    Checador
                                </a>
                                <a class="btn btn-primary employee-menu" href={% if request.GET.employee %}"/admin/HumanResources/employeepositiondescription/add/?employee={{request.GET.employee}}"{% else %}"#"{% endif %}>
                                    <div class="ripple-container {% if request.resolver_match.view_name == "admin:HumanResources_employeepositiondescription_add" %}{{ "active_btn" }}{% endif %}"></div>
                                    Puesto
                                </a>
                                <a class="btn btn-primary employee-menu" href={% if request.GET.employee %}"/admin/HumanResources/employeefinancialdata/add/?employee={{request.GET.employee}}"{% else %}"#"{% endif %}>
                                    <div class="ripple-container {% if request.resolver_match.view_name == "admin:HumanResources_employeefinancialdata_add" %}{{ "active_btn" }}{% endif %}"></div>
                                    Datos<br> Financieros
                                </a>
                            </div>
                    <div class="row mb-4">
                        <div class="col-md-2">
                            <div class="card ">
                                <div class="ms-hero-bg-info">
                                    <h3 class="color-white index-1 text-center no-m pt-2"> {{ employee.name }} {{ employee.first_last_name }} </h3>
                                    <div class="color-medium index-1 text-center np-m">ID: {{ employee.id }}</div>
                                    <img src="/media/documentos_del_usuario/7/profile_Screen_Shot_2017-09-26_at_16.56.30.png"
                                         alt=""
                                         class="img-avatar-circle"></div>
                                <div class="card-block pt-4 text-center">
                                    <h3 class="color-info">Empleado</h3>
                                    <ul class="list-group text-left">
                                        <li class="list-group-item"><strong>Id:</strong><br> {{ employee.id }}</li>
                                        <li class="list-group-item">
                                            <strong>Clave:</strong><br> {{ employee.employee_key }}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Tipo:</strong><br> {{ employee.get_type_display }}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Registro:</strong><br> {{ employee.registry_date }}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Estatus:</strong><br> {{ employee.get_status_display }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-10">

                            {% for fieldset in adminform %}
                                {% include "admin/HumanResources/fieldset.html" %}
                            {% endfor %}

                            {% block inline_field_sets %}
                                {% for inline_admin_formset in inline_admin_formsets %}
                                    {% comment %}{% include inline_admin_formset.opts.template %}{% endcomment %}
                                    {% include "admin/HumanResources/stacked.html" %}
                                {% endfor %}
                            {% endblock %}

                            <!-- Implementing the data list section -->
                            {% if template == "education" %}
                                <h2 class="section-title mt-4">Listado de Formación Académica</h2>
                                <hr>
                                <div class="table-respponsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Grado</td>
                                            <td>Nombre</td>
                                            <td>Institución</td>
                                            <td>Lincencia</td>
                                            <td>Evidencia</td>
                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in education %}
                                            <tr>
                                                <td>{{ record.get_type_display }}</td>
                                                <td>{{ record.name }}</td>
                                                <td>{{ record.institution }}</td>
                                                <td>{{ record.license_code }}</td>
                                                <td>
                                                    <a href="/media/{{ record.evidence.name }}">
                                                        Archivo
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/education/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                        Editar
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/education/{{ record.id }}/delete/">
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            {% elif template == "emergencycontact" %}
                                <h2 class="section-title mt-4">Listado de Formación Académica</h2>
                                <hr>
                                <div class="table-respponsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Apellido Paterno</td>
                                            <td>Apellido Materno</td>
                                            <td>No. Telefono</td>
                                            <td>No. Celular</td>
                                            <td>Email</td>
                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in emergencycontact %}
                                            <tr>
                                                <td>{{ record.name }}</td>
                                                <td>{{ record.first_last_name }}</td>
                                                <td>{{ record.second_last_name }}</td>
                                                <td>{{ record.phone_number }}</td>
                                                <td>{{ record.cellphone_number }}</td>
                                                <td>{{ record.email }}</td>
                                                <td>
                                                    <a href="/admin/HumanResources/emergencycontact/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                        Editar
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/emergencycontact/{{ record.id }}/delete/">
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            {% elif template == "familiars" %}
                                <h2 class="section-title mt-4">Listado de Familiares</h2>
                                <hr>
                                <div class="table-respponsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Apellido Paterno</td>
                                            <td>Apellido Materno</td>
                                            <td>Parentesco</td>
                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in familiars %}
                                            <tr>
                                                <td>{{ record.name }}</td>
                                                <td>{{ record.first_last_name }}</td>
                                                <td>{{ record.second_last_name }}</td>
                                                <td>{{ record.relationship }}</td>
                                                <td>
                                                    <a href="/admin/HumanResources/familymember/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                        Editar
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/familymember/{{ record.id }}/delete/">
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            {% elif template == "references" %}
                                <h2 class="section-title mt-4">Listado de Referencias</h2>
                                <hr>
                                <div class="table-respponsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Apellido Paterno</td>
                                            <td>Apellido Materno</td>
                                            <td>Empresa</td>
                                            <td>Teléfono #1</td>
                                            <td>Teléfono #2</td>
                                            <td>Email</td>
                                            <td>Notas</td>
                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in references %}
                                            <tr>
                                                <td>{{ record.name }}</td>
                                                <td>{{ record.first_last_name }}</td>
                                                <td>{{ record.second_last_name }}</td>
                                                <td>{{ record.company_name }}</td>
                                                <td>{{ record.first_phone_number }}</td>
                                                <td>{{ record.second_phone_number }}</td>
                                                <td>{{ record.email }}</td>
                                                <td>{{ record.notes }}</td>
                                                <td>
                                                    <a href="/admin/HumanResources/workreference/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                        Editar
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/workreference/{{ record.id }}/delete/">
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            {% elif template == "tests" %}
                                <h2 class="section-title mt-4">Listado de Exámen</h2>
                                <hr>
                                <div class="table-respponsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Fecha de Aplicacion</td>
                                            <td>Resultado</td>
                                            <td>Comentarios</td>
                                            <td>Prueba</td>

                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in tests %}
                                            <tr>
                                                <td>{{ record.application_date }}</td>
                                                <td>{{ record.result }}</td>
                                                <td>{{ record.comments }}</td>
                                                <td>{{ record.test }}</td>

                                                <td>
                                                    <a href="/admin/HumanResources/testapplication/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                        Editar
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/testapplication/{{ record.id }}/delete/">
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% elif template == "documentation" %}
                                <h2 class="section-title mt-4">Listado de Documentación</h2>
                                <hr>
                                <div class="table-respponsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Archivo</td>
                                            <td>Comentarios</td>
                                            <td>Tipo de Doc.</td>

                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in documentation %}
                                            <tr>
                                                <td>{{ record.file }}</td>
                                                <td>{{ record.comments }}</td>
                                                <td>{{ record.document_type }}</td>

                                                <td>
                                                    <a href="/admin/HumanResources/employeedocument/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                        Editar
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/employeedocument/{{ record.id }}/delete/">
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% elif template == "checker" %}
                                <h2 class="section-title mt-4">Listado de Checador</h2>
                                <hr>
                                <div class="table-respponsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Empleado</td>
                                            <td>Fecha</td>
                                            <td>Hora de Entrada</td>
                                            <td>Hora de Salida</td>
                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in checker %}
                                            <tr>
                                                <td>{{ record.employee }}</td>
                                                <td>{{ record.date }}</td>
                                                <td>{{ record.entry_time }}</td>
                                                <td>{{ record.exit_time }}</td>
                                                <td>
                                                    <a href="/admin/HumanResources/employeeassistance/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                        Editar
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/employeeassistance/{{ record.id }}/delete/">
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% elif template == "job" %}

                            {% elif template == "financial_data" %}
                                <h2 class="section-title mt-4">Listado de Datos Financieros</h2>
                                <hr>
                                <div class="table-respponsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Cuenta</td>
                                            <td>CLABE</td>
                                            <td>Salario Mensual</td>
                                            <td>Salario Diario</td>
                                            <td>Salario Diario Acumulado</td>


                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in financial_data %}
                                            <tr>
                                                <td>{{ record.account_number }}</td>
                                                <td>{{ record.CLABE }}</td>
                                                <td>{{ record.monthly_salary }}</td>
                                                <td>{{ record.daily_salary }}</td>
                                                <td>{{ record.aggregate_daily_salary }}</td>


                                                <td>
                                                    <a href="/admin/HumanResources/employeefinancialdata/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                        Editar
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/employeefinancialdata/{{ record.id }}/delete/">
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <h2 class="section-title mt-4">Listado de Crédito Infonavit</h2>
                                <hr>
                                <div class="table-respponsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Numero de Crédito</td>
                                            <td>Tipo Descuento</td>
                                            <td>Monto Descuento</td>
                                            <td>Fecha de Inicio</td>
                                            <td>Duracion</td>
                                            <td>Observaciones</td>
                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in financial_data %}
                                            <tr>
                                                <td>{{ record.infonavit_credit_number }}</td>
                                                <td>{{ record.discount_type }}</td>
                                                <td>{{ record.discount_amount }}</td>
                                                <td>{{ record.start_date }}</td>
                                                <td>{{ record.credit_term }}</td>
                                                <td>{{ record.comments }}</td>

                                                <td>
                                                    <a href="/admin/HumanResources/employeefinancialdata/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                        Editar
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/admin/HumanResources/employeefinancialdata/{{ record.id }}/delete/">
                                                        Eliminar
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% elif template == "employee_earnings_deductions" %}
                                <div class="col-xs-12">
                                <div class="col-xs-6">
                                   {% comment %} <h4 class="section-title mt-4">Percepciones</h4>{% endcomment %}
                                    <hr>
                                        <div class="table-respponsive">
                                           <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <td style="border:1px solid">Percepciones</td>
                                                <td style="border:1px solid">Monto</td>
                                                <td style="border:1px solid">Editar</td>
                                                <td style="border:1px solid">Eliminar</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for record in earnings %}
                                                    <tr>
                                                        <td style="border:1px solid">{{ record.concept }}</td>
                                                        <td style="border:1px solid">{{ record.ammount }}</td>
                                                        <td style="border:1px solid">
                                                            <a href="/admin/HumanResources/employeeearningsdeductions/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                                Editar
                                                            </a>
                                                        </td>
                                                        <td style="border:1px solid">
                                                            <a href="/admin/HumanResources/employeeearningsdeductions/{{ record.id }}/delete/">
                                                                Eliminar
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    {% comment %}<h4 class="section-title mt-4">Deducciones</h4>{% endcomment %}
                                    <hr>
                                    <div class="table-respponsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <td style="border:1px solid">Deducciones</td>
                                                <td style="border:1px solid">Monto</td>
                                                <td style="border:1px solid">Editar</td>
                                                <td style="border:1px solid">Eliminar</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for record in deductions %}
                                                    <tr>
                                                        <td style="border:1px solid">{{ record.concept }}</td>
                                                        <td style="border:1px solid">{{ record.ammount }}</td>
                                                        <td style="border:1px solid">
                                                            <a href="/admin/HumanResources/employeeearningsdeductions/{{ record.id }}/change/?employee={{ request.GET.employee }}">
                                                                Editar
                                                            </a>
                                                        </td>
                                                        <td style="border:1px solid">
                                                            <a href="/admin/HumanResources/employeeearningsdeductions/{{ record.id }}/delete/">
                                                                Eliminar
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                         {% endif %}

                        </div>
                    </div>



                {% endblock %}


                {% block after_field_sets %}{% endblock %}


                {% block after_related_objects %}{% endblock %}
                <hr>
                {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                {% block admin_change_form_document_ready %}
                    <script type="text/javascript">
                        (function ($) {
                            $(document).ready(function () {
                                $('.add-another').click(function (e) {
                                    e.preventDefault();
                                    var event = $.Event('django:add-another-related');
                                    $(this).trigger(event);
                                    if (!event.isDefaultPrevented()) {
                                        showAddAnotherPopup(this);
                                    }
                                });

                                {% if adminform and add %}
                                    $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                                {% endif %}
                            });
                        })(django.jQuery);
                    </script>
                {% endblock %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}

                </div>
        </form>
    </div>


{% endblock %}
