{% block content %}
    <script type="text/javascript" src="/static/HumanResources/js/url_menu.js"></script>
    <style>
        #changelist table thead th div a {
            color: white;
        }
    </style>

    <div class="col-xs-3 ms-paper-menu-left-container" style="padding-bottom: 50px">
        <div class="ms-paper-menu-left">
            <h3 class="ms-paper-menu-title">
                Contratación

            </h3>
            <div class="panel-menu collapse" id="collapseMenu">
                <ul class="panel-group ms-collapse-nav" id="components-nav" role="tablist"
                    aria-multiselectable="true">

                    <li class="panel" role="tab" id="Conte7">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#Contc7"
                           aria-expanded="true" aria-controls="Contc7" class="collapsed withripple">
                            Requisición de Personal
                        </a>
                        <ul id="Contc7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Conte7">
                            <li>
                                <a class="withripple" href="/admin/HumanResources/employeerequisition/add/">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/admin/HumanResources/employeerequisition/">
                                    <i class="fa fa-search"></i> Consultar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="panel" role="tab" id="e7">
                        <a role="button" data-toggle="collapse" data-parent="#components-nav" href="#c7"
                           aria-expanded="true" aria-controls="c7" class="collapsed withripple">
                            Contratos</a>
                        <ul id="c7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="e7">
                            <li>
                                <a class="withripple" href="/admin/HumanResources/employeecontract/add/">
                                    <i class="fa fa-plus"></i> Agregar</a>
                            </li>
                            <li>
                                <a class="withripple" href="/admin/HumanResources/employeecontract/">
                                    <i class="fa fa-search"></i> Consultar</a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <!-- ms-collapse-nav -->
            </div>
        </div>
    </div>
    <!-- col-md-3 -->

{% endblock %}

