{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block coltype %}colMS{% endblock %}


{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}{{ block.super }}
    <style>
        p {
            margin: 0;
        }

        hr {
            display: block;
            border-top: 1px solid #00a09b;
            margin: 10px 0;
        }

        .card .card-block, .card.card-block {
            padding: 20px;
            padding: 0rem;
        }

        .card.card-info {
            border-bottom: solid 0px #00bcd4;
            border-radius: 0px;
        }

        .card {
            box-shadow: none;
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .14), 0 0px 0px 0px rgba(0, 0, 0, .2), 0 0px 0px 0 rgba(0, 0, 0, .12);
            border-radius: 2px;
            background-color: #fff;
            margin-bottom: 20px;
            margin-bottom: 2rem;
        }

        .truncate {
            width: 420px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ms-hero-bg-info:after {
            background-color: #204280 !important;
        }

        .list-group .list-group-item, .list-group a.list-group-item {
            font-size: 13px !important;
            line-height: 26px;
        }

        .nav.nav-tabs li a {
            font-weight: 400;
            padding: 1.7rem 7px;
            color: rgba(255, 255, 255, .5) !important;
            text-align: center;
            font-size: 12px;
        }
        .list-group {
            border-left: solid 0px #eee;
            border-right: solid 0px #eee;
        }

        .list-group .list-group-item, .list-group a.list-group-item {
            border: 0;
            padding: 10px 15px;
            margin: 0;
            transition: all ease .3s;
            border-bottom: solid 0px #eee;
            vertical-align: middle;
        }

        .checkbox label .checkbox-material {
            margin-right: 10px;
            margin-right: 0;
        }

        .list-group .list-group-item:first-child, .list-group a.list-group-item:first-child {
            border-top: solid 0px #eee;
        }
    dd, dt {
    line-height: 1.3 !important;
}
    </style>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="col-md-3">
            <div class="card" style="border-right: 1px solid #e1e1e1">

                <img style="top: -55px;"
                     src="/media/documentos_del_usuario/7/profile_Screen_Shot_2017-09-26_at_16.56.30.png" alt=""
                     class="img-avatar-circle">
            </div>
        </div>
        <div class="col-md-3">
            <dl>
                <dt>Nombre</dt>
                <dd>ewrt{{ employee.name }}</dd>
                <dt>Tipo de empleado</dt>
                <dd>ert{{ employee.get_type_display }}</dd>
            </dl>

        </div>
        <div class="col-md-3">
            <dl>
                <dt>Apellido Paterno</dt>
                <dd>ewrt {{ employee.first_last_name }}</dd>
                <dt>Registro</dt>
                <dd>ert {{ employee.registry_date }}</dd>
            </dl>
        </div>
        <div class="col-md-3">
            <dl>
                <dt>Apellido Materno</dt>
                <dd>ewrt {{ employee.second_last_name }}</dd>
                <dt>Estatus</dt>
                <dd>ert {{ employee.get_status_display }}</dd>
            </dl>
        </div>
        <hr>

        <div class="col-md-12">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#personales" aria-controls="personales" role="tab" data-toggle="tab">Datos
                            personales</a>
                    </li>
                    <li role="presentation">
                        <a href="#academica" aria-controls="academica" role="tab" data-toggle="tab">Formacion
                            academica</a>
                    </li>
                    <li role="presentation">
                        <a href="#contactos" aria-controls="contactos" role="tab" data-toggle="tab">Contactos de
                            emergencia</a>
                    </li>
                    <li role="presentation">
                        <a href="#familiares" aria-controls="familiares" role="tab" data-toggle="tab">Familiares</a>
                    </li>
                    <li role="presentation">
                        <a href="#referencias" aria-controls="referencias" role="tab"
                           data-toggle="tab">Referencias</a>
                    </li>
                    <li role="presentation">
                        <a href="#pruebas" aria-controls="pruebas" role="tab" data-toggle="tab">Examen Psicometricos</a>
                    </li>
                    <li role="presentation">
                        <a href="#doc" aria-controls="doc" role="tab" data-toggle="tab">Documentacion</a>
                    </li>
                    <li role="presentation">
                        <a href="#checador" aria-controls="checador" role="tab" data-toggle="tab">Checador</a>
                    </li>
                     <li role="presentation">
                        <a href="#puesto" aria-controls="checador" role="tab" data-toggle="tab">Puesto</a>
                    </li>
                     <li role="presentation">
                        <a href="#financieros" aria-controls="checador" role="tab" data-toggle="tab">Datos Financieros</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="personales">
                        {% include "admin/HumanResources/employee/change_form.html/add" %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="academica">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="contactos">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="familiares">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="referencias">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="pruebas">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="doc">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="checador">

                    </div>

                     <div role="tabpanel" class="tab-pane" id="puesto">

                    </div>

                     <div role="tabpanel" class="tab-pane" id="financieros">

                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}

