{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% load human_resources %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}{{ block.super }}
    <style>
        p {
            margin: 0;
        }

        hr {
            display: block;
            border-top: 1px solid #00a09b;
            margin: 10px 0;
        }

        .card .card-block, .card.card-block {
            padding: 20px;
            padding: 0rem;
        }

        .card.card-info {
            border-bottom: solid 0px #00bcd4;
            border-radius: 0px;
        }

        .card {
            box-shadow: none;
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .14), 0 0px 0px 0px rgba(0, 0, 0, .2), 0 0px 0px 0 rgba(0, 0, 0, .12);
            border-radius: 2px;
            background-color: #fff;
            margin-bottom: 20px;
            margin-bottom: 2rem;
        }

        .truncate {
            width: 420px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ms-hero-bg-info:after {
            background-color: #204280 !important;
        }

        .list-group .list-group-item, .list-group a.list-group-item {
            font-size: 13px !important;
            line-height: 26px;
        }

        .nav.nav-tabs li a {
            font-weight: 400;
            padding: 1.7rem 7px;
            color: rgba(255, 255, 255, .5) !important;
            text-align: center;
            font-size: 12px;
        }

        .list-group {
            border-left: solid 0px #eee;
            border-right: solid 0px #eee;
        }

        .list-group .list-group-item, .list-group a.list-group-item {
            border: 0;
            padding: 10px 15px;
            margin: 0;
            transition: all ease .3s;
            border-bottom: solid 0px #eee;
            vertical-align: middle;
        }

        .checkbox label .checkbox-material {
            margin-right: 10px;
            margin-right: 0;
        }

        .list-group .list-group-item:first-child, .list-group a.list-group-item:first-child {
            border-top: solid 0px #eee;
        }

        dd, dt {
            line-height: 1.3 !important;
        }

        #save_changes_button {
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static "HumanResources/css/custom_hr.css" %}"/>
    <script src="{% static "HumanResources/js/ajax_payroll.js" %}"></script>
{% endblock %}
{% block content %}

    <div class="container">
        {% include "admin/HumanResources/payroll-home.html" %}
        <div class="col-xs-9">
            <div class="col-md-6">
                <h3 class="section-title">Listado de Nómina</h3>
            </div>
            <div class="col-md-6">
                {% comment %}  <div class="text-right" style="display: flex;text-align: right;float: right;">
                         <a href=# onclick="sendSelected('/humanresources/api/generate_payroll_receipt?payroll_period={{ payrollperiod }}')"  class="btn btn-raised btn-success">
                            <i class="fa fa-file-pdf-o"></i> Generar Recibos
                         </a> {% endcomment %}
                &nbsp;   </div>


            <div class="col-md-12">
                <hr>
                {% for record_period in payrolldata %}
                    <div class="col-md-3"><strong>Periodo :</strong> <br> {{ record_period.name }}</div>
                    <div class="col-md-3"><strong>Grupo :</strong> <br> {{ record_period.payroll_group }}</div>
                    <div class="col-md-3"><strong>Inicio de Periodo : </strong><br>{{ record_period.start_period }}
                    </div>
                    <div class="col-md-3"><strong>Fin de Periodo :</strong><br> {{ record_period.end_period }}</div>

                {% endfor %}

            </div>

            <div class="col-md-12">
                <hr>
                <div class="col-md-3">
                    <div class="text-right" style="display: flex;text-align: right;float: right;">
                        <a href="/admin/HumanResources/uploadedemployeeassistancehistory/add?payroll_period={{ payrollperiod }}"
                           class="btn btn-raised btn-primary">
                            <i class="fa fa-users"></i> Cargar Asistencias
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-right" style="display: flex;text-align: right; float: right;">
                        <a href=" /admin/HumanResources/employeeassistance/incidences_by_period/{{ payrollperiod }}/"
                           class="btn btn-raised btn-warning">
                            <i class="fa fa-user-times"></i> Justificar Asistencias
                        </a>
                    </div>
                </div>
                <div class="col-md-3" >
                    <div class="text-right" style="display: flex;text-align: right;">
                        <a href=#
                           onclick="sendSelected('/humanresources/api/generate_payroll_receipt?payroll_period={{ payrollperiod }}')"
                           class="btn btn-raised btn-success">
                            <i class="fa fa-file-pdf-o"></i> Generar Recibos
                        </a>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="text-right" style="display: flex;text-align: right;float: right;">
                        <a href=#
                           onclick="sendSelected('/humanresources/api/export_payroll_list?payroll_period={{ payrollperiod }}')"
                           class="btn btn-raised btn-info">
                            <i class="fa fa-file-excel-o"></i> Exportar Lista Nominal
                        </a>
                    </div>

                </div>
                <hr>
            </div>
            <div class="col-md-12">
                <hr>
                <div class="table-respponsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Clave</td>
                            <td>Nombre</td>
                            <td>Puesto Asignado</td>
                            <td>P/D por Periodo</td>
                            <td>Excluir</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in employees %}
                            <tr>
                                <td>{{ record.employee.employee_key }}</td>
                                <td>{{ record.employee.name }} {{ record.employee.first_last_name }} {{ record.employee.second_last_name }}</td>
                                <td>{{ record.job_profile.job }}</td>
                                <td>
                                    <a href="/admin/HumanResources/employeeearningsdeductionsbyperiod/add/?employee={{ record.employee.id }}&payrollperiod={{ payrollperiod }}&payrollgroup={{ request.GET.payrollgroup }}"
                                       class="btn btn-raised btn-default btn-xs"><i
                                            class="fa fa-address-card-o color-default"></i>
                                    </a>
                                </td>
                                <td>


                                    <input type="checkbox" class="employee_exclusion_checkbox"
                                           name="employee_exclusion_checkbox_{{ record.id }}" id="employees"
                                           value="{{ record.employee.id }}" {{ record | employee_is_active:payrollperiod }}>


                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


                <div class="col-md-12">
                    <div id="save_changes_button" class="text-right"
                         style="text-align: right;float: right;">
                        <a href="#" onclick="saveExcluded({{ payrollperiod }})"
                           class="btn btn-raised btn-primary">
                            <span id="save_changes_button_label">Guardar Cambios</span>
                        </a>
                    </div>
                </div>
            </div>
            <script>
                $('.col-xs-4>.required>div').removeClass('form-group');

            </script>
        </div>
    </div>


{% endblock %}

