{% load app_filters admin_static %}
<style>
    .no_change {
        pointer-events: none;
    }

</style>
<fieldset class=" {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% comment %}{% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}{% endcomment %}

<div class="col-xs-12">
    <div class="card " style="">
        <div class="card-header">
                <div class="item-left">
                    <h3 class="card-title text">Conceptos del Contrato</h3>
                </div>
        <div class="item-right"> {% for concept in concepts %}
                    <a href="/admin/ERP/contratocontratista/{{ concept.contractlineitem.contrato.id}}/?contrato={{ concept.contractlineitem.contrato.id}}"
                       class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i class="zmdi zmdi-city-alt zmdi-hc-2x"></i>
                    </a>
                                {% endfor %}

                </div>
        </div>
        <div class="card-block">
            <div class="tab-content">
                {% for line in fieldset %}
                    {% for field in line %}

                        {% if field.field.name == "contractlineitem" %}
                            <div role="tabpanel" class="tab-pane fade active in">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <h2 class="text-center"></h2>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="form-group field-{{ field.field.name }}">
                                            <div>
                                                {{ field.label_tag }}
                                                {{ field.field|addcss:"form-control no_change" }}
                                                {{ field.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                        {% endif %}

                    {% if field.field.name == "concept" %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group field-{{ field.field.name }}">
                                            <div id="concept_input_container">
                                                {{ field.label_tag }}
                                                {{ field.field|addcss:"form-control" }}
                                                {{ field.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    {% endif %}

                    {% if field.field.name == "amount" %}
                            <div class="row">
                                <div class="col-md-4" >
                                    <div class="form-group">
                                        <div id="concept_amount">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div id="rest_amount">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="amount_section" hidden="true">
                                    <div class="form-group field-{{ field.field.name }}">
                                        <div>
                                            {{ field.label_tag }}
                                            {{ field.field|addcss:"form-control" }}
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endif %}


                        {% if field.field.name == "version" %}
                            {{ field.field|addcss:"form-control" }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</fieldset>



