{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "HumanResources/css/custom_hr.css" %}"/>
{% endblock %}
{% block content %}
    {% include "admin/HumanResources/payroll-home.html" %}

    <div class="col-xs-9">

        <div class="card ">


            <ul class="nav nav-tabs  nav-tabs-8 shadow-2dp" role="tablist">
                <li role="presentation" class="active">
                    <a class="withoutripple" href="#otro0" aria-controls="otro0" role="tab" data-toggle="tab">
                        Incidencias del empleado <strong>{{ employee.employee_key }}
                        - {{ employee.get_full_name }}</strong>
                        del periodo <strong>{{ payroll_period }}</strong>
                    </a>
                </li>
            </ul>


            <div class="card-block">
                <div class="tab-content">

                    <div class="table-responsive mt-15">
                        {% if incidences %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Hora de Entrada</th>
                                    <th>Hora de Salida</th>
                                    <th style="text-align: center">Justificada</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for record in incidences %}

                                    <tr>
                                        <td>{{ record.record_date }}</td>
                                        <td>
                                            {{ record.entry_time }}
                                        </td>
                                        <td>
                                            {{ record.exit_time }}
                                        </td>
                                        <td style="text-align: center">

                                            <form method="POST"
                                                  action="/humanresources/api/change_justified_status"
                                                  style="display: inline-block">
                                                {% csrf_token %}
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                <input type="hidden" name="employee_assistance" value="{{ record.id }}">
                                                <input type="hidden" name="status" value="1">
                                                <button type="submit" class="btn btn-raised btn-default btn-sm"
                                                        {% if record.justified == False %}
                                                        style="opacity: .4"
                                                        {% endif %}
                                                >
                                                    <i class="fa fa-check color-default"
                                                            {% if record.justified == True %}
                                                       style="color: #3FA43F"
                                                            {% endif %}
                                                    >
                                                    </i>
                                                </button>
                                            </form>

                                            <form method="POST"
                                                  action="/humanresources/api/change_justified_status"
                                                  style="display: inline-block">
                                                {% csrf_token %}
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                <input type="hidden" name="employee_assistance" value="{{ record.id }}">
                                                <input type="hidden" name="status" value="0">
                                                <button type="submit" class="btn btn-raised btn-default btn-sm"
                                                        {% if record.justified == True %}
                                                        style="opacity: .4"
                                                        {% endif %}
                                                >
                                                    <i class="fa fa-close color-default"
                                                            {% if record.justified == False %}
                                                       style="color: #EE2A2A"
                                                            {% endif %}
                                                    >
                                                    </i>
                                                </button>
                                            </form>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            No se han encontrado incidencias del empleado.
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>


        <div class=" ">
            <div class="card-header" style="background-color: inherit">
                <div class="item-left">
                    <h3 class="card-title text">Documentos Justificantes</h3>
                </div>

                <ul class="object-tools" style="position: relative">


                    <div class="item-right" style="top: -43px !important;">

                        <a href="/admin/HumanResources/absenceproof/add/?payroll_period={{ payroll_period.id }}&employee={{ employee.id }}"
                       class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i
                            class="zmdi zmdi-plus zmdi-hc-2x"></i>
                    </a>
                    </div>

                </ul>

            </div>


            <div class="card-block">
                <div class="tab-content">

                    <div class="table-responsive mt-15">
                        {% if absence_proofs %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th class="text-center">Ver</th>
                                    <th class="text-center">Descargar</th>
                                    <th class="text-center">Editar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for record in absence_proofs %}

                                    <tr>
                                        <td style="width: 64%">
                                            {{ record.description }}
                                        </td>

                                        <td class="text-center" style="width: 8%">
                                            <a href="/media/{{ record.document.name }}"
                                               class="btn btn-raised btn-default btn-sm" target="_blank">
                                                <i class="fa fa-eye">
                                                </i>
                                            </a>
                                        </td>

                                        <td class="text-center" style="width: 8%">
                                            <a href="/media/{{ record.document.name }}" download
                                               class="btn btn-raised btn-default btn-sm">
                                                <i class="fa fa-cloud-download color-info">
                                                </i>
                                            </a>
                                        </td>

                                        <td class="text-center" style="width: 8%">
                                            <a href="/admin/HumanResources/absenceproof/{{ record.id }}/change/?payroll_period={{ record.payroll_period.id }}&employee={{ record.employee.id }}"
                                               class="btn btn-raised btn-default btn-sm">
                                                <i class="fa fa-pencil color-black">
                                                </i>
                                            </a>
                                        </td>


                                        <td class="text-center" style="width: 8%">
                                            <a href="/admin/HumanResources/absenceproof/{{ record.id }}/delete/?payroll_period={{ record.payroll_period.id }}&employee={{ record.employee.id }}"
                                               class="btn btn-raised btn-default btn-sm">
                                                <i class="fa fa-trash color-danger">
                                                </i>
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            No se han encontrado documentos justificantes.
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>

    </div>



{% endblock %}