{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters %}
{% block content %}


    <div class="card ">
        <ul class="nav nav-tabs  nav-tabs-8 shadow-2dp" role="tablist">
            <li role="presentation" class="active">
                <a class="withoutripple" href="#otro0" aria-controls="otro0" role="tab" data-toggle="tab">
                    Grupo de Nómina: {{ payrollgroup.name }}. Periodo: {{ payrollperiod.name }}
                </a>
            </li>


            <div class="item-right">

                <a href="/admin/HumanResources/payrollperiod/add/?payroll_group={{ payrollgroup.id }}"
                   class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i
                        class="zmdi zmdi-plus zmdi-hc-2x"></i>
                </a>
            </div>
        </ul>
        <div class="card-block">
            <div class="tab-content">


                <div class="table-responsive mt-15">
                    {% if object_list %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Ver</th>
                                <th>Configurar</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td>{{ object.id }}</td>
                                    <td>{{ object.get_full_name }}</td>
                                    <td><a href="/admin/HumanResources/payrollperiod/{{ object.id }}/"
                                           class="btn btn-raised btn-default btn-xs"><i
                                            class="fa fa-eye color-default eliminar"> </i>
                                        <div class="ripple-container"></div>
                                    </a></td>
                                    <td><a href="/admin/HumanResources/payrollperiod/employee/{{ object.id }}/"
                                           class="btn btn-raised btn-default btn-xs"><i
                                            class="fa fa-pencil color-default eliminar"> </i>
                                        <div class="ripple-container"></div>
                                    </a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No hay empleados asignados el grupo de nómina.
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}

