{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "HumanResources/css/custom_hr.css" %}"/>
{% endblock %}
{% block content %}

    {% include "admin/HumanResources/payroll-home.html" %}

    <div class="col-xs-9">

        <div class="card ">
            <ul class="nav nav-tabs  nav-tabs-8 shadow-0dp" style="background-color: white" role="tablist">
                {% comment %}<li role="presentation" class="active">
                    <a class="withoutripple" href="#otro0" aria-controls="otro0" role="tab" data-toggle="tab">
                        Grupo de Nómina: {{ payrollgroup.name }}
                    </a>
                </li>{% endcomment %}
                <div class="row">
                    <div class="col-xs-12">

                        <div class="">
                            <h3 class="section-title">Recibos de Nómina</h3>
                            <hr>
                        </div>
                    </div>
                </div>


            </ul>


            <div class="card-block">
                <div class="tab-content">
                    <div class="table-responsive mt-15">


                        {% if receipts %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Empleado</th>
                                    <th>Descargar</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for record in receipts %}
                                    <tr>
                                        <td>{{ record.employee.employee_key }}</td>
                                        <td>{{ record.employee.get_full_name }}</td>
                                        <td>
                                            <a href="/humanresources/api/generate_payroll_receipt_for_employee?employee={{ record.employee.id }}&payroll_period={{ payroll_period.id }}"
                                               class="btn btn-raised btn-default btn-xs">
                                                <i class="fa fa-download color-default eliminar"></i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            No hay recibos de nómina generados en este periodo.
                        {% endif %}
                    </div>



                <div class="col-md-12">
                            <div class="text-right" style="display: flex;text-align: right;float: right;">
                                 <a href="/humanresources/api/generate_paysheet_report?payroll_period={{ payroll_period.id }}&title=Datos de Empleados para Generar CFD"
                                   class="btn btn-raised btn-facebook">
                                    <i class="fa fa-file-excel-o"></i> Exportar Datos CFD
                                </a>
                                <a href="/humanresources/api/export_payroll_list?payroll_period={{ payroll_period.id }}"
                                   class="btn btn-raised btn-facebook">
                                    <i class="fa fa-file-excel-o"></i> Exportar Lista Nominal
                                </a>
                                 <a href="/humanresources/api/generate_earnings_deductions_report?payroll_period_id={{ payroll_period.id }}"
                                   class="btn btn-raised btn-facebook">
                                    <i class="fa fa-file-excel-o"></i> Exportar Reporte P/D
                                </a>
                                 <a href="/humanresources/api/delete_payroll_receipts?payroll_period={{ payroll_period.id }}"
                               class="btn btn-raised btn-danger">
                                <i class="fa fa-trash"></i> Eliminar Recibos de Nómina
                            </a>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="text-right" style="display: flex;text-align: right;float: right;">

                            </div>
                        </div>

                        <div class="col-md-3">


                        </div>




                </div>
            </div>
        </div>
    </div>


{% endblock %}