{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "HumanResources/css/custom_hr.css" %}"/>
{% endblock %}
{% block content %}
     {% include "admin/HumanResources/payroll-home.html" %}

    <div class="col-xs-9">

        <div class="card ">
            <ul class="nav nav-tabs  nav-tabs-8 shadow-0dp" style="background-color: white" role="tablist">
                {% comment %}<li role="presentation" class="active">
                    <a class="withoutripple" href="#otro0" aria-controls="otro0" role="tab" data-toggle="tab">
                        Grupo de Nómina: {{ payrollgroup.name }}
                    </a>
                </li>{% endcomment %}
                <div class="row">
                    <div class="col-xs-12">

                        <div class="">
                            <h3 class="section-title">Grupo de Nómina: {{ payrollgroup.name }}</h3>
                            <hr>
                        </div>
                    </div>
                </div>


                <div class="item-right">

                    <a href="/admin/HumanResources/payrollperiod/add/?payroll_group={{ payrollgroup.id }}"
                       class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i
                            class="zmdi zmdi-plus zmdi-hc-2x"></i>
                    </a>
                </div>
            </ul>
            <div class="card-block">
                <div class="tab-content">


                    <div class="table-responsive mt-15">
                        {% if object_list %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Periodicidad</th>
                                    <th>Periodo Inicial</th>
                                    <th>Periodo Final</th>
                                    <th>Tipo de Nómina</th>
                                    <th>Listado</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.id }}</td>
                                        <td>{{ object.name }}</td>
                                         <td>{{ object.periodicity }}</td>
                                        <td>{{ object.start_period }}</td>
                                        <td>{{ object.end_period }}</td>
                                        <td>{{ object.payroll_to_process }}</td>
                                        {% comment %}<td><a href="/admin/HumanResources/payrollperiod/{{ object.id }}/" class="btn btn-raised btn-default btn-xs"><i class="fa fa-list color-default eliminar"> </i><div class="ripple-container"></div></a></td>{% endcomment %}
                                        <td>
                                            <a href="/humanresources/employeebyperiod?payrollperiod={{ object.id }}&payrollgroup={{ payrollgroup.id }}"
                                               class="btn btn-raised btn-default btn-xs"><i class="fa fa-list color-default eliminar"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            No hay periodos aún.
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

