{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters %}
{% block extrastyle %}{{ block.super }}

{% endblock %}
{% block content %}
    <table border="2">

        <tr>

            <td>Empleado</td>
            <td>Prueba</td>
            <td>Fecha de aplicación</td>
            <td>Resultado</td>
            <td>Detalle</td>

        </tr>


        {% for object in object_list %}
            <tr>

                <td>{{ object.employee.get_full_name }}</td>
                <td>{{ object.test.name }}</td>
                <td>{{ object.application_date }}</td>
                <td>{{ object.result }}</td>
                <td><a href="{{ object.id }}">Ver</a></td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}

