{% load app_filters %}

<style>
    .header {
        background-color: #00a09b;
        padding: 5px 10px;
        color: white;
    }

    .col-xs-4 {
        height: 65px;
    }

    .col-xs-4 br {
        display: none !important;
    }

    .datetimeshortcuts {

        top: -34px !important;
    }
    .mceLayout {
        width: 100% !important;
    }
</style>
<fieldset class=" {{ fieldset.classes }}">
    {% comment %} {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}{% endcomment %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12">

            <div class="">
                <h3 class="section-title">{{ fieldset.name }}</h3>
                <hr>
            </div>
        </div>
    </div>

    <div>

        {% for line in fieldset %}
            <div class="campo{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}
            {% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}
                {% if field.field.name %}field-{{ field.field.name }}{% endif %}{% endfor %}">

                {% for field in line %}


                    <div class="col-xs-4"{% if not line.fields|length_is:'1' %}
                         class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %}
                         class=“checkbox-row”{% endif %}>
                        {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                        {% if field.is_checkbox %}
                            {{ field.field }}{{ field.label_tag }}
                        {% else %}
                            {{ field.label_tag }}
                            {% if field.is_readonly %}
                                <div class=“readonly”>{{ field.contents }}</div>
                            {% else %}
                                {{ field.field }}
                            {% endif %}
                        {% endif %}
                        {% if field.field.help_text %}
                            <div class=“help”>{{ field.field.help_text|safe }}</div>
                        {% endif %}
                        {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
    </div>


</fieldset>
<script>
    $(document).ready(function () {
        $('input').addClass('form-control');
        $('select').addClass('form-control');
    });
</script>
<script>

    $(document).ready(function () {
        {#        $('input').addClass('form-control');#}
        {#        $('select').addClass('form-control');#}

        $('.field-description>div').removeClass('col-xs-4');
        $('.field-description>div').addClass('col-xs-12');
    });
</script>