
p {
    margin: 0;
}

hr {
    display: block;
    border-top: 1px solid #00a09b;
    margin: 10px 0;
}

.card .card-block, .card.card-block {
    padding: 20px;
    padding: 0rem;
}

.card.card-info {
    border-bottom: solid 0px #00bcd4;
    border-radius: 0px;
}

.card {
    box-shadow: none;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .14), 0 0px 0px 0px rgba(0, 0, 0, .2), 0 0px 0px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-bottom: 2rem;
}

.truncate {
    width: 420px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-hero-bg-info:after {
    background-color: #204280 !important;
}

.list-group .list-group-item, .list-group a.list-group-item {

    line-height: 26px;
}

.nav.nav-tabs li a {
    font-weight: 400;
    padding: 1.7rem 7px;
    color: rgba(255, 255, 255, .5) !important;
    text-align: center;
    font-size: 12px;
}

.list-group {
    border-left: solid 0px #eee;
    border-right: solid 0px #eee;
}

.list-group .list-group-item, .list-group a.list-group-item {
    border: 0;
    padding: 10px 15px;
    margin: 0;
    transition: all ease .3s;
    border-bottom: solid 0px #eee;
    vertical-align: middle;
}

.checkbox label .checkbox-material {
    margin-right: 10px;
    margin-right: 0;
}

.list-group .list-group-item:first-child, .list-group a.list-group-item:first-child {
    border-top: solid 0px #eee;
}

dd, dt {
    line-height: 1.3 !important;
}

.ms-paper-menu-left-container .ms-paper-menu-left {
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
}

.ms-paper-menu-left-container .ms-paper-menu-left .ms-paper-menu-title {
    margin: 0;
    padding: 15px 10px;
    text-align: center;
    font-size: 17px;
    font-size: 1.7rem;
    background-color: #204280;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.ms-collapse-nav li.panel a {
    background-color: #204280;
    color: #fff;
}

.ms-collapse-nav li.panel a:hover {
    background-color: #204280 !important;
    color: #fff;
}

.ms-collapse-nav li.panel a.collapsed {
    background-color: white;
    color: #424242;
}

.ms-collapse-nav li.panel ul {
    box-shadow: inset 0 0px 0px 0px rgba(0, 0, 0, .2) !important;
    background-color: #fefefe;
    padding: 0;
}

.datetimeshortcuts {
    /* text-align: center; */
    position: relative;
    /* margin: 0 auto; */
    /* left: calc(50% - 30px); */
    top: -33px !important;
}

.original > p {
    display: none;
}


.table-padding {
    padding-bottom: 35px;
}
.ms-timeline-left .ms-timeline-left-item:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    background-color: #00a09b;
    height: 9px;
    width: 9px;
    left: -6px;
    top: 6px;
    transition: all ease .2s;
}
.ms-timeline-left {
    list-style-type: none;
    margin-left: 300px;
    border-left: solid 3px #00a09b;
    position: relative;
    padding-left: 0;
}
.ms-timeline-left .ms-timeline-left-item:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    border: solid 3px #00a09b;
    background-color: #fff;
    height: 21px;
    width: 21px;
    left: -12px;
    top: 0;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 6px solid white;
    /* margin-right: 6px; */
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
    border-right: 6px solid white;
}
ul {
    padding-left: 20px;
    list-style: disc;
}