{% load i18n admin_urls static admin_modify app_filters %}
<style>
    related-widget-wrapper > .btn-group.bootstrap-select {
        height: 30px;
        padding: 5px 1px;
        font-size: 16px;
        line-height: 1.42857;
        border: 0px solid #e2e2e2 !important;
        width: 100% !important;
        color: black;
    }

    [data-id="id_accountingpolicydetail_set-__prefix__-account"] {
        display: none;
    }

    .positive {
        color: green !important;
    }

    .negative {
        color: red !important;
    }
</style>


<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="tabular"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
    <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
        {{ inline_admin_formset.formset.management_form }}
        <fieldset class="module {{ inline_admin_formset.classes }}">
            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <h4 class="section-title">{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h4>
                        <hr>
                    </div>
                </div>
            </div>
            {{ inline_admin_formset.formset.non_form_errors }}


            <div class="row">
                <div class="col-xs-6">
                    <div class="card  text-center" style="border-right: 1px solid #e2e2e2;">
                        <div class="card-block">
                            <h4 class="color-primary"><span class="counter" id="debit-total">$ 5,000</span></h4>
                            <h6 class="color-primary">Total Gastos</h6>
                            <div class="difference" id="difference-debit" hidden></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="card  text-center">
                        <div class="card-block">
                            <h4 class="color-primary"><span class="counter" id="credit-total">$ 5,000</span></h4>
                            <h6 class="color-primary">Total Restante</h6>
                            <div class="difference" id="difference-credit" hidden></div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                         <thead><tr>
                           <th class="original"></th>
                         {% for field in inline_admin_formset.fields %}
                           {% if not field.widget.is_hidden %}
                             <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
                             {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}" />{% endif %}
                             </th>
                           {% endif %}
                         {% endfor %}
                         {% if inline_admin_formset.formset.can_delete %}<th>{% trans "x" %}</th>{% endif %}
                         </tr></thead>
                         <tbody>
                         {% for inline_admin_form in inline_admin_formset %}
                            {% if inline_admin_form.form.non_field_errors %}
                            <tr><td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
                            {% endif %}
                            <tr class="form-row {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"
                                 id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                            <td class="original">
                              {% if inline_admin_form.original or inline_admin_form.show_url %}<p>
                              {% if inline_admin_form.original %}
                              {{ inline_admin_form.original }}
                              {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}<a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="inlinechangelink">{% trans "Change" %}</a>{% endif %}
                              {% endif %}
                              {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% trans "View on site" %}</a>{% endif %}
                                </p>{% endif %}
                              {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                              {{ inline_admin_form.fk_field.field }}
                              {% spaceless %}
                              {% for fieldset in inline_admin_form %}
                                {% for line in fieldset %}
                                  {% for field in line %}
                                    {% if field.field.is_hidden %} {{ field.field }} {% endif %}
                                  {% endfor %}
                                {% endfor %}
                              {% endfor %}
                              {% endspaceless %}
                            </td>
                            {% for fieldset in inline_admin_form %}
                              {% for line in fieldset %}
                                {% for field in line %}
                                  {% if not field.field.is_hidden %}
                                  <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %} style="vertical-align: bottom">

                                  {% if field.is_readonly %}
                                      <p>{{ field.contents }}</p>
                                  {% else %}
                                      {% if field.field.name == "registry_date" %}
                                            <div class="form-group field-{{ field.field.name }}">
                                                    {{ field.field|addcss:"form-control detail_date" }}
                                                    {{ field.errors }}
                                            </div>
                                      {%  else %}
                                          {% if field.field.name == "project" %}
                                              <div class="form-group field-{{ field.field.name }}">
                                                <div>
                                                    {{ field.field|addcss:"form-control smallselect" }}
                                                    {{ field.errors }}
                                                </div>
                                                </div>
                                            {% else %}
                                                <div class="form-group field-{{ field.field.name }}">
                                                    <div>
                                                        {{ field.field|addcss:"form-control" }}
                                                        {{ field.errors }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                      {% endif %}
                                  {% endif %}
                                  </td>
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            {% endfor %}
                            {% if inline_admin_formset.formset.can_delete %}
                              <td class="delete" style="vertical-align: bottom; padding-bottom: 10px; padding-left: 30px;"> <div class="form-group field-deletetd">
                                                <div>{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</div>
                                            </div></td>
                            {% endif %}
                            </tr>
                         {% endfor %}
                         </tbody>
                       </table>
        </fieldset>
    </div>
</div>
 <script type="text/javascript">
     $('body').on('focus',".detail_date", function(){
    $(this).datepicker({
        format: "dd/mm/yyyy",
        language: "es",
        clearBtn: true,
        autoclose: true,
    }
    );

});

    </script>



<style>
    .inline-info {
        display: inline-block;
        font-size: 0;
    }

    .credit-info {
        margin-left: 20px;
    }

    .inline-info-label, .inline-info-value {
        display: inline-block;
        font-size: 10px;
        padding: 0 5px;
    }

    .inline-info-label {
        background: #00bcd4;
        color: white;
        font-weight: bold;
    }

    .inline-info-value {

    }

    .smallselect {
        width: 100px;
        font-size: smaller;
    }

    .form-control{
        font-size: smaller;
    }
</style>

<script>
    jQuery(function ($) {

        var $ultimo = "";

        $(document).ready(function () {
            calculateCredit();
            calculateDebit();

            addListeners();

            $('.add-row a').click(function () {
                addListeners()
            });
        });

        function addListeners() {
            $("input[name*='debit']").change(function () {

                calculateDebit();
            });
            $("input[name*='credit']").change(function () {
                calculateCredit();
            });


            $("select[name*='accountingpolicydetail_set']").attr("data-live-search", "true");
            $("select[name*='accountingpolicydetail_set']").attr("data-width", "auto");
            $("select[name*='accountingpolicydetail_set']").addClass("selectpicker");
            $("select[name*='accountingpolicydetail_set']").selectpicker({});
        }


        function getDebitTotal() {
            var total = 0;
            $("input[name*='debit']").each(function () {
                total += parseFloat($(this).val());
                if (total > $('#id_monto').val()){
                    $(this).focus();
                    $(this).val('0');
                }

            });
            return total;
        }

        function calculateDifferences() {
            var diffDebit = getDebitTotal() - getCreditTotal();
            var diffCredit = getCreditTotal() - getDebitTotal();
            $('#difference-debit').html(toCurrency(diffDebit));
            $('#difference-credit').html(toCurrency(diffCredit));

            if (diffDebit >= 0) {
                $('#difference-debit').addClass('positive');
                $('#difference-debit').removeClass('negative');
            } else {
                $('#difference-debit').addClass('negative');
                $('#difference-debit').removeClass('positive');
            }

            if (diffCredit >= 0) {
                $('#difference-credit').addClass('positive');
                $('#difference-credit').removeClass('negative');
            } else {
                $('#difference-credit').addClass('negative');
                $('#difference-credit').removeClass('positive');
            }


        }

        function calculateDebit() {
            var total = getDebitTotal();
            var waste = $('#id_monto').val() - total;
            if (total > $('#id_monto').val()){
                  var message = 'Verifique el valor del monto, excede el monto de la Factura.\n';
                $('#alertModal').find('.modal-body p').text(message);
                $('#alertModal').modal('show');
                $('#credit-total').addClass('negative');
                $('#credit-total').removeClass('positive');
            }
            else {
                $('#credit-total').html(toCurrency(waste));
                $('#debit-total').html(toCurrency(total));
                calculateDifferences();
            }

        }

        function getCreditTotal() {
            var total = 0
            $("input[name*='credit']").each(function (el) {
                total += parseFloat($(this).val());
            });
            return total;
        }

        function calculateCredit() {
            var total = getCreditTotal()
            $('#credit-total').html(toCurrency(total));
            calculateDifferences();
        }

        function toCurrency(val) {
            return '$' + parseFloat(val,10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString()
        }
    });
</script>