{% load app_filters admin_static %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% comment %}    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}{% endcomment %}

    <div class="card ">
        <ul class="nav nav-tabs  nav-tabs-8 shadow-2dp" role="tablist">
            <li role="presentation" class="active">
                <a class="withoutripple" href="#otro0" aria-controls="otro0" role="tab" data-toggle="tab">
                    <span class="hidden-xs">Contrato de Contratistas</span>
                </a>
            </li>
        </ul>

        <div class="card-block">
            <div class="tab-content">
                {% for line in fieldset %}
                    {% for field in line %}

                        {% if field.field.name == "clave_contrato" %}
                            <div role="tabpanel" class="tab-pane fade active in" id="otro0">
                            <div class="row">
                            <h2 class="text-center">Datos generales</h2>

                            <hr>
                            <div class="col-md-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>

                            </div>
                        {% endif %}

                        {% if field.field.name == "project" %}

                            <div class="col-md-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                        {% if field.field.name == "line_item" %}
                            <div class="col-md-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if field.field.name == "no_licitacion" %}

                            <div class="col-md-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                            </div>

                        {% endif %}



                        {% if field.field.name == "contratista" %}
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% if field.field.name == "modalidad_contrato" %}

                        <div class="col-md-4">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>


                    {% endif %}
                    {% if field.field.name == "dias_pactados" %}

                        <div class="col-md-4">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                        {% if field.field.name == "codigo_obra" %}
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group field-codigo_obra">
                                    <div class="form-group field-{{ field.field.name }}">
                                        <div>
                                            {{ field.label_tag }}
                                            {{ field.field|addcss:"form-control" }}
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    {% if field.field.name == "dependencia" %}

                        <div class="col-md-4">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                        </div>

                    {% endif %}



                        {% if field.field.name == "fecha_firma" %}
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group field-fecha_firma">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                    {% if field.field.name == "fecha_inicio" %}

                        <div class="col-md-4">
                            <div class="form-group field-fecha_inicio">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if field.field.name == "fecha_termino" %}
                        <div class="col-md-4">
                            <div class="form-group field-fecha_termino">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}

                        {% if field.field.name == "monto_contrato" %}
                            <div class="row">
                            <div class="col-md-3">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>

                                        {{ field.label_tag }}
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            {{ field.field|addcss:"form-control" }}
                                        </div>
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% if field.field.name == "monto_contrato_iva" %}
                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        {{ field.field|addcss:"form-control f-number2" }}
                                    </div>
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if field.field.name == "pago_inicial" %}
                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        {{ field.field|addcss:"form-control f-number3" }}
                                    </div>
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if field.field.name == "pago_final" %}
                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        {{ field.field|addcss:"form-control f-number4" }}
                                    </div>
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}

                        {% if field.field.name == "objeto_contrato" %}
                            <div class="row">
                            <div class="col-md-3">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% if field.field.name == "lugar_ejecucion" %}
                        <div class="col-md-3">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>

                    {% endif %}
                    {% if field.field.name == "observaciones" %}

                        <div class="col-md-6">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                        {% if field.field.name == "version" %}
                            {{ field.field|addcss:"form-control" }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>


            </div>
</fieldset>

{% comment %}<script src="https://nosir.github.io/cleave.js/dist/cleave.min.js"></script>
<script>
    $(document).ready(function () {

        var cleave = new Cleave('.f-number1', {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });
        var cleave = new Cleave('.f-number2', {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });
         var cleave = new Cleave('.f-number3', {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });
         var cleave = new Cleave('.f-number4', {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });

    });
</script>{% endcomment %}
