{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify app_filters %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a
                href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_change_permission %}
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}
            {{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo;
            {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        <li style="text-align: left">
                            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                            <a href="{% add_preserved_filters history_url %}"
                               class="historylink">{% trans "Bitácora de Cambios" %}</a>
                        </li>
                        {% if has_absolute_url %}
                            <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            {% endif %}{% endif %}
        {% endblock %}
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
              id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                {% if errors %}
                    <p class="errornote">
                        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                    {{ adminform.form.non_field_errors }}

                {% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}
                        {% include "admin/ERP/progressestimate/fieldset.html" %}
                    {% endfor %}
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include "admin/ERP/progressestimate/tabular.html" %}
                    {% endfor %}
                {% endblock %}

                {% block after_related_objects %}
                    {% comment %}begin concepts{% endcomment %}
                    {% if change %}
                        <div id="verconceptos" >
                            <div class="row">

                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>

                                                <th class="text-center">Key</th>
                                                <th class="text-center">Descripción</th>
                                                <th class="text-center">Cantidad Pactada</th>
                                                <th class="text-center">Hasta Esta Estimación</th>
                                                <th class="text-center">De Esta Estimación</th>
                                                <th class="text-center">Actualizar</th>
                                                <th class="text-center">Cantidad Restante</th>

                                            </tr>
                                            </thead>

                                            {% for c in conceptos %}

                                                <tr>

                                                    <td style="font-size: 11px">{{ c.1 }}</td>
                                                    <td style="font-size: 11px">{{ c.2 }}</td>
                                                    <td style="font-size: 11px">{{ c.3 }}/{{ c.4 }}</td>
                                                    <td id="EstaEstimacion{{ c.0 }}"  style="font-size: 11px">{{ c.7|floatformat:2 }}/{{ c.4 }} </td>
                                                    <td id="DeEstaEstimacion{{ c.0 }}" contenteditable="true" style="font-size: 11px">{{ c.6|floatformat:2 }}/{{ c.4 }} </td>
                                                    <td style="font-size: 11px"><button type="button" onclick="myFunction({{ c.0 }}, {{ c.3 }},{{ c.5 }},{{ c.8 }},'{{ c.4 }}');" id="boton">Actualizar</button></td>
                                                    <td id="Restante{{ c.0 }}" style="font-size: 11px">{% subtractify c %} /{{ c.4 }}</td>

                                                </tr>

                                            {% endfor %}

                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <br>

                        </div>
                    {% endif %}
                        {% comment %}end concepts{% endcomment %}
                {% endblock %}

                {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                {% block admin_change_form_document_ready %}
                    <script type="text/javascript">
                        (function ($) {
                            $(document).ready(function () {
                                $('.add-another').click(function (e) {
                                    e.preventDefault();
                                    var event = $.Event('django:add-another-related');
                                    $(this).trigger(event);
                                    if (!event.isDefaultPrevented()) {
                                        showAddAnotherPopup(this);
                                    }
                                });

                                {% if adminform and add %}
                                    $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                                {% endif %}
                            });
                        })(django.jQuery);
                    </script>
                {% endblock %}

                {# JavaScript for prepopulated fields #}
                {% prepopulated_fields_js %}

            </div>
        </form>
    </div>



    <script>
        jQuery(document).ready(function () {
            update_values();

            jQuery('#id_amount').change(function () {
                update_values();
            });


            jQuery('.btn-eliminar').hide();
        });

        function update_values() {
            var new_percentaje = jQuery('#id_amount').val() /{{ adminform.form.contract_amount }} * 100;
            jQuery('#id_porcentaje').html(new_percentaje.toFixed(2) + '%');
        }
    </script>

        <script>
         function myFunction(id, monto, contract_line_item, progress_estimate, unidad) {
            var valor=id;
            var mont = monto;
            var Est=document.getElementById('EstaEstimacion'+valor).innerHTML;
            var Esti=document.getElementById('DeEstaEstimacion'+valor).innerHTML;
            var Rest=document.getElementById('Restante'+valor).innerHTML;

            var espl=Est.split('/');
            var spli=Esti.split('/');
            var irest=Rest.split('/');

            var valida = parseFloat(espl[0]) + parseFloat(spli[0]);

            if(valida <= mont){

                    var message="";
                    var ajaxDat = {
                        ID: valor,
                        contract_line_item:contract_line_item,
                        progress_estimate:progress_estimate,
                        AEstaEstimacion: espl[0],
                        DeEstaEstimacion: spli[0],
                    };
                    //alert(ajaxDat.ID +'ID  aesta '+ ajaxDat.AEstaEstimacion +' de esta '+ ajaxDat.DeEstaEstimacion);
                    $.ajax({
                        url: '/erp/api/Saveamountofestimate/',
                        data: ajaxDat,
                        type: 'get',
                        dataType: "html",
                        success: function (data) {
                            //alert(data);
                            if ((data.substring(0, 2)) == 'ok') {
                                message = 'Se guardó correctamente la información';
                                $('#alertModalSuccess').find('.modal-body p').text(message);
                                $('#alertModalSuccess').modal('show');
                                var restante = mont.valueOf() - espl[0].valueOf() - spli[0].valueOf();
                                restante = restante.toFixed(2);
                                document.getElementById('Restante' + valor).innerHTML = restante.toString() + '/' + unidad;
                            }
                            else{
                                $('#alertModalSuccess').find('.modal-body p').text(data.substring(7));
                                $('#alertModalSuccess').modal('show');
                                location.reload();
                            }
                        },
                        error: function (data) {
                            message = 'Ocurrió un error al guardar la información';
                            //alert(data.toString());
                            $('#alertModal').find('.modal-body p').text(message);
                            $('#alertModal').modal('show');

                        }
                    });
            }
            else{
              //alert("Valor incorrecto");
                message = 'El valor "De Esta Estimación" no puede superar la "Cantidad Pactada"';
                $('#alertModal').find('.modal-body p').text(message);
                $('#alertModal').modal('show');
            }

         }

         function sleep(milliseconds) {
          var start = new Date().getTime();
          for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds){
              break;
            }
          }
        }


    </script>
{% endblock %}



