{% load app_filters admin_static %}
<div class=" {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% comment %} {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}{% endcomment %}
<div class="col-xs-12">
    <div class="card ">
        <div class="card-header">
                <div class="item-left">
                    <h3 class="card-title">Avance de Estimación</h3>
                </div>
                <div class="item-right">
                {% if change %}
                    {% for eid in estimate %}
                        {% if forloop.first %}
                            <a href="/admin/ERP/estimate/{{ eid.estimate_id }}/"
                               class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i class="zmdi zmdi-city-alt zmdi-hc-2x"></i>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if add %}
                    <a href="/admin/ERP/estimate/{{ estimate }}/"
                               class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i class="zmdi zmdi-city-alt zmdi-hc-2x"></i>
                            </a>
                {% endif %}
                </div>
        </div>


        <div class="card-block">
            <div class="tab-content">
                {% for line in fieldset %}
                    {% for field in line %}
                        {% if field.field.name == "estimate" %}
                            <div role="tabpanel" class="tab-pane fade active in" id="otro0">

                            {% comment %}<h2 class="text-center">Datos Generales</h2>{% endcomment %}
                            <div class="row">
                                <hr>
                                <div class="col-md-12">
                                    <div class="form-group field-{{ field.field.name }}">
                                        <div>
                                            {{ field.label_tag }}
                                            {{ field.field|addcss:"form-control" }}
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if field.field.name == "key" %}
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>



                        {% endif %}
                    {% if field.field.name == "progress" %}

                        <div class="col-md-4">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>

                    {% endif %}
                    {% if field.field.name == "amount" %}

                        <div class="col-md-4">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    <div>Total del Contrato: {{ adminform.form.contract_amount | formatoNumero }}</div>


                                    <div>Total Estimado Hasta
                                        Ahora: {{ adminform.form.contract_amount_accumulated }}</div>


                                    <div>
                                        Porcentaje en esta Estimación:
                                        <span id="id_porcentaje">0%</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        </div>
                    {% endif %}
                        {% if field.field.name == "type" %}
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>


                        {% endif %}
                    {% if field.field.name == "generator_file" %}

                        <div class="col-md-4">
                            <div class="form-group field-{{ field.field.name }}">
                                {{ field.field|addcss:"form-control" }}
                                {{ field.errors }}
                                <div class="input-group">
                                    <label class=" required"
                                           for="id_{{ field.field.name }}">{{ field.label_tag }}:</label>
                                    <input type="text" readonly="" class="form-control"
                                           placeholder="Seleccionar archivo...">
                                    <span class="input-group-btn input-group-sm">
                                                        <button type="button" class="btn btn-fab btn-fab-mini">
                                                          <i class="material-icons">attach_file</i>
                                                        </button>
                                                      </span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if field.field.name == "payment_status" %}
                        <div class="col-md-4">
                            <div class="form-group field-{{ field.field.name }}">
                                <div>
                                    {{ field.label_tag }}
                                    {{ field.field|addcss:"form-control selectpicker" }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}

                        {% if field.field.name == "version" %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ field.field|addcss:"form-control" }}
                                </div>
                            </div>
                        {% endif %}


                    {% endfor %}
                {% endfor %}
                </div>


            </div>
        </div>
    </div>
</div>
</fieldset>
