{% extends "admin/base_site.html" %}


{% block content %}
    <div id="content-main">


        {% include 'ERP/list-search-fields.html' %}

        <h1>Empresas</h1>
        <div><a href="add">Agregar</a></div>
        <ul>
            {% for company in object_list %}
                <li><a href="{{ company.id }}">{{ company.nombreEmpresa }}</a> | <a href="{{ company.id }}">Ver</a> | <a
                        href="{{ company.id }}/change">Editar</a> | <a href="{{ company.id }}/delete">Eliminar</a>
                </li>
            {% empty %}
                <li>No Companies yet.</li>
            {% endfor %}
        </ul>


        {% include 'ERP/list-pagination.html' %}


    </div>
{% endblock %}
