{% extends "admin/base_site.html" %}

{% block content %}
    {% comment %}<h1>Nombre: {{ empresa.nombreEmpresa }}  <a href="change">Editar</a></h1>{% endcomment %}




    <div class="col-xs-8 col-xs-offset-2">
        <div class="card card-info">
            <div class="card-block text-center">
                <div class="row">
                <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-info"><i
                        class="zmdi zmdi-city-alt"></i></span>
                    <h3 class="color-info">Nombre: {{ empresa.nombreEmpresa }}</h3>
                    <div class="col-xs-6 text-left">

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> Calle: {{ empresa.calle }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> Número: {{ empresa.numero }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> Colonia: {{ empresa.colonia }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> Municipio: {{ empresa.municipio }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> Estado: {{ empresa.estado }}</span>
                    </div>
                    <div class="col-xs-6 text-left">

                       <span href="" class="list-group-item withripple "><i
                               class="fa fa-chevron-right color-active"></i> País: {{ empresa.pais }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> CP: {{ empresa.cp }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> Teléfono: {{ empresa.telefono }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> RFC: {{ empresa.rfc }}</span>
                    </div>
                </div>


                <a href="change" class="btn btn-raised btn-danger"><i class="fa fa-pencil"></i> Editar</a>
            </div>
        </div>
    </div>
{% endblock %}