{% extends "admin/base_site.html" %}

{% block content %}
    {% comment %}<h1>Nombre: {{ empresa.nombreEmpresa }}  <a href="change">Editar</a></h1>{% endcomment %}


    <div class="col-xs-12">
        <div class="card card-info">
            <div class="card-block text-center">
                <div class="row">
                <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-info"><i
                        class="zmdi zmdi-city-alt"></i></span>
                    <h3 class="color-info">Nombre: {{ empresa.nombreEmpresa }}</h3>
                    <div class="col-xs-12 col-sm-6 text-left">

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Calle:</span> {{ empresa.calle }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Número:</span> {{ empresa.numero }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Colonia:</span> {{ empresa.colonia }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Municipio:</span> {{ empresa.municipio }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Estado:</span> {{ empresa.estado }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-left">

                       <span href="" class="list-group-item withripple "><i
                               class="fa fa-chevron-right color-active"></i> <span
                               class="color-active">País:</span> {{ empresa.pais }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">CP:</span> {{ empresa.cp }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Teléfono:</span> {{ empresa.telefono }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">RFC:</span> {{ empresa.rfc }}</span>
                    </div>
                </div>


                <a href="change" class="btn btn-raised btn-danger button-center-top"><i class="fa fa-pencil"></i> Editar</a>
            </div>
        </div>
    </div>


    {% comment %}
        This table shows the owner for the given company.
    {% endcomment %}

    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="item-left">
                    <h3 class="card-title text">Contactos</h3>
                </div>
                <div class="item-right">
                    <a  href="/admin/ERP/propietario/add/?empresa_id={{ empresa.id }}"
                       class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i
                            class="zmdi zmdi-plus zmdi-hc-2x"></i>
                    </a>

                </div>
            </div>
            <div class="card-block text-center">
                <div class="table-responsive">
                    <table id="" class="table table-striped table_s" width="100%">
                        {% if owners.count == 0 %}
                            <style>
                                #DataTables_Table_0_wrapper {
                                    display: none !important;
                                }
                            </style>
                            <thead>
                            <td></td>
                            </thead>
                            <span align="center">No hay contactos registrados para el Cliente</span>
                        {% else %}
                            <thead>
                            <td>Nombre</td>
                            <td>Correo</td>
                            <td>Teléfono</td>
                            {% comment %}<td >Teléfono 2</td>{% endcomment %}

                            <td class="no-sorting">Ver</td>
                            <td class="no-sorting">Editar</td>
                            <td class="no-sorting">Eliminar</td>
                            </thead>
                            <tbody>
                            {% for owner in owners %}
                                <tr>
                                    <td>{{ owner.nombrePropietario }}</td>
                                    <td>{{ owner.email }}</td>
                                    <td>{{ owner.telefono1 }}</td>

                                    {% comment %}<td >{{ owner.telefono2 }}</td>{% endcomment %}
                                    <td class="text-center" style="width: 3%"><a
                                            href="/admin/ERP/propietario/{{ owner.id }}"
                                            target="_blank"
                                            class="btn btn-raised btn-default btn-xs"><i
                                            class="fa fa-eye color-default eliminar"></i></a></td>
                                    <td class="text-center" style="width: 3%"><a href="/admin/ERP/propietario/{{ owner.id }}/change" class="btn btn-raised btn-default btn-xs"><i
                                            class="fa fa-pencil color-default eliminar"></i></a></td>
                                    <td class="text-center" style="width: 3%"><a
                                            href="/admin/ERP/propietario/{{ owner.id }}/delete"
                                            class="btn btn-raised btn-default btn-xs"><i
                                            class="fa fa-trash-o color-danger eliminar"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12" style="padding-bottom: 25px">
        <div class="card">
            <div class="card-header">
                <div class="item-left">
                    <h3 class="card-title text">Proyectos</h3>
                </div>
            </div>
            <div class="card-block text-center">
                <div class="table-responsive">
                    <table id="" class="table table-striped table_s" width="100%">
                        {% if projects.count == 0 %}
                            <style>
                                #DataTables_Table_1_wrapper {
                                    display: none !important;
                                }
                            </style>
                            <thead>
                            <td></td>
                            </thead>
                            <span align="center">No hay Proyectos registrados para el Cliente</span>

                        {% else %}
                            <thead>
                            <td>Clave</td>
                            <td>Nombre</td>
                            <td>Ubicación</td>
                            <td>Fecha de Inicio</td>
                            <td>Fecha de Término</td>
                            <td class="no-sorting">Ver</td>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>{{ project.key }}</td>
                                    <td>{{ project.nombreProyecto }}</td>
                                    <td>{{ project.ubicacion_pais.nombrePais }}</td>
                                    <td>{{ project.fecha_inicial }}</td>
                                    <td>{{ project.fecha_final }}</td>
                                    <td class="text-center"><a
                                            href="/admin/ERP/project/{{ project.id }}"
                                            target="_blank"
                                            class="btn btn-raised btn-default btn-xs"><i
                                            class="fa fa-eye color-default eliminar"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function PopupCenter(url, title, w, h) {
            // Fixes dual-screen position                         Most browsers      Firefox
            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

            var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            var left = ((width / 2) - (w / 2)) + dualScreenLeft;
            var top = ((height / 2) - (h / 2)) + dualScreenTop;
            var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

            // Puts focus on the newWindow
            if (window.focus) {
                newWindow.focus();
            }
        }
    </script>
    {% for owner in owners %}
        <script>
            function popupedit() {
                PopupCenter('/admin/ERP/propietario/{{ owner.id }}/change', 'xtf', '1024', '500');
            }
        </script>
    {% endfor %}
    {% for project in projects %}
        <script>
            function myFunction() {
                PopupCenter('/admin/ERP/propietario/add/?empresa_id={{ empresa.id }}', 'xtf', '1024', '500');
            }
        </script>
    {% endfor %}
{% endblock %}