{% extends "admin/base_site.html" %}


{% block content %}
    <div id="content-main">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="item-left">
                            <h3 class="card-title text">{% block title %}{{ title_list }} {% endblock %}</h3>
                        </div>
                        <div class="item-right">

                            <a href="add/"
                               class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i class="zmdi zmdi-plus zmdi-hc-2x"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-block">

                        {% include 'ERP/list-search-fields.html' %}

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    {% if object_list %}
                                        <table id="" class="table table-striped table_s">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Municipio</th>
                                                <th>Estado</th>
                                                <th>Teléfono</th>
                                                <th>País</th>
                                                <th class="no-sorting">Ver</th>
                                                <th class="no-sorting">Editar</th>
                                                <th class="no-sorting">Eliminar</th>
                                            </tr>
                                            </thead>
                                            {% for contractor in object_list %}
                                                <tr>

                                                    {% comment %} <td><a href="{{ company.id }}">{{ company.nombreEmpresa }}</a></td>{% endcomment %}
                                                    <td><span>{{ contractor.nombreContratista }}</span></td>
                                                    <td><span>{{ contractor.municipio }}</span></td>
                                                    <td><span>{{ contractor.estado }}</span></td>

                                                    <td><span>{{ contractor.telefono }}</span></td>
                                                    <td><span>{{ contractor.pais }}</span></td>
                                                    {% comment %}<td><span>{{ contractor.last_edit_date }}</span></td>{% endcomment %}

                                                    <td class="text-center" style="width: 5%"><a
                                                            href="{{ contractor.id }}"
                                                            class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-eye color-default eliminar"></i></a></td>
                                                    <td class="text-center" style="width: 5%"><a
                                                            href="{{ contractor.id }}/change"
                                                            class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-pencil color-default eliminar"></i></a></td>
                                                    <td class="text-center" style="width: 2%"><a
                                                            href="{{ contractor.id }}/delete"
                                                            class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-trash-o color-danger eliminar"></i></a>
                                                    </td>

                                                    {% empty %}
                                                    <td>No existen {{ title_list }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        No existen {{ title_list }}
                                    {% endif %}
                                </div>

                                {% include 'ERP/list-pagination.html' %}

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
