{% extends "admin/base_site.html" %}


{% block content %}
    {% include "ERP/header_list.html" %}
    <div id="content-main">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    {% if object_list %}
                                        <table id="" class="table table-striped table_s">
                                            <thead>
                                            <tr>
                                                <th>Clave del Contrato</th>
                                                <th>Proyecto</th>
                                                <th>Contratista</th>
                                                <th>Fecha de Firma</th>
                                                {% comment %}<th>Fecha de Última Edición</th>{% endcomment %}
                                                <th class="no-sorting">Ver</th>
                                                <th class="no-sorting">Editar</th>
                                                <th class="no-sorting">Eliminar</th>
                                            </tr>
                                            </thead>
                                            {% for contratocontratista in object_list %}
                                                <tr>


                                                    {% comment %} <td><a href="{{ company.id }}">{{ company.nombreEmpresa }}</a></td>{% endcomment %}
                                                    <td><span> {{ contratocontratista.clave_contrato }} </span></td>
                                                    <td><span> {{ contratocontratista.project.nombreProyecto}} </span></td>
                                                    <td><span> {{ contratocontratista.contratista.nombreContratista}} </span></td>
                                                    <td><span>{{ contratocontratista.fecha_firma }}</span></td>
                                                    {% comment %}<td><span>{{ contratocontratista.last_edit_date }}</span></td>{% endcomment %}


                                                    <td style="width: 2%"><a href="/admin/ERP/contratocontratista/{{ contratocontratista.id }}/?contrato={{ contratocontratista.id }}"
                                                                             class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-eye color-default eliminar"></i></a></td>
                                                    <td class="text-center" style="width: 5%"><a
                                                            href="/admin/ERP/contratocontratista/{{ contratocontratista.id }}/change/?contrato={{ contratocontratista.id }}"
                                                            class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-pencil color-default eliminar"></i></a></td>
                                                    <td class="text-center" style="width: 2%"><a
                                                            href="/admin/ERP/contratocontratista/{{ contratocontratista.id }}/delete/?contrato={{ contratocontratista.id }}"
                                                            class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-trash-o color-danger eliminar"></i></a>
                                                    </td>

                                                    {% empty %}
                                                    <td>Aún no existen Contratos con Contratistas.</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        Aún no existen Contratos con Contratistas.
                                    {% endif %}
                                </div>

                                {% include 'ERP/list-pagination.html' %}

                            </div>
                        </div>





    </div>

    {% include "ERP/footer_list.html" %}
{% endblock %}
