{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters %}
{% block content %}
    {% comment %}    <h1>Clave del Contrato: {{ contratocontratista.clave_contrato }}  <a href="change">Editar</a></h1>
        <ul>
            {% if contratocontratista.no_licitacion != "" %}
                <li>Número de Licitación: {{ contratocontratista.no_licitacion }}</li>
            {% endif %}
            <li>Dependencia: {{ contratocontratista.dependencia }}</li>
            <li>Código de Obra: {{ contratocontratista.codigo_obra }}</li>
            <li>Objeto Contrato: {{ contratocontratista.objeto_contrato }}</li>
            <li>Fecha de Firma: {{ contratocontratista.fecha_firma }}</li>
            <li>Días Pactados: {{ contratocontratista.dias_pactados }}</li>
            <li>Fecha de Inicio: {{ contratocontratista.fecha_inicio }}</li>
            <li>Fecha de Término: {{ contratocontratista.fecha_termino }}</li>
            <li>Lugar de Ejecución: {{ contratocontratista.lugar_ejecucion }}</li>
            <li>Monto del Contrato: {{ contratocontratista.monto_contrato }}</li>
            <li>IVA Aplicable al Contrato: {{ contratocontratista.monto_contrato_iva }}</li>
            <li>Pago Inicial: {{ contratocontratista.pago_inicial }}</li>
            <li>Pago Final: {{ contratocontratista.pago_final }}</li>
            <li>Observaciones: {{ contratocontratista.observaciones }}</li>
        </ul>{% endcomment %}






    <div class="col-xs-10 col-xs-offset-1">
        <div class="card card-info">
            <div class="card-block text-center">
                <div class="row">
                <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-info"><i
                        class="zmdi zmdi-city-alt"></i></span>
                    <h3 class="color-info"><b>Clave del Contrato:</b> {{ contratocontratista.clave_contrato }}</h3>
                    <div class="col-xs-6 text-left">

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Proyecto:</span> {{ contratocontratista.project.nombreProyecto }}</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Partida:</span> {{ contratocontratista.line_item.description }}</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Dependencia:</span> {{ contratocontratista.dependencia }}</span>

                         {% if contratocontratista.no_licitacion != "" %}
                            <span href="" class="list-group-item withripple "><i
                                    class="fa fa-chevron-right color-active"></i> <span class="color-active">Número de Licitación:</span> {{ contratocontratista.no_licitacion }}</span>
                        {% endif %}


                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span class="color-active">Fecha de Inicio:</span> {{ contratocontratista.fecha_inicio }}</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span class="color-active">Fecha de Término:</span> {{ contratocontratista.fecha_termino }}</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Días Pactados:</span> {{ contratocontratista.dias_pactados }}</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Fecha de Firma:</span> {{ contratocontratista.fecha_firma }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-left">


                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span class="color-active">Objeto Contrato:</span> {{ contratocontratista.objeto_contrato }}</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span class="color-active">Lugar de Ejecución:</span> {{ contratocontratista.lugar_ejecucion }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span class="color-active">Monto del Contrato:</span> {{ contratocontratista.monto_contrato|formatoNumero }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span class="color-active">Porcentaje de IVA del Contrato:</span> {{ contratocontratista.porcentaje_iva }} %</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span class="color-active">Anticipo:</span> {{ advance_payment }}</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span class="color-active">Estatus del anticipo:</span> {{ advance_payment_status }}</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Observaciones:</span> {{ contratocontratista.observaciones }}</span>
                    </div>
                </div>


                <a href="change" class="btn btn-raised btn-danger button-center-top"><i class="fa fa-pencil"></i> Editar</a>
            </div>
        </div>
    </div>



    <div class="col-xs-10 col-xs-offset-1">
        <div class="card">

            <div class="card-header">
                <div class="item-left">
                    <h3 class="card-title text">Conceptos del Contrato</h3>
                </div>
                <div class="item-right">
                    <a onclick="myFunction()" href="/admin/ERP/contractconcepts/add?contract_id={{ object.id }}"
                       class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i class="zmdi zmdi-plus zmdi-hc-2x"></i>
                    </a>

                </div>
            </div>

            <div class="card-block text-center">
                <div class="table-responsive">
                    <table id="table_s" class="table table-bordered">
                        {% if concepts.count == 0 %}
                            <tbody>
                            <tr>
                                <td align="center">No hay conceptos asignados al contrato.</td>
                            </tr>
                            </tbody>
                        {% else %}
                            <thead>
                            <td>Clave</td>
                            <td>Descripción</td>
                            <td>Unidad</td>
                            <td>Precio Unitario</td>
                            <td>Cantidad del Contrato</td>
                            <td class="no-sorting">Editar</td>
                            </thead>
                            <tbody>
                            {% for concept in concepts %}
                                <tr style="border:1px solid">
                                    <td style="border:1px solid">{{ concept.concept.key }}</td>
                                    <td style="border:1px solid">{{ concept.concept.description }}</td>
                                    <td style="border:1px solid">{{ concept.concept.unit.name }}</td>
                                    <td style="border:1px solid">{{ concept.concept.unit_price }}</td>
                                    <td style="border:1px solid">{{ concept.amount }}</td>
                                    <td class="text-center" style="width: 5%"><a
                                            href="/admin/ERP/contractconcepts/{{ concept.id }}/change?contract_id={{ object.id }}"
                                            class="btn btn-raised btn-default btn-xs"><i
                                            class="fa fa-pencil color-default eliminar"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

