{% extends "admin/base_site.html" %}


{% block content %}
    <div id="content-main" >


        {% include 'ERP/list-search-fields.html' %}

        <h1>Contratos</h1>
        <div><a href="add">Agregar</a></div>
        <ul>
            {% for contrato in object_list %}
                <li><a href="{{ contrato.id }}">{{ contrato.clave_contrato }}</a> | <a href="{{ contrato.id }}">Ver</a> | <a
                        href="{{ contrato.id }}/change">Editar</a> | <a href="{{ contrato.id }}/delete">Eliminar</a>
                </li>
            {% empty %}
                <li>No Contracts yet.</li>
            {% endfor %}
        </ul>
        {% include 'ERP/list-pagination.html' %}
    </div>
{% endblock %}