{% extends "admin/base_site.html" %}


{% block content %}
    <div id="content-main">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="item-left">
                            <h3 class="card-title text">{% block title %}{{ title_list }} {% endblock %}</h3>
                        </div>
                        <div class="item-right">

                            <a href="add/"
                               class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success icon-container"
                            >
                                &nbsp; <i class="zmdi zmdi-plus zmdi-hc-2x center-icon"
                            ></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                {% include 'ERP/list-search-fields.html' %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    {% if object_list %}
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Clave del Contrato</th>
                                                <th>Dependencia</th>
                                                <th>Código de Obra</th>
                                                <th>Objeto Contrato</th>
                                                <th>Fecha de Firma</th>
                                                {% comment %}<th>Fecha de Última Edición</th>{% endcomment %}
                                                <th>Ver</th>
                                                <th>Editar</th>
                                                <th>Eliminar</th>
                                            </tr>
                                            </thead>
                                            {% for contratocontratista in object_list %}
                                                <tr>


                                                    {% comment %} <td><a href="{{ company.id }}">{{ company.nombreEmpresa }}</a></td>{% endcomment %}
                                                    <td><span> {{ contratocontratista.clave_contrato }} </span></td>
                                                    <td><span>{{ contratocontratista.dependencia }}</span></td>
                                                    <td><span>{{ contratocontratista.codigo_obra }}</span></td>
                                                    <td><span>{{ contratocontratista.objeto_contrato }}</span></td>
                                                    <td><span>{{ contratocontratista.fecha_firma }}</span></td>
                                                    {% comment %}<td><span>{{ contratocontratista.last_edit_date }}</span></td>{% endcomment %}


                                                    <td style="width: 2%"><a href="{{ contratocontratista.id }}"
                                                                             class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-eye color-default eliminar"></i></a></td>
                                                    <td class="text-center" style="width: 5%"><a
                                                            href="{{ contratocontratista.id }}/change"
                                                            class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-pencil color-default eliminar"></i></a></td>
                                                    <td class="text-center" style="width: 2%"><a
                                                            href="{{ contratocontratista.id }}/delete"
                                                            class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-trash-o color-danger eliminar"></i></a>
                                                    </td>

                                                    {% empty %}
                                                    <td>Aún no existen Contratos con Contratistas.</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        Aún no existen Contratos con Contratistas.
                                    {% endif %}
                                </div>

                                {% include 'ERP/list-pagination.html' %}
                                <hr>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>


    </div>
{% endblock %}
