{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters %}



{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>
    {#    <script src="{% static "admin/assets/Highcharts/code/themes/dark-unica.js" %}"></script>#}
    <style>
        hr {
            display: block;
            border-top: 1px solid #00a09b;
            margin: 5px 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="container">
        <div class="btn-group btn-group-justified btn-group-raised">
            <a class="btn btn-info dash-menu" href="/admin/ERP/lineitem/conceptos/{{ project_id }}/0/">CATÁLOGO DE
                CONCEPTOS</a>
            {% comment %}
            <a class="btn btn-info dash-menu" href="/admin/ERP/lineitem/insumos/{{ project_id }}/0/">Explosión de<br>Insumos</a>
{% endcomment %}
            <a class="btn btn-info dash-menu" href="/admin/ERP/estimate/list/{{ project_id }}">ESTIMACIONES</a>

            {% comment %}<a class="btn btn-info dash-menu" href="/admin/ERP/uploadedcatalogshistory/add/?project={{ project_id }}">Añadir Cat.<br>de
                Conceptos</a>{% endcomment %}
            {% comment %}<a class="btn btn-info dash-menu" href="/admin/ERP/uploadedinputexplotionshistory/add/?project={{ project_id }}">Añadir Explosión<br>
                de
                Insumos</a>{% endcomment %}
            <a class="btn btn-info dash-menu"
               href="/admin/ERP/progressestimatelog/?project={{ project_id }}">BITÁCORAS</a>
        </div>

        {% comment %}        <div class="row">
            <div class="col-xs-8">
                <div class="card">
                    <a href="{% static "ERP/admin/img/proyecto1.jpg" %}" data-lightbox="image-1"
                       data-title="My caption">
                        <div class="thumbnail-container" style="height: 200px;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: cover;background-image: url('{% static "ERP/admin/img/proyecto1.jpg" %}')">

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="card card-primary">
                    <div class="card-block text-center">
                        <span class="ms-icon ms-icon-round ms-icon-inverse color-active ms-icon-lg mb-4"><i
                                class="zmdi zmdi-city-alt"></i></span>
                        {% for project in project %}
                            <h4 class="color-active">{{ project.nombreProyecto }} </h4>
                            <p>Proyecto</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>{% endcomment %}

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card">
                    <div class="card-header ">
                        <div class="item-left">
                            {% for project in project %}
                                <h3 class="card-title text">Nombre de Proyecto: {{ project.nombreProyecto }} </h3>

                                </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 mobile-pad-right" style="display:none; padding-left: 0"
                                     id="noImage">

                                    <div class="no-imagen" text-center id="NoImagen">Para ver
                                        la imagen ingresa a la sección: Editar Proyecto
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 mobile-pad-right" style="padding-left: 0" id="siImage">
                                    <a href="/media/{{ project.portada }}" data-lightbox="image-1"
                                       data-title="{{ project.nombreProyecto }}">
                                        <div class="thumbnail-container" style="height: 340px;
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                                background-size: cover;background-image: url('/media/{{ project.portada }}')">

                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6" style="    padding-left: 0;">
                                    <div class="" style="">
                                        <h4 class="color-active">Generales</h4>
                                        <ul class="list-group">
                                            <li href="" class="list-group-item withripple ">
                                                <b>Clave de Proyecto:</b> {{ project.key }} </li>
                                            <li href="" class="list-group-item withripple ">
                                                <b>Propietario:</b> {{ project.propietario }} </li>
                                            <li href="" class="list-group-item withripple ">
                                                <b>Fecha de Inicio:</b> {{ project.fecha_inicial }}
                                            </li>
                                            <li href="" class="list-group-item withripple ">
                                                <b>Fecha de Término:</b> {{ project.fecha_final }}
                                            </li>
                                            <li href="" class="list-group-item withripple ">
                                                <b>Tipo de
                                                    Contrucción:</b> {{ project.tipo_construccion }}</li>
                                        </ul>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="text-right"
                                         style="display: flex;text-align: right;float: right;">
                                        <a href="/admin/ERP/project/{{ project_id }}/" class="btn btn-royal">
                                            <i class="fa fa-search"></i> Ver mas</a>


                                        {% if perms.ERP.change_project %}
                                            <a href="/admin/ERP/project/{{ project_id }}/change"
                                               class="btn btn-raised btn-danger ">
                                                <i class="fa fa-pencil"></i> Editar</a>
                                        {% endif %}
                                    </div>

                                </div>


                                <hr>
                                {% comment %}<div class="btn-group btn-group-justified btn-group-raised ">
                        <a href="/admin/ERP/lineitem/conceptos/{{ project_id }}/0/" class="btn btn-info"
                    <div class="btn-group btn-group-justified btn-group-raised ">
                        <a href="" class="btn btn-info"
                           style="font-size: 10px;font-weight: bold;color: white !important;">
                            Cat. conceptos
                        </a>
                        <a href="/admin/ERP/lineitem/insumos/{{ project_id }}/0/" class="btn btn-info"
                           style="font-size: 10px;font-weight: bold;color: white !important;">
                            Cat. explosion insumos
                        </a>
                        <a href="/admin/ERP/estimate/list/{{ project_id }}" class="btn btn-info"
                           style="font-size: 10px;font-weight: bold;color: white !important;">
                            Estimaciones
                        </a>
                        <a href="/admin/ERP/uploadedcatalogshistory/add/?project={{ project_id }}" class="btn btn-info"
                           style="font-size: 10px;font-weight: bold;color: white !important;">
                            Carga CC/CI
                        </a>
                    </div>{% endcomment %}

                                <input type="hidden" id="latitud" name="latitud" value="{{ project.latitud }}">
                                <input type="hidden" id="longitud" name="longitud" value="{{ project.longitud }}">
                                <input type="hidden" id="nombreProyecto" name="nombreProyecto"
                                       value="{{ project.nombreProyecto }}">
                                <input type="hidden" id="portada" name="portada" value="{{ project.portada }}">
                                <input type="hidden" id="projectID" name="projectID" value="{{ project.id }}">


                                <div class="clearfix"></div>


                                </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                <div class="card">
                                <div class="card-header ">
                                    <h3 class="card-title">Ubicación</h3>
                                </div>
                                <div class="card-block" style="height: 340px; padding: 0">

                                <div class="col-xs-12 col-sm-6">
                                    <div class="">

                                        <h4 class="color-active">Ubicación</h4>

                                        <ul class="list-group">
                                            <li class="list-group-item withripple "
                                                onclick="muestraValores('{{ project.ubicacion_pais }}');">
                                                <b>País:</b> {{ project.ubicacion_pais }}</li>
                                            <li class="list-group-item withripple ">
                                                <b>Estado:</b> {{ project.ubicacion_estado }}</li>
                                            <li href="" class="list-group-item withripple ">
                                                <b>Municipio:</b> {{ project.ubicacion_municipio }}
                                            </li>
                                            <li href="" class="list-group-item withripple ">
                                                <b>Colonia:</b> {{ project.ubicacion_colonia }}</li>
                                            <li href="" class="list-group-item withripple ">
                                                <b>Calle:</b> {{ project.ubicacion_calle }}</li>
                                            <li href="" class="list-group-item withripple ">
                                                <b>Número:</b> {{ project.ubicacion_numero }}</li>
                                            <li href="" class="list-group-item withripple ">
                                                <b>CP:</b> {{ project.ubicacion_cp }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 mobile-pad-left" style="padding-right: 0">
                                    <div class="no-mapa" text-center id="NoMap" style="display:none;">Para ver el mapa
                                        ingresa Latitud y Longitud
                                        en la sección: Ubicación
                                    </div>
                                    <div id="map" style="height: 340px; "></div>
                                </div>
                            {% endfor %}

                            </div>
                            </div>
                            </div>
        </div>
        <hr style="margin: 25px 0;" class="visible-xs">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header light">
                        <h3 class="card-title">Estado Financiero</h3>
                    </div>
                    <div class="card-block" style="height: 200px; padding: 0">
                        <div id="container-chart-2" style="height: 200px"></div>
                        <div id="container-chart" style="height: 0px; display: none;"></div>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        var map;

        function initMap() {
            var latitud = parseFloat(document.getElementById("latitud").value);
            var longitud = parseFloat(document.getElementById("longitud").value);
            var nombreProyecto = document.getElementById("nombreProyecto").value;

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: latitud, lng: longitud},
                zoom: 10,

            });
            var marker = new google.maps.Marker({
                position: {lat: latitud, lng: longitud},
                map: map,
                title: nombreProyecto
            });
            // To add the marker to the map, call setMap();
            marker.setMap(map);
        }
        function muestraMapa() {
            var latitud = parseInt(document.getElementById("latitud").value);
            var longitud = parseInt(document.getElementById("longitud").value);

            if (latitud > 0 && longitud != 0) {
                document.getElementById('map').style.display = 'block';
                document.getElementById('NoMap').style.display = 'none';
                initMap();
            } else {
                document.getElementById('NoMap').style.display = 'block';
                document.getElementById('map').style.display = 'none';
            }

        }
        function mostrarPortada() {
            var portada = document.getElementById("portada").value;
            if (portada == "") {
                document.getElementById('noImage').style.display = 'block';
                document.getElementById('siImage').style.display = 'none';
            } else {
                document.getElementById('siImage').style.display = 'block';
                document.getElementById('noImage').style.display = 'none';
            }
        }
        mostrarPortada();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXbpD-OdsUB7EIvVisIKAHH7p5qy5Mtxs&callback=muestraMapa"
            async defer></script>
    <script>


        $(document).ready(function () {


            var myCircle = Circles.create({
                id: 'circles-1',
                radius: 50,
                value: 43,
                maxValue: 100,
                width: 5,
                text: function (value) {
                    return value + '%';
                },
                colors: ['#f1f1f1', '#000'],
                duration: 600,
                wrpClass: 'circles-wrp',
                textClass: 'circles-text',
                valueStrokeClass: 'circles-valueStroke circle-primary',
                maxValueStrokeClass: 'circles-maxValueStroke',
                styleWrapper: true,
                styleText: true
            });
            var myCircle = Circles.create({
                id: 'circles-2',
                radius: 50,
                value: 23,
                maxValue: 100,
                width: 5,
                text: function (value) {
                    return value + '%';
                },
                colors: ['#f1f1f1', '#000'],
                duration: 600,
                wrpClass: 'circles-wrp',
                textClass: 'circles-text',
                valueStrokeClass: 'circles-valueStroke circle-primary',
                maxValueStrokeClass: 'circles-maxValueStroke',
                styleWrapper: true,
                styleText: true
            });
            var myCircle = Circles.create({
                id: 'circles-3',
                radius: 50,
                value: 76,
                maxValue: 100,
                width: 5,
                text: function (value) {
                    return value + '%';
                },
                colors: ['#f1f1f1', '#000'],
                duration: 600,
                wrpClass: 'circles-wrp',
                textClass: 'circles-text',
                valueStrokeClass: 'circles-valueStroke circle-primary',
                maxValueStrokeClass: 'circles-maxValueStroke',
                styleWrapper: true,
                styleText: true
            });
            var myCircle = Circles.create({
                id: 'circles-4',
                radius: 50,
                value: 98,
                maxValue: 100,
                width: 5,
                text: function (value) {
                    return value + '%';
                },
                colors: ['#f1f1f1', '#000'],
                duration: 600,
                wrpClass: 'circles-wrp',
                textClass: 'circles-text',
                valueStrokeClass: 'circles-valueStroke circle-primary',
                maxValueStrokeClass: 'circles-maxValueStroke',
                styleWrapper: true,
                styleText: true
            });
        });
    </script>

    <script src="{% static "ERP/admin/assets/Highcharts/code/highcharts.js" %}"></script>
    <script src="{% static "ERP/admin/assets/Highcharts/code/modules/no-data-to-display.js" %}"></script>
    <script src="{% static "ERP/admin/assets/Highcharts/code/modules/exporting.js" %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static "ERP/admin/js/charts-dashboard-project.js" %}"></script>
{% endblock %}
