{% extends "admin/base_site.html" %}


{% block content %}
    <div id="content-main">

        {% include 'ERP/list-search-fields.html' %}

        <h1>Estimaciones</h1>
        <div><a href="add">Agregar</a></div>
        <ul>
            {% for estimate in object_list %}
                <li><a href="{{ estimate.id }}">{{ estimate.start_date }} Concepto o Insumo:{{ estimate.line_item.description }}</a> | <a href="{{ estimate.id }}">Avances de la estimación</a> | <a
                        href="{{ estimate.id }}/change">Editar</a> | <a href="{{ estimate.id }}/delete">Eliminar</a>
                </li>
            {% empty %}
                <li>Aún no se han generado estimaciones.</li>
            {% endfor %}
        </ul>

        {% include 'ERP/list-pagination.html' %}

    </div>
{% endblock %}
