{% extends "admin/base_site.html" %}
{% load app_filters admin_static %}
{% block extrahead %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
{% endblock %}



{% block content %}
    {% include "ERP/header_list.html" %}
    <div id="content-main">


        <form action="" method="get">
            <div class="row">

                <div class="col-xs-12 col-sm-3">{{ form.contractor|addcss:"form-control" }}</div>
                <div class="col-xs-12 col-sm-3">{{ form.line_item|addcss:"form-control" }}</div>
                <div class="col-xs-6 col-sm-3">{{ form.start_date }}</div>
                <div class="col-xs-6 col-sm-3">{{ form.end_date }}</div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 text-center">
                    <button class="btn btn-raised btn-primary text-center" type="submit">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                </div>
            </div>
        </form>


        {#        <div><a href="/admin/ERP/estimate/add?project={{ project }}">Agregar</a></div>#}

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    {% if object_list %}
                        <table id="table_s" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Fecha de la Estimación</th>
                                <th>Contrato</th>
                                <th>Contratista</th>
                                <th>Partida</th>
                                <th class="no-sorting">Ver</th>

                                {% if perms.ERP.change_estimate %}
                                    <th class="no-sorting">Editar</th>
                                {% endif %}

                                {% if perms.ERP.delete_estimate %}
                                    <th class="no-sorting">Eliminar</th>
                                {% endif %}
                            </tr>
                            </thead>

                            {% for estimate in object_list %}
                                <tr>
                                    <td>
                                        <span>De {{ estimate.start_date|date:"M d, Y" }} a {{ estimate.end_date }}</span>
                                    </td>
                                    <td>

                                        {% if perms.ERP.view_list_contratocontratista %}
                                            <a href="/admin/ERP/contratocontratista/{{ estimate.contract.id }}"
                                               target="_blank">
                                                <span>{{ estimate.contract.clave_contrato }}</span>
                                            </a>
                                        {% else %}
                                            <span>{{ estimate.contract.clave_contrato }}</span>
                                        {% endif %}
                                    </td>
                                    <td><span>{{ estimate.contract.contratista.nombreContratista }}</span></td>
                                    <td><span>{{ estimate.contract.line_item.description }}</span></td>


                                    <td class="text-center" style="width: 5%"><a
                                            href="/admin/ERP/estimate/{{ estimate.id }}"
                                            class="btn btn-raised btn-default btn-xs"><i
                                            class="fa fa-eye color-default eliminar"></i></a></td>


                                    {% if perms.ERP.change_estimate %}
                                        <td class="text-center" style="width: 5%"><a
                                                href="/admin/ERP/estimate/{{ estimate.id }}/change?project={{ project }}"
                                                class="btn btn-raised btn-default btn-xs"><i
                                                class="fa fa-pencil color-default eliminar"></i></a></td>
                                    {% endif %}

                                    {% if perms.ERP.delete_estimate %}

                                        <td class="text-center" style="width: 2%"><a
                                                href="/admin/ERP/estimate/{{ estimate.id }}/delete"
                                                class="btn btn-raised btn-default btn-xs"><i
                                                class="fa fa-trash-o color-danger eliminar"></i></a>
                                        </td>
                                    {% endif %}


                                    {% empty %}
                                    <td colspan="5">No existen estimaciones.</td>
                                </tr>


                            {% endfor %}
                        </table>
                    {% else %}
                        No existen estimaciones.
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
    {% include "ERP/footer_list.html" %}
{% endblock %}
