{% extends "admin/base_site.html" %}
{% load i18n admin_static app_filters %}
{% block content %}


    <style>
        .approved {
            color: #0c9bd5;
        }

        .not-approved {
            color: #b30023;
        }

        .approval-indicator {
            cursor: help;
            margin-left: 5px;
            vertical-align: middle;
        }

        .approval-submit-button {
            background: none;
            cursor: pointer;
            border: none;
        }

        .payed-label {
            min-width: 80px;
            display: inline-block;
        }

        .modal ul {
            list-style: circle;
        }

        .deduction-comments {
            color: #009690;
        }
    </style>

    <div class="col-xs-12" style="margin-bottom: 25px">
        <div class="card">
            <div class="card-block text-center">
                <div class="row">
                <span class="ms-icon ms-icon-circle ms-icon mb-4 color-info" style="margin-bottom: 0rem !important"><i
                        class="zmdi zmdi-city-alt"></i></span>
                    <h3 class="color-info">Estimación</h3>
                    <div class="color-info" style="padding-bottom: 15px">
                        {% if estimate.lock_status == 'L' %}

                            {% if perms.ERP.can_unlock_estimate %}
                                <form action="/admin/ERP/estimate/apply_deductions_to_estimate" method="post"
                                      style="display: inline-block">
                                    {% csrf_token %}
                                    <input type="hidden" name="estimate_id" value="{{ estimate.id }}">
                                    <i class="fa fa-lock" onclick="submit()" style="cursor: pointer;"></i>
                                </form>

                            {% else %}
                                <i class="fa fa-lock"></i>
                            {% endif %}


                        {% endif %}

                        {% if estimate.lock_status == 'U' %}
                            <i class="fa fa-unlock"></i> &nbsp; | &nbsp;
                        {% endif %}

                        {% if perms.ERP.change_estimate %}
                            <a href="/admin/ERP/estimate/{{ estimate.id }}/change/">
                                <i class="fa fa-pencil"></i>
                            </a> &nbsp; | &nbsp;
                        {% endif %}

                        <a href="/reporting/get_estimates_report?project_id={{ estimate.contract.project.id }}&estimate_id={{ estimate.id }}">
                            <i class="fa fa-print"></i>
                        </a>
                    </div>


                    <div class="col-xs-12 col-sm-6 text-left">

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Clave del Contrato:</span> {{ estimate.contract.clave_contrato }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Contratista:</span> {{ estimate.contract.contratista.nombreContratista }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Monto del Contrato:</span> {{ estimate.contract.monto_contrato }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Monto Actual:</span> {{ estimate.contract_amount_override }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Partida:</span> {{ estimate.contract.line_item.description }}</span>


                        <br>
                    </div>

                    <div class="col-xs-12 col-sm-6 text-left">


                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Fecha de Pago del Anticipo:</span> {{ estimate.advance_payment_date }}</span>

                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Periodo:</span> {{ estimate.period }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Fecha Inicio:</span> {{ estimate.start_date }}</span>
                        <span href="" class="list-group-item withripple "><i
                                class="fa fa-chevron-right color-active"></i> <span
                                class="color-active">Fecha Final:</span> {{ estimate.end_date }}</span>

                        <span href="" class="list-group-item withripple ">
                            <i class="fa fa-chevron-right color-active"></i>
                            <span href="#" class="color-active exp" data-toggle="collapse" data-target="#verconceptos">
                                Ver Conceptos
                                <span class="glyphicon  glyphicon-plus-sign"
                                      style="font-size: 17px;top: 3px;">
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-xs-12">

                        <div class="clearfix"></div>
                        <br>
                        {% comment %}begin concepts{% endcomment %}
                        <div id="verconceptos" class="collapse">
                            <div class="row">

                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Key</th>
                                                <th class="text-center">Descripción</th>
                                                <th class="text-center">Cantidad Pactada</th>
                                            </tr>
                                            </thead>
                                            {% for c in contract_concepts %}
                                                <tr>
                                                    <td width="10%">{{ c.concept.key }}</td>
                                                    <td>{{ c.concept.description }}</td>
                                                    <td>{{ c.amount }} {{ c.concept.unit.abbreviation }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <br>
                        </div>
                        {% comment %}end concepts{% endcomment %}

                        <div class="clearfix"></div>
                        <div class="col-xs-12 text-left">

                            <div class="card card-default">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Avances
                                    </h3>
                                </div>

                                {% if perms.ERP.add_progressestimate and estimate.is_open %}
                                    <div class="item-right">
                                        <a href="/admin/ERP/progressestimate/add/?estimate={{ estimate.id }}"
                                           class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i
                                                class="zmdi zmdi-plus zmdi-hc-2x"></i>
                                        </a>

                                    </div>
                                {% endif %}


                                {% if estimate.lock_status != 'L' %}

                                    <div class="card-block">
                                        <div>Deducciones por mala calidad: {{ estimate.deduction_amount }}</div>
                                        <a href="#"
                                           data-toggle="modal" data-target="#unlock_modal"
                                           class="">
                                            <span>Ver Comentarios</span>
                                        </a>


                                    </div>
                                {% endif %}
                                <div class="card-block text-center">
                                        <span class="table-responsive">
                                            <table id="" class="table table-striped text-center table_s">
                                                <thead>
                                                <tr>
                                                    <th class="text-center">Clave de la Estimación</th>
                                                    <th class="text-center">Progreso</th>
                                                    <th class="text-center">Monto</th>
                                                    <th class="text-center">Estatus del Pago</th>
                                                    <th class="text-center">Archivo del Generador</th>

                                                    {% if perms.ERP.change_progressestimate %}
                                                        <th class="text-center no-sorting">Editar</th>
                                                    {% endif %}


                                                    {% if current_user_can_approve %}
                                                        <th class="text-center">Aprobar</th>
                                                    {% endif %}
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>

                                                <tr class="text-center">
                                                    <td>
                                                        Anticipo
                                                    </td>
                                                    <td>
                                                        <div class="progress" id="progressbar">
                                                            <div class="progress-bar progress-bar-{% if advance_percentage|slice:":-1"  < 15 %}danger
                                                                  {% elif advance_percentage|slice:":-1" > 15 and advance_percentage|slice:":-1" < 50 %}warning
                                                                  {% elif advance_percentage|slice:":-1" >= 50 and advance_percentage|slice:":-1" <= 75 %}info
                                                                  {% elif advance_percentage|slice:":-1" > 75 %}success
                                                                  {% endif %}"
                                                                 role="progressbar"
                                                                 aria-valuenow="{{ advance_percentage }}"
                                                                 aria-valuemin="0" aria-valuemax="100"
                                                                 style="width: {{ advance_percentage }}">
                                                            </div>

                                                        </div>
                                                        <small>{{ advance_percentage }}</small>

                                                    </td>
                                                    <td>
                                                        {{ estimate.advance_payment_amount }}
                                                    </td>
                                                    <td>
                                                        <span class="payed-label">{{ estimate.get_advance_payment_status_display }}</span>

                                                        {% if estimate.has_been_approved %}
                                                            <i class="fa fa-circle approved approval-indicator"
                                                               data-toggle="tooltip" data-placement="left"
                                                               data-html="true"
                                                               title="{{ estimate.get_html_approval_list }}"></i>
                                                        {% else %}
                                                            <i class="fa fa-circle not-approved approval-indicator"
                                                               data-toggle="tooltip" data-placement="left"
                                                               data-html="true"
                                                               title="{{ estimate.get_html_approval_list }}"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if progress_estimate.generator_file %}
                                                            <a href="/media/{{ progress_estimate.generator_file }}"
                                                               download
                                                               class="btn btn-raised btn-default btn-xs">
                                                                <i class="fa fa-cloud-download fa-2x color-info eliminar"></i>
                                                            </a>
                                                        {% endif %}

                                                    </td>
                                                    {% if perms.ERP.change_progressestimate %}
                                                        <td class="text-center" style="width: 2%">

                                                        </td>
                                                    {% endif %}

                                                    {% if current_user_can_approve %}
                                                        <td>
                                                        {% if estimate.show_approval_button %}
                                                            <form method="POST"
                                                                  action="/admin/ERP/estimate/{{ estimate.id }}/approve">
                                                                {% csrf_token %}
                                                                <button class="approval-submit-button">
                                                                    <i class="fa fa-thumbs-o-up"></i>
                                                                </button>
                                                            </form>
                                                        {% endif %}
                                                    </td>
                                                    {% endif %}
                                                </tr>


                                                {% if progress_estimates %}
                                                    {% for progress_estimate in progress_estimates %}
                                                        <tr class="text-center">
                                                        <td>
                                                            {{ progress_estimate.key }}
                                                        </td>
                                                        <td>
                                                            <div class="progress" id="progressbar">
                                                                <div class="progress-bar progress-bar-{% if progress_estimate.progress|slice:":-1"  < 15 %}danger
                                                                  {% elif progress_estimate.progress|slice:":-1" > 15 and progress_estimate.progress|slice:":-1" < 50 %}warning
                                                                  {% elif progress_estimate.progress|slice:":-1" >= 50 and progress_estimate.progress|slice:":-1" <= 75 %}info
                                                                  {% elif progress_estimate.progress|slice:":-1" > 75 %}success
                                                                  {% endif %}"
                                                                     role="progressbar"
                                                                     aria-valuenow="{{ progress_estimate.progress }}"
                                                                     aria-valuemin="0" aria-valuemax="100"
                                                                     style="width: {{ progress_estimate.progress }}">
                                                                </div>

                                                            </div>
                                                            <small>{{ progress_estimate.progress }}</small>

                                                        </td>
                                                        <td>
                                                            {{ progress_estimate.amount }}
                                                        </td>
                                                        <td>
                                                            <span class="payed-label">{{ progress_estimate.get_payment_status_display }}</span>

                                                            {% if progress_estimate.has_been_approved %}
                                                                <i class="fa fa-circle approved approval-indicator"
                                                                   data-toggle="tooltip" data-placement="left"
                                                                   data-html="true"
                                                                   title="{{ progress_estimate.get_html_approval_list }}"></i>
                                                            {% else %}
                                                                <i class="fa fa-circle not-approved approval-indicator"
                                                                   data-toggle="tooltip" data-placement="left"
                                                                   data-html="true"
                                                                   title="{{ progress_estimate.get_html_approval_list }}"></i>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if progress_estimate.generator_file %}
                                                                <a href="/media/{{ progress_estimate.generator_file }}"
                                                                   download
                                                                   class="btn btn-raised btn-default btn-xs">
                                                                    <i class="fa fa-cloud-download fa-2x color-info eliminar"></i>
                                                                </a>
                                                            {% endif %}

                                                        </td>
                                                            {% if perms.ERP.change_progressestimate %}
                                                                <td class="text-center" style="width: 2%">
                                                                {% if progress_estimate.can_be_edited %}
                                                                    <a href="/admin/ERP/progressestimate/{{ progress_estimate.id }}/change/"
                                                                       class="btn btn-raised btn-default btn-xs"><i
                                                                            class="fa fa-pencil color-default eliminar"></i></a>
                                                                {% endif %}
                                                            </td>
                                                            {% endif %}

                                                            {% if current_user_can_approve %}
                                                                <td>
                                                            {% if progress_estimate.show_approval_button %}
                                                                <form method="POST"
                                                                      action="/admin/ERP/progressestimate/{{ progress_estimate.id }}/approve">
                                                                    {% csrf_token %}
                                                                    <button class="approval-submit-button">
                                                                        <i class="fa fa-thumbs-o-up"></i>
                                                                    </button>
                                                                </form>
                                                            {% endif %}
                                                        </td>
                                                            {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                {% else %}
                                                {% endif %}
                                                </tr>
                                                </tbody>
                                            </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>


    <div class="modal" id="unlock_modal" tabindex="-1" role="dialog" aria-labelledby="unlock_modal">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                    <h3 class="modal-title" id="myModalLabel3">Deducciones por Mala Calidad</h3>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12">

                        <p>Se han aplicado deducciones por mala calidad por la cantidad
                            de: <span class="deduction-comments"> {{ estimate.deduction_amount }}</span>.</p>
                        <p>Las comentarios agregados por el auditor son los siguientes:</p>

                        <div class="deduction-comments">
                            {{ estimate.deduction_comments | safe }}
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </button>

                </div>

            </div>
        </div>
    </div>


    <script>
        {% comment %}var progressBarColor;

        var someValueToCheck = {{ progress_estimate.progress }};

        if(someValueToCheck >= 4) progressBarColor = "#ff0000";
        else if(someValueToCheck >=5) progressBarColor = "orange";
        else progressBarColor = "green";

        $("#progressbar").css('background-color', progressBarColor);{% endcomment %}
    </script>

    <script>
        $(document).ready(function () {
            $("#verconceptos").on("hide.bs.collapse", function () {
                $(".exp").html(' Ver Conceptos <span class="glyphicon glyphicon-plus-sign"></span>');
            });
            $("#verconceptos").on("show.bs.collapse", function () {
                $(".exp").html(' Ver Conceptos <span class="glyphicon glyphicon-minus-sign"></span>');
            });
        });
    </script>



    <script>
        jQuery(document).ready(function () {
            jQuery('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}