{% extends "admin/base_site.html" %}


{% block content %}
    <a href="/admin/ERP/uploadedcatalogshistory/add/?project={{project_id}}">Añadir catálogo de conceptos</a>
    <a href="/admin/ERP/uploadedinputexplotionshistory/add/?project={{project_id}}">Añadir explosión de insumos</a>
    <div id="content-main">

        {% include 'ERP/list-search-fields.html' %}

        {% if parent_line_item is not None %}
            <h1>Partida Actual: {{ parent_line_item.description }}</h1>
        {% endif %}

        <h1>Partidas</h1>
        <ul>
            {% for line_item in object_list %}
                <li>
                    <a href="/admin/ERP/lineitem/{{ current_type_full }}/{{ line_item.project_id }}/{{ line_item.id }}">{{ line_item.description }}</a>
                    | <a
                        href="/admin/ERP/lineitem/{{ current_type_full }}/{{ line_item.project_id }}/{{ line_item.id }}">Ver</a>
                    |
                    <a href="{{ line_item.id }}/change">Editar</a> | <a href="{{ line_item.id }}/delete">Eliminar</a>
                </li>
            {% empty %}
                <li>No se encontraron partidas.</li>
            {% endfor %}
        </ul>


        {% include 'ERP/list-pagination.html' %}


        <h1>{{ current_type_full }} - Cambiar!!!</h1>
        <ul>
            {% for concept in concepts_inputs %}
                <li>
                    {{ concept.description }} | <!--<a href="">Añadir Estimación</a>-->
                </li>
            {% empty %}
                <li>No se encontraron conceptos.</li>
            {% endfor %}
        </ul>


    </div>
{% endblock %}
