{% extends "admin/base_site.html" %}


{% block content %}
    <div id="content-main">

        {% include 'ERP/list-search-fields.html' %}

        {% if parent_line_item is not None %}
            <h1>Partida Actual: {{ parent_line_item.description }}</h1>
        {% endif %}

        <h1>Partidas</h1>
        <ul>
            {% for line_item in object_list %}
                <li>
                    <a href="/admin/ERP/lineitem/{{ line_item.project_id }}/{{ line_item.id }}">{{ line_item.description }}</a>
                    | <a href="{{ line_item.id }}">Ver</a> | <a
                        href="{{ line_item.id }}/change">Editar</a> | <a href="{{ line_item.id }}/delete">Eliminar</a>
                </li>
            {% empty %}
                <li>No se encontraron partidas.</li>
            {% endfor %}
        </ul>


        {% include 'ERP/list-pagination.html' %}


        <h1>Conceptos</h1>
        <ul>
            {% for concept in concepts_inputs %}
                <li>
                    {{ concept.description }}
                </li>
            {% empty %}
                <li>No se encontraron conceptos.</li>
            {% endfor %}
        </ul>


    </div>
{% endblock %}
