<form id="searchform" action="" method="get" accept-charset="utf-8">
    <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
    </button>
    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>


{% comment %}
<form id="searchform" action="" method="get" accept-charset="utf-8">
            <div class="col-xs-3 col-xs-offset-9"><!-- DIV needed for valid HTML -->

                <input type="text" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" class="form-control"/>
                <span class="input-group-btn absolute-r">
                    <button type="submit" value="Buscar" class="btn btn-fab btn-fab-mini">
                        <i class="material-icons">search</i>
                    </button>
                </span>
            </div>

        </form>

{% endcomment %}