{% comment %}<form id="searchform" action="" method="get" accept-charset="utf-8">
    <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
    </button>
    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>{% endcomment %}
{% block header_list %}

    <div class="row">
        <div class="col-xs-12">
            <form id="searchform" action="" method="get" accept-charset="utf-8">
                <button class="searchbutton" type="submit" style="    margin-right: -6px;">
                    <i class="fa fa-search"></i>
                </button>
                {% if query %}
                    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Buscar"
                           value="{{ query }}">
                {% else %}
                    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Buscar">
                {% endif %}
            </form>


        </div>
    </div>

{% endblock %}