{% extends "admin/base_site.html" %}

{% block content %}
    <style>
        dd, dt {
            line-height: 1.3;
        }
    </style>
    {% comment %}   <h1>Bitácoras</h1>
    <ul>
        <li>Proyecto: {{ progressestimatelog.project.nombreProyecto }}</li>
        <li>Descripción: {{ progressestimatelog.description }}</li>
        <li>Fecha: {{ progressestimatelog.date }}</li>

    </ul>



    <h1>Archivos de bitácora</h1>
    <table border="1">
        <tr>
            <td>Archivo</td>
            <td>MIME</td>
        </tr>
        {% for logfile in logfiles %}
            <tr>
                <td>
                    {{ logfile.file }}
                </td>
                <td>
                    {{ logfile.mime }}
                </td>

            </tr>
        {% empty %}
            <li>No Companies yet.</li>
        {% endfor %}
    </table>{% endcomment %}


    <div class="col-xs-10 col-xs-offset-1" style="margin-bottom: 25px">
        <div class="card">
            <div class="card-block text-center">
                <div class="row">

                    <div class="col-xs-12 text-center">
                        <div style="">
                        <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-info"
                              style="margin-bottom: 0rem !important"><i
                                class="zmdi zmdi-city-alt"></i></span>
                            <h3 class="color-info">Bitácoras</h3>
                        </div>

                    </div>

                        <div class="col-xs-3 text-left">
                            <div style="">
                                <dl>
                                    <dd>Proyecto</dd>
                                    <dt>{{ progressestimatelog.project.nombreProyecto }}</dt>

                                </dl>
                            </div>
                        </div>
                        <div class="col-xs-3 text-left">
                            <div >
                                <dl>
                                    <dd>Fecha</dd>
                                    <dt>{{ progressestimatelog.date }}</dt>

                                </dl>
                            </div>
                        </div>

                        <div class="col-xs-3 text-left">
                            <div>
                                <dl>
                                    <dd>Notas</dd>
                                    <dt>{{ progressestimatelog.description }}</dt>

                                </dl>
                            </div>
                        </div>
                        <div class="col-xs-3 text-left">
                            <div>
                                <dl>
                                    <dd>Estado</dd>
                                    <dt>{{ progressestimatelog.get_status_display }}</dt>

                                </dl>
                            </div>
                        </div>


                    <div class="col-xs-12 text-left">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Archivos de bitácora</h3>
                            </div>
                            {% if logfiles.count > 0 %}
                                <table id="" class="table  table-striped">
                                    <thead>
                                    <tr>
                                        <th>Archivo</th>
                                        <th style="width: 5%">Descargar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for logfile in logfiles %}
                                        <tr>
                                            <td>
                                                {{ logfile.version }}
                                            </td>
                                            <td>
                                                <a href="/media/{{ logfile.file }}" class="btn btn-raised btn-default btn-xs"><i class="fa fa-download color-default eliminar"></i><div class="ripple-container"></div></a>
                                                {% comment %}<a download="" href="/media/{{ logfile.file }}">Descargar</a>{% endcomment %}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <li>No se encontraron Estimaciones.</li>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div>No se encontraron Estimaciones.</div>
                            {% endif %}
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>



{% endblock %}