{% extends "admin/base_site.html" %}

{% block content %}
    <style>
    dd, dt {
    line-height: 1.3;
}
    </style>
    {% comment %}   <h1>Bitácoras</h1>
    <ul>
        <li>Proyecto: {{ progressestimatelog.project.nombreProyecto }}</li>
        <li>Descripción: {{ progressestimatelog.description }}</li>
        <li>Fecha: {{ progressestimatelog.date }}</li>

    </ul>



    <h1>Archivos de bitácora</h1>
    <table border="1">
        <tr>
            <td>Archivo</td>
            <td>MIME</td>
        </tr>
        {% for logfile in logfiles %}
            <tr>
                <td>
                    {{ logfile.file }}
                </td>
                <td>
                    {{ logfile.mime }}
                </td>

            </tr>
        {% empty %}
            <li>No Companies yet.</li>
        {% endfor %}
    </table>{% endcomment %}


    <div class="col-xs-12" style="margin-bottom: 25px">
        <div class="card">
            <div class="card-block text-center">
                <div class="row">

                    <div class="col-xs-4 text-left">
                        <div style="display: inline-flex">
                        <span class="ms-icon ms-icon-circle ms-icon mb-4 color-info"
                              style="margin-bottom: 0rem !important"><i
                                class="zmdi zmdi-city-alt"></i></span>
                            <h3 class="color-info">Bitácoras</h3>
                    </div>

                    </div>
                    <div class="col-xs-4 text-left">
                        <div style="    padding-top: 15px;">
                            <dl>
                                <dd>Proyecto</dd>
                                <dt>{{ progressestimatelog.project.nombreProyecto }}</dt>

                            </dl>
                        </div>
                    </div>
                    <div class="col-xs-4 text-left">
                        <div style="    padding-top: 15px;">
                            <dl>
                                <dd>Fecha</dd>
                                <dt>{{ progressestimatelog.date }}</dt>
                            </dl>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-xs-12 text-left">
                        <div style="    padding-top: 15px;">
                            <dl>
                                <dd>Notas</dd>
                                <dt>{{ progressestimatelog.description }}</dt>
                                <hr>
                            </dl>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 text-left">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                     Archivos de bitácora</h3>
                            </div>
                             <table id="" class="table  table-striped table_s">
                                <thead>
                                <tr>
                                    <th>Archivo</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for logfile in logfiles %}
                                    <tr>
                                        <td>

                                           <a href="{{ logfile.file.name }}">{{ logfile.file.name }}</a>
                                        </td>

                                    </tr>
                                {% empty %}
                                    <li>No se encontraron Estimaciones.</li>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>



{% endblock %}