{% extends "admin/base_site.html" %}

{% block content %}


{% comment %}

    <h1> Nombre de Proyecto: {{ project.nombreProyecto }} <a href="change">Editar</a></h1>

    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Clave de Proyecto: {{ project.key }} </li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Propietario: {{ project.propietario }} </li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Fecha de Inicio: {{ project.fecha_inicial }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Fecha de Termino: {{ project.fecha_final }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo de Contrucción: {{ project.tipo_construccion }}</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> País: {{ project.ubicacion_pais }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estado: {{ project.ubicacion_estado }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Municipio: {{ project.ubicacion_municipio }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Colonia: {{ project.ubicacion_colonia }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Calle: {{ project.ubicacion_calle }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Número: {{ project.ubicacion_numero }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> CP: {{ project.ubicacion_cp }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Áreas</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Superficie de Escritura: {{ project.area_superficie_escritura }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Superficie de Levantamiento: {{ project.area_superficie_levantamiento }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estado Legal</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento de Propiedad: {{ project.estadolegal_documento_propiedad }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_propiedad }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Gravamen: {{ project.estadolegal_gravamen }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_gravamen }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Predial: {{ project.estadolegal_predial }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_predial }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Agua: {{ project.estadolegal_agua }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_agua }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Restricciones</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vial: {{ project.restriccion_vial }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> CNA : {{ project.restriccion_cna }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> CFE : {{ project.restriccion_cfe }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> PEMEX: {{ project.restriccion_pemex }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> INHA: {{ project.restriccion_inha }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Otros: {{ project.restriccion_otros }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.restriccion_observaciones }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Uso de Suelo</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> PDMU: {{ project.usosuelo_pmdu }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Densidad: {{ project.usosuelo_densidad }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Lote Mínimo: {{ project.usosuelo_loteminimo }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> M2 de Construcción: {{ project.usosuelo_m2construccion }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Área Libre: {{ project.usosuelo_arealibre }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Altura: {{ project.usosuelo_altura }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Densidad Requerida: {{ project.usosuelo_densidadrequerida }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Hidráulica</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Fuente: {{ project.hidraulica_fuente }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.hidraulica_distancia }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.hidraulica_observaciones }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.hidraulica_documento }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Sanitaria</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.sanitaria_tipo }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Responsable: {{ project.sanitaria_responsable }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.sanitaria_observaciones }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.sanitaria_documento }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Pluvial</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.pluvial_tipo }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Responsable: {{ project.pluvial_responsable }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.pluvial_observaciones }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.pluvial_documento }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vial</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vías de Acceso: {{ project.vial_viaacceso }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.vial_distancia }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Carriles: {{ project.vial_carriles }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Sección: {{ project.vial_seccion }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo de Pavimento: {{ project.vial_tipopavimento }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estado de Construcción: {{ project.vial_estadoconstruccion }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.vial_observaciones }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.vial_documento }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Electricidad</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.electricidad_tipo }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.electricidad_distancia }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.electricidad_observaciones }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.electricidad_documento }}</li>
    </ul>

    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Alumbrado Público</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.alumbradopublico_tipo }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.alumbradopublico_distancia }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.alumbradopublico_observaciones }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.alumbradopublico_documento }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Telefonía</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.telefonia_distancia }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.telefonia_observaciones }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.telefonia_documento }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> TV Cable</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.tvcable_distancia }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.tvcable_observaciones }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Equipamiento</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> A 100 : {{ project.equipamiento_a100 }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> A 200 : {{ project.equipamiento_a200 }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> A 500 : {{ project.equipamiento_a500 }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Regional : {{ project.equipamiento_regional }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Costo</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Costo del Predio : {{ project.costo_predio }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> M2 : {{ project.costo_m2 }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Escrituras M2 : {{ project.costo_escrituras }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Levantamiento M2 : {{ project.costo_levantamiento }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estudio de Mercado</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Demanda : {{ project.estudiomercado_demanda }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Oferta : {{ project.estudiomercado_oferta }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Conclusiones : {{ project.estudiomercado_conclusiones }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Recomendaciones : {{ project.estudiomercado_recomendaciones }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Definición del Proyecto</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Alernativa : {{ project.definicionproyecto_alternativa }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tamaño : {{ project.definicionproyecto_tamano }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Programa : {{ project.definicionproyecto_programa }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Programas y Áreas</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Área Privada : {{ project.programayarea_areaprivativa }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Caseta : {{ project.programayarea_caseta }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Jardín : {{ project.programayarea_jardin }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vialidad: {{ project.programayarea_vialidad }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Área Verde : {{ project.programayarea_areaverde }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estacionamiento Visitas: {{ project.programayarea_estacionamientovisita }}</li>
    </ul>
    <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Afectación</li>
    <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Afectación : {{ project.programayarea_afectacion }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.programayarea_documento }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Latitud: {{ project.latitud }}</li>
        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Longitud: {{ project.longitud }}</li>
    </ul>
    </ul>
{% endcomment %}








     <div class="card nav-tabs-ver-container">
        <div class="row">
            <h1> Nombre de Proyecto: {{ project.nombreProyecto }} </h1>
            <div class="col-md-3">
                <ul class="nav nav-tabs-ver" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab"
                                                              data-toggle="tab"><i class="zmdi zmdi-home"></i>
                        Proyecto</a>
                    </li>
                    <li role="presentation"><a href="#ubicacion" aria-controls="profile" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-account"></i> Ubicación/Áreas</a></li>
                    {% comment %}<li role="presentation"><a href="#areas" aria-controls="messages" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-email"></i> Áreas</a></li>{% endcomment %}
                    <li role="presentation"><a href="#legal" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Estado Legal</a></li>
                    <li role="presentation"><a href="#rest" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Restricciones</a></li>
                    <li role="presentation"><a href="#suelo" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Analisis</a></li>
                    <li role="presentation"><a href="#costo" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Costo/Mercado</a></li>
                    <li role="presentation"><a href="#program" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Programa</a></li>


                </ul>
            </div>
            <div class="col-md-9 nav-tabs-ver-container-content">
                <div class="card-block">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="general">
                            <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Clave de Proyecto: {{ project.key }} </li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Propietario: {{ project.propietario }} </li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Fecha de Inicio: {{ project.fecha_inicial }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Fecha de Termino: {{ project.fecha_final }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo de Contrucción: {{ project.tipo_construccion }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ubicacion">
                            <div class="col-xs-6">
                                <h4>Ubicación</h4>
                                 <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> País: {{ project.ubicacion_pais }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estado: {{ project.ubicacion_estado }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Municipio: {{ project.ubicacion_municipio }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Colonia: {{ project.ubicacion_colonia }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Calle: {{ project.ubicacion_calle }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Número: {{ project.ubicacion_numero }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> CP: {{ project.ubicacion_cp }}</li>
                            </ul>
                            </div>
                           <div class="col-xs-6">
                               <h4>Áreas</h4>
                                <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Superficie de Escritura: {{ project.area_superficie_escritura }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Superficie de Levantamiento: {{ project.area_superficie_levantamiento }}</li>
                            </ul>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="legal">
                            <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento de Propiedad: {{ project.estadolegal_documento_propiedad }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_propiedad }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Gravamen: {{ project.estadolegal_gravamen }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_gravamen }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Predial: {{ project.estadolegal_predial }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_predial }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Agua: {{ project.estadolegal_agua }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_agua }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="rest">
                            <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vial: {{ project.restriccion_vial }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> CNA : {{ project.restriccion_cna }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> CFE : {{ project.restriccion_cfe }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> PEMEX: {{ project.restriccion_pemex }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> INHA: {{ project.restriccion_inha }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Otros: {{ project.restriccion_otros }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.restriccion_observaciones }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="suelo">
                            <div class="col-xs-4">
                                <h4>Uso de suelo</h4>
                                <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> PDMU: {{ project.usosuelo_pmdu }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Densidad: {{ project.usosuelo_densidad }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Lote Mínimo: {{ project.usosuelo_loteminimo }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> M2 de Construcción: {{ project.usosuelo_m2construccion }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Área Libre: {{ project.usosuelo_arealibre }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Altura: {{ project.usosuelo_altura }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Densidad Requerida: {{ project.usosuelo_densidadrequerida }}</li>
                            </ul>
                            </div>
                            <div class="col-xs-4">
                                <h4>Hidraulica</h4>
                                <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Fuente: {{ project.hidraulica_fuente }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.hidraulica_distancia }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.hidraulica_observaciones }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.hidraulica_documento }}</li>
                            </ul>
                            </div>
<div class="col-xs-4">
    <h4>Sanitaria</h4>
                             <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.sanitaria_tipo }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Responsable: {{ project.sanitaria_responsable }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.sanitaria_observaciones }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.sanitaria_documento }}</li>
                            </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-4">
                                <h4>Pluvial</h4>
                                 <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.pluvial_tipo }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Responsable: {{ project.pluvial_responsable }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.pluvial_observaciones }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.pluvial_documento }}</li>
                            </ul>
                            </div>
                            <div class="col-xs-4">
                                <h4>Vial</h4>
                                 <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vías de Acceso: {{ project.vial_viaacceso }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.vial_distancia }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Carriles: {{ project.vial_carriles }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Sección: {{ project.vial_seccion }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo de Pavimento: {{ project.vial_tipopavimento }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estado de Construcción: {{ project.vial_estadoconstruccion }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.vial_observaciones }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.vial_documento }}</li>
                            </ul>
                            </div>
                           <div class="col-xs-4">
                               <h4>Electricidad</h4>
                                 <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.electricidad_tipo }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.electricidad_distancia }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.electricidad_observaciones }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.electricidad_documento }}</li>
                            </ul>
                            </div>
                            <div class="clearfix"></div>
<div class="col-xs-4">
    <h4>Alumbrado público</h4>
                                 <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.alumbradopublico_tipo }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.alumbradopublico_distancia }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.alumbradopublico_observaciones }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.alumbradopublico_documento }}</li>
                            </ul>
                            </div>
                           <div class="col-xs-4">
<h4>Telefonía</h4>
                            <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.telefonia_distancia }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.telefonia_observaciones }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.telefonia_documento }}</li>
                            </ul>
                            </div>
<div class="col-xs-4">
    <h4>Tv cable</h4>
                               <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.tvcable_distancia }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.tvcable_observaciones }}</li>
                            </ul>
                            </div>
                            <div class="clearfix"></div>
                           <div class="col-xs-4">
                               <h4>Equipamiento</h4>
                                 <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> A 100 : {{ project.equipamiento_a100 }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> A 200 : {{ project.equipamiento_a200 }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> A 500 : {{ project.equipamiento_a500 }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Regional : {{ project.equipamiento_regional }}</li>
                            </ul>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="costo">
                            <div class="col-xs-4">
                                <h4>Costo</h4>
                                 <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Costo del Predio : {{ project.costo_predio }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> M2 : {{ project.costo_m2 }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Escrituras M2 : {{ project.costo_escrituras }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Levantamiento M2 : {{ project.costo_levantamiento }}</li>
                            </ul>
                            </div>
                            <div class="col-xs-4">
                                <h4>Estudio de mercado</h4>
                                 <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Demanda : {{ project.estudiomercado_demanda }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Oferta : {{ project.estudiomercado_oferta }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Conclusiones : {{ project.estudiomercado_conclusiones }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Recomendaciones : {{ project.estudiomercado_recomendaciones }}</li>
                            </ul>
                            </div>
                            <div class="col-xs-4">
<h4>Definicion del proyecto</h4>
                            <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Alernativa : {{ project.definicionproyecto_alternativa }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tamaño : {{ project.definicionproyecto_tamano }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Programa : {{ project.definicionproyecto_programa }}</li>
                            </ul>
                            </div>




                        </div>
                        <div role="tabpanel" class="tab-pane" id="program">
                            <div class="col-xs-6">
                                <h4>Programas y Áreas</h4>
                               <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Área Privada : {{ project.programayarea_areaprivativa }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Caseta : {{ project.programayarea_caseta }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Jardín : {{ project.programayarea_jardin }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vialidad: {{ project.programayarea_vialidad }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Área Verde : {{ project.programayarea_areaverde }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estacionamiento Visitas: {{ project.programayarea_estacionamientovisita }}</li>
                            </ul>
                            </div>
                            <div class="col-xs-6">
                                <h4>Afectación</h4>
                                 <ul class="list-group top-padding">
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Afectación : {{ project.programayarea_afectacion }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.programayarea_documento }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Latitud: {{ project.latitud }}</li>
                                <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Longitud: {{ project.longitud }}</li>
                            </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% comment %}

    <h1> Nombre de Proyecto: {{ project.nombreProyecto }} </h1>
    <div class="row masonry-container">


        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Clave de Proyecto: {{ project.key }} </li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Propietario: {{ project.propietario }} </li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Fecha de Inicio: {{ project.fecha_inicial }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Fecha de Termino: {{ project.fecha_final }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo de Contrucción: {{ project.tipo_construccion }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> País: {{ project.ubicacion_pais }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estado: {{ project.ubicacion_estado }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Municipio: {{ project.ubicacion_municipio }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Colonia: {{ project.ubicacion_colonia }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Calle: {{ project.ubicacion_calle }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Número: {{ project.ubicacion_numero }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> CP: {{ project.ubicacion_cp }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Superficie de Escritura: {{ project.area_superficie_escritura }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Superficie de Levantamiento: {{ project.area_superficie_levantamiento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento de Propiedad: {{ project.estadolegal_documento_propiedad }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_propiedad }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Gravamen: {{ project.estadolegal_gravamen }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_gravamen }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Predial: {{ project.estadolegal_predial }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_predial }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Agua: {{ project.estadolegal_agua }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.documento_agua }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vial: {{ project.restriccion_vial }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> CNA : {{ project.restriccion_cna }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> CFE : {{ project.restriccion_cfe }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> PEMEX: {{ project.restriccion_pemex }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> INHA: {{ project.restriccion_inha }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Otros: {{ project.restriccion_otros }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.restriccion_observaciones }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> PDMU: {{ project.usosuelo_pmdu }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Densidad: {{ project.usosuelo_densidad }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Lote Mínimo: {{ project.usosuelo_loteminimo }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> M2 de Construcción: {{ project.usosuelo_m2construccion }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Área Libre: {{ project.usosuelo_arealibre }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Altura: {{ project.usosuelo_altura }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Densidad Requerida: {{ project.usosuelo_densidadrequerida }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Fuente: {{ project.hidraulica_fuente }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.hidraulica_distancia }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.hidraulica_observaciones }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.hidraulica_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.sanitaria_tipo }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Responsable: {{ project.sanitaria_responsable }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.sanitaria_observaciones }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.sanitaria_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.pluvial_tipo }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Responsable: {{ project.pluvial_responsable }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.pluvial_observaciones }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.pluvial_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vías de Acceso: {{ project.vial_viaacceso }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.vial_distancia }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Carriles: {{ project.vial_carriles }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Sección: {{ project.vial_seccion }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo de Pavimento: {{ project.vial_tipopavimento }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estado de Construcción: {{ project.vial_estadoconstruccion }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.vial_observaciones }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.vial_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.electricidad_tipo }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.electricidad_distancia }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.electricidad_observaciones }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.electricidad_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tipo: {{ project.alumbradopublico_tipo }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.alumbradopublico_distancia }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.alumbradopublico_observaciones }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.alumbradopublico_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.telefonia_distancia }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.telefonia_observaciones }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.telefonia_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Distancia: {{ project.tvcable_distancia }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Observaciones: {{ project.tvcable_observaciones }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> A 100 : {{ project.equipamiento_a100 }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> A 200 : {{ project.equipamiento_a200 }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> A 500 : {{ project.equipamiento_a500 }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Regional : {{ project.equipamiento_regional }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Costo del Predio : {{ project.costo_predio }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> M2 : {{ project.costo_m2 }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Escrituras M2 : {{ project.costo_escrituras }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Levantamiento M2 : {{ project.costo_levantamiento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Demanda : {{ project.estudiomercado_demanda }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Oferta : {{ project.estudiomercado_oferta }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Conclusiones : {{ project.estudiomercado_conclusiones }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Recomendaciones : {{ project.estudiomercado_recomendaciones }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Alernativa : {{ project.definicionproyecto_alternativa }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Tamaño : {{ project.definicionproyecto_tamano }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Programa : {{ project.definicionproyecto_programa }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Área Privada : {{ project.programayarea_areaprivativa }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Caseta : {{ project.programayarea_caseta }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Jardín : {{ project.programayarea_jardin }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Vialidad: {{ project.programayarea_vialidad }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Área Verde : {{ project.programayarea_areaverde }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Estacionamiento Visitas: {{ project.programayarea_estacionamientovisita }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Afectación : {{ project.programayarea_afectacion }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Documento: {{ project.programayarea_documento }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Latitud: {{ project.latitud }}</li>
                        <li class="list-group-item"><i class="fa fa-chevron-right color-active"></i> Longitud: {{ project.longitud }}</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>





    <ul class="list-group">
        --{{ tipoproyectodetalle_set }}--

    </ul>{% endcomment %}


{% endblock %}