{% extends "admin/base_site.html" %}

{% block content %}


{% comment %}

    <h1> Nombre de Proyecto: {{ project.nombreProyecto }} <a href="change">Editar</a></h1>

    <ul>
        <li>Clave de Proyecto: {{ project.key }} </li>
        <li>Propietario: {{ project.propietario }} </li>
        <li>Fecha de Inicio: {{ project.fecha_inicial }}</li>
        <li>Fecha de Termino: {{ project.fecha_final }}</li>
        <li>Tipo de Contrucción: {{ project.tipo_construccion }}</li>
    </ul>
    <ul>
        <li>País: {{ project.ubicacion_pais }}</li>
        <li>Estado: {{ project.ubicacion_estado }}</li>
        <li>Municipio: {{ project.ubicacion_municipio }}</li>
        <li>Colonia: {{ project.ubicacion_colonia }}</li>
        <li>Calle: {{ project.ubicacion_calle }}</li>
        <li>Número: {{ project.ubicacion_numero }}</li>
        <li>CP: {{ project.ubicacion_cp }}</li>
    </ul>
    <li>Áreas</li>
    <ul>
        <li>Superficie de Escritura: {{ project.area_superficie_escritura }}</li>
        <li>Superficie de Levantamiento: {{ project.area_superficie_levantamiento }}</li>
    </ul>
    <li>Estado Legal</li>
    <ul>
        <li>Documento de Propiedad: {{ project.estadolegal_documento_propiedad }}</li>
        <li>Documento: {{ project.documento_propiedad }}</li>
        <li>Gravamen: {{ project.estadolegal_gravamen }}</li>
        <li>Documento: {{ project.documento_gravamen }}</li>
        <li>Predial: {{ project.estadolegal_predial }}</li>
        <li>Documento: {{ project.documento_predial }}</li>
        <li>Agua: {{ project.estadolegal_agua }}</li>
        <li>Documento: {{ project.documento_agua }}</li>
    </ul>
    <li>Restricciones</li>
    <ul>
        <li>Vial: {{ project.restriccion_vial }}</li>
        <li>CNA : {{ project.restriccion_cna }}</li>
        <li>CFE : {{ project.restriccion_cfe }}</li>
        <li>PEMEX: {{ project.restriccion_pemex }}</li>
        <li>INHA: {{ project.restriccion_inha }}</li>
        <li>Otros: {{ project.restriccion_otros }}</li>
        <li>Observaciones: {{ project.restriccion_observaciones }}</li>
    </ul>
    <li>Uso de Suelo</li>
    <ul>
        <li>PDMU: {{ project.usosuelo_pmdu }}</li>
        <li>Densidad: {{ project.usosuelo_densidad }}</li>
        <li>Lote Mínimo: {{ project.usosuelo_loteminimo }}</li>
        <li>M2 de Construcción: {{ project.usosuelo_m2construccion }}</li>
        <li>Área Libre: {{ project.usosuelo_arealibre }}</li>
        <li>Altura: {{ project.usosuelo_altura }}</li>
        <li>Densidad Requerida: {{ project.usosuelo_densidadrequerida }}</li>
    </ul>
    <li>Hidráulica</li>
    <ul>
        <li>Fuente: {{ project.hidraulica_fuente }}</li>
        <li>Distancia: {{ project.hidraulica_distancia }}</li>
        <li>Observaciones: {{ project.hidraulica_observaciones }}</li>
        <li>Documento: {{ project.hidraulica_documento }}</li>
    </ul>
    <li>Sanitaria</li>
    <ul>
        <li>Tipo: {{ project.sanitaria_tipo }}</li>
        <li>Responsable: {{ project.sanitaria_responsable }}</li>
        <li>Observaciones: {{ project.sanitaria_observaciones }}</li>
        <li>Documento: {{ project.sanitaria_documento }}</li>
    </ul>
    <li>Pluvial</li>
    <ul>
        <li>Tipo: {{ project.pluvial_tipo }}</li>
        <li>Responsable: {{ project.pluvial_responsable }}</li>
        <li>Observaciones: {{ project.pluvial_observaciones }}</li>
        <li>Documento: {{ project.pluvial_documento }}</li>
    </ul>
    <li>Vial</li>
    <ul>
        <li>Vías de Acceso: {{ project.vial_viaacceso }}</li>
        <li>Distancia: {{ project.vial_distancia }}</li>
        <li>Carriles: {{ project.vial_carriles }}</li>
        <li>Sección: {{ project.vial_seccion }}</li>
        <li>Tipo de Pavimento: {{ project.vial_tipopavimento }}</li>
        <li>Estado de Construcción: {{ project.vial_estadoconstruccion }}</li>
        <li>Observaciones: {{ project.vial_observaciones }}</li>
        <li>Documento: {{ project.vial_documento }}</li>
    </ul>
    <li>Electricidad</li>
    <ul>
        <li>Tipo: {{ project.electricidad_tipo }}</li>
        <li>Distancia: {{ project.electricidad_distancia }}</li>
        <li>Observaciones: {{ project.electricidad_observaciones }}</li>
        <li>Documento: {{ project.electricidad_documento }}</li>
    </ul>

    <li>Alumbrado Público</li>
    <ul>
        <li>Tipo: {{ project.alumbradopublico_tipo }}</li>
        <li>Distancia: {{ project.alumbradopublico_distancia }}</li>
        <li>Observaciones: {{ project.alumbradopublico_observaciones }}</li>
        <li>Documento: {{ project.alumbradopublico_documento }}</li>
    </ul>
    <li>Telefonía</li>
    <ul>
        <li>Distancia: {{ project.telefonia_distancia }}</li>
        <li>Observaciones: {{ project.telefonia_observaciones }}</li>
        <li>Documento: {{ project.telefonia_documento }}</li>
    </ul>
    <li>TV Cable</li>
    <ul>
        <li>Distancia: {{ project.tvcable_distancia }}</li>
        <li>Observaciones: {{ project.tvcable_observaciones }}</li>
    </ul>
    <li>Equipamiento</li>
    <ul>
        <li>A 100 : {{ project.equipamiento_a100 }}</li>
        <li>A 200 : {{ project.equipamiento_a200 }}</li>
        <li>A 500 : {{ project.equipamiento_a500 }}</li>
        <li>Regional : {{ project.equipamiento_regional }}</li>
    </ul>
    <li>Costo</li>
    <ul>
        <li>Costo del Predio : {{ project.costo_predio }}</li>
        <li>M2 : {{ project.costo_m2 }}</li>
        <li>Escrituras M2 : {{ project.costo_escrituras }}</li>
        <li>Levantamiento M2 : {{ project.costo_levantamiento }}</li>
    </ul>
    <li>Estudio de Mercado</li>
    <ul>
        <li>Demanda : {{ project.estudiomercado_demanda }}</li>
        <li>Oferta : {{ project.estudiomercado_oferta }}</li>
        <li>Conclusiones : {{ project.estudiomercado_conclusiones }}</li>
        <li>Recomendaciones : {{ project.estudiomercado_recomendaciones }}</li>
    </ul>
    <li>Definición del Proyecto</li>
    <ul>
        <li>Alernativa : {{ project.definicionproyecto_alternativa }}</li>
        <li>Tamaño : {{ project.definicionproyecto_tamano }}</li>
        <li>Programa : {{ project.definicionproyecto_programa }}</li>
    </ul>
    <li>Programas y Áreas</li>
    <ul>
        <li>Área Privada : {{ project.programayarea_areaprivativa }}</li>
        <li>Caseta : {{ project.programayarea_caseta }}</li>
        <li>Jardín : {{ project.programayarea_jardin }}</li>
        <li>Vialidad: {{ project.programayarea_vialidad }}</li>
        <li>Área Verde : {{ project.programayarea_areaverde }}</li>
        <li>Estacionamiento Visitas: {{ project.programayarea_estacionamientovisita }}</li>
    </ul>
    <li>Afectación</li>
    <ul>
        <li>Afectación : {{ project.programayarea_afectacion }}</li>
        <li>Documento: {{ project.programayarea_documento }}</li>
        <li>Latitud: {{ project.latitud }}</li>
        <li>Longitud: {{ project.longitud }}</li>
    </ul>
    </ul>
{% endcomment %}








     <div class="card nav-tabs-ver-container">
        <div class="row">
            <h1> Nombre de Proyecto: {{ project.nombreProyecto }} </h1>
            <div class="col-md-3">
                <ul class="nav nav-tabs-ver" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab"
                                                              data-toggle="tab"><i class="zmdi zmdi-home"></i>
                        General</a>
                    </li>
                    <li role="presentation"><a href="#ubicacion" aria-controls="profile" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-account"></i> Ubicación</a></li>
                    <li role="presentation"><a href="#areas" aria-controls="messages" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-email"></i> Áreas</a></li>
                    <li role="presentation"><a href="#legal" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Estado Legal</a></li>
                    <li role="presentation"><a href="#rest" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Restricciones</a></li>
                    <li role="presentation"><a href="#suelo" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Uso de suelo</a></li>
                    <li role="presentation"><a href="#hidra" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Hidráulica</a></li>
                    <li role="presentation"><a href="#sanit" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Sanitaria</a></li>
                    <li role="presentation"><a href="#pluvial" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Pluvial</a></li>
                    <li role="presentation"><a href="#vial" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Vial</a></li>
                    <li role="presentation"><a href="#elect" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Electricidad</a></li>
                    <li role="presentation"><a href="#alumbrado" aria-controls="settings" role="tab"
                                               data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Alumbrado Público</a></li>
                    <li role="presentation"><a href="#telefon" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Telefonía</a></li>
                    <li role="presentation"><a href="#tv" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Tv cable</a></li>
                    <li role="presentation"><a href="#equip" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Equipamiento</a></li>
                    <li role="presentation"><a href="#costo" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Costo</a></li>
                    <li role="presentation"><a href="#estudio" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Estudio de Mercado</a></li>
                    <li role="presentation"><a href="#definicion" aria-controls="settings" role="tab"
                                               data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Definición del Proyecto</a></li>
                    <li role="presentation"><a href="#program" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Programas y Áreas</a></li>
                    <li role="presentation"><a href="#afectacion" aria-controls="settings" role="tab" data-toggle="tab"><i
                            class="zmdi zmdi-settings"></i> Afectación</a></li>
                    <

                </ul>
            </div>
            <div class="col-md-9 nav-tabs-ver-container-content">
                <div class="card-block">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="general">
                            <ul>
                                <li>Clave de Proyecto: {{ project.key }} </li>
                                <li>Propietario: {{ project.propietario }} </li>
                                <li>Fecha de Inicio: {{ project.fecha_inicial }}</li>
                                <li>Fecha de Termino: {{ project.fecha_final }}</li>
                                <li>Tipo de Contrucción: {{ project.tipo_construccion }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ubicacion">
                            <ul>
                                <li>País: {{ project.ubicacion_pais }}</li>
                                <li>Estado: {{ project.ubicacion_estado }}</li>
                                <li>Municipio: {{ project.ubicacion_municipio }}</li>
                                <li>Colonia: {{ project.ubicacion_colonia }}</li>
                                <li>Calle: {{ project.ubicacion_calle }}</li>
                                <li>Número: {{ project.ubicacion_numero }}</li>
                                <li>CP: {{ project.ubicacion_cp }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="areas">
                            <ul>
                                <li>Superficie de Escritura: {{ project.area_superficie_escritura }}</li>
                                <li>Superficie de Levantamiento: {{ project.area_superficie_levantamiento }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="legal">
                            <ul>
                                <li>Documento de Propiedad: {{ project.estadolegal_documento_propiedad }}</li>
                                <li>Documento: {{ project.documento_propiedad }}</li>
                                <li>Gravamen: {{ project.estadolegal_gravamen }}</li>
                                <li>Documento: {{ project.documento_gravamen }}</li>
                                <li>Predial: {{ project.estadolegal_predial }}</li>
                                <li>Documento: {{ project.documento_predial }}</li>
                                <li>Agua: {{ project.estadolegal_agua }}</li>
                                <li>Documento: {{ project.documento_agua }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="rest">
                            <ul>
                                <li>Vial: {{ project.restriccion_vial }}</li>
                                <li>CNA : {{ project.restriccion_cna }}</li>
                                <li>CFE : {{ project.restriccion_cfe }}</li>
                                <li>PEMEX: {{ project.restriccion_pemex }}</li>
                                <li>INHA: {{ project.restriccion_inha }}</li>
                                <li>Otros: {{ project.restriccion_otros }}</li>
                                <li>Observaciones: {{ project.restriccion_observaciones }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="suelo">
                            <ul>
                                <li>PDMU: {{ project.usosuelo_pmdu }}</li>
                                <li>Densidad: {{ project.usosuelo_densidad }}</li>
                                <li>Lote Mínimo: {{ project.usosuelo_loteminimo }}</li>
                                <li>M2 de Construcción: {{ project.usosuelo_m2construccion }}</li>
                                <li>Área Libre: {{ project.usosuelo_arealibre }}</li>
                                <li>Altura: {{ project.usosuelo_altura }}</li>
                                <li>Densidad Requerida: {{ project.usosuelo_densidadrequerida }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="hidra">
                            <ul>
                                <li>Fuente: {{ project.hidraulica_fuente }}</li>
                                <li>Distancia: {{ project.hidraulica_distancia }}</li>
                                <li>Observaciones: {{ project.hidraulica_observaciones }}</li>
                                <li>Documento: {{ project.hidraulica_documento }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sanit">
                            <ul>
                                <li>Tipo: {{ project.sanitaria_tipo }}</li>
                                <li>Responsable: {{ project.sanitaria_responsable }}</li>
                                <li>Observaciones: {{ project.sanitaria_observaciones }}</li>
                                <li>Documento: {{ project.sanitaria_documento }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="pluvial">
                            <ul>
                                <li>Tipo: {{ project.pluvial_tipo }}</li>
                                <li>Responsable: {{ project.pluvial_responsable }}</li>
                                <li>Observaciones: {{ project.pluvial_observaciones }}</li>
                                <li>Documento: {{ project.pluvial_documento }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="vial">
                            <ul>
                                <li>Vías de Acceso: {{ project.vial_viaacceso }}</li>
                                <li>Distancia: {{ project.vial_distancia }}</li>
                                <li>Carriles: {{ project.vial_carriles }}</li>
                                <li>Sección: {{ project.vial_seccion }}</li>
                                <li>Tipo de Pavimento: {{ project.vial_tipopavimento }}</li>
                                <li>Estado de Construcción: {{ project.vial_estadoconstruccion }}</li>
                                <li>Observaciones: {{ project.vial_observaciones }}</li>
                                <li>Documento: {{ project.vial_documento }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="elect">
                            <ul>
                                <li>Tipo: {{ project.electricidad_tipo }}</li>
                                <li>Distancia: {{ project.electricidad_distancia }}</li>
                                <li>Observaciones: {{ project.electricidad_observaciones }}</li>
                                <li>Documento: {{ project.electricidad_documento }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="alumbrado">
                            <ul>
                                <li>Tipo: {{ project.alumbradopublico_tipo }}</li>
                                <li>Distancia: {{ project.alumbradopublico_distancia }}</li>
                                <li>Observaciones: {{ project.alumbradopublico_observaciones }}</li>
                                <li>Documento: {{ project.alumbradopublico_documento }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="telefon">
                            <ul>
                                <li>Distancia: {{ project.telefonia_distancia }}</li>
                                <li>Observaciones: {{ project.telefonia_observaciones }}</li>
                                <li>Documento: {{ project.telefonia_documento }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tv">
                            <ul>
                                <li>Distancia: {{ project.tvcable_distancia }}</li>
                                <li>Observaciones: {{ project.tvcable_observaciones }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="equip">
                            <ul>
                                <li>A 100 : {{ project.equipamiento_a100 }}</li>
                                <li>A 200 : {{ project.equipamiento_a200 }}</li>
                                <li>A 500 : {{ project.equipamiento_a500 }}</li>
                                <li>Regional : {{ project.equipamiento_regional }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="costo">
                            <ul>
                                <li>Costo del Predio : {{ project.costo_predio }}</li>
                                <li>M2 : {{ project.costo_m2 }}</li>
                                <li>Escrituras M2 : {{ project.costo_escrituras }}</li>
                                <li>Levantamiento M2 : {{ project.costo_levantamiento }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="estudio">
                            <ul>
                                <li>Demanda : {{ project.estudiomercado_demanda }}</li>
                                <li>Oferta : {{ project.estudiomercado_oferta }}</li>
                                <li>Conclusiones : {{ project.estudiomercado_conclusiones }}</li>
                                <li>Recomendaciones : {{ project.estudiomercado_recomendaciones }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="definicion">
                            <ul>
                                <li>Alernativa : {{ project.definicionproyecto_alternativa }}</li>
                                <li>Tamaño : {{ project.definicionproyecto_tamano }}</li>
                                <li>Programa : {{ project.definicionproyecto_programa }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="program">
                            <ul>
                                <li>Área Privada : {{ project.programayarea_areaprivativa }}</li>
                                <li>Caseta : {{ project.programayarea_caseta }}</li>
                                <li>Jardín : {{ project.programayarea_jardin }}</li>
                                <li>Vialidad: {{ project.programayarea_vialidad }}</li>
                                <li>Área Verde : {{ project.programayarea_areaverde }}</li>
                                <li>Estacionamiento Visitas: {{ project.programayarea_estacionamientovisita }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="afectacion">
                            <ul>
                                <li>Afectación : {{ project.programayarea_afectacion }}</li>
                                <li>Documento: {{ project.programayarea_documento }}</li>
                                <li>Latitud: {{ project.latitud }}</li>
                                <li>Longitud: {{ project.longitud }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% comment %}

    <h1> Nombre de Proyecto: {{ project.nombreProyecto }} </h1>
    <div class="row masonry-container">


        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Clave de Proyecto: {{ project.key }} </li>
                        <li>Propietario: {{ project.propietario }} </li>
                        <li>Fecha de Inicio: {{ project.fecha_inicial }}</li>
                        <li>Fecha de Termino: {{ project.fecha_final }}</li>
                        <li>Tipo de Contrucción: {{ project.tipo_construccion }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>País: {{ project.ubicacion_pais }}</li>
                        <li>Estado: {{ project.ubicacion_estado }}</li>
                        <li>Municipio: {{ project.ubicacion_municipio }}</li>
                        <li>Colonia: {{ project.ubicacion_colonia }}</li>
                        <li>Calle: {{ project.ubicacion_calle }}</li>
                        <li>Número: {{ project.ubicacion_numero }}</li>
                        <li>CP: {{ project.ubicacion_cp }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Superficie de Escritura: {{ project.area_superficie_escritura }}</li>
                        <li>Superficie de Levantamiento: {{ project.area_superficie_levantamiento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Documento de Propiedad: {{ project.estadolegal_documento_propiedad }}</li>
                        <li>Documento: {{ project.documento_propiedad }}</li>
                        <li>Gravamen: {{ project.estadolegal_gravamen }}</li>
                        <li>Documento: {{ project.documento_gravamen }}</li>
                        <li>Predial: {{ project.estadolegal_predial }}</li>
                        <li>Documento: {{ project.documento_predial }}</li>
                        <li>Agua: {{ project.estadolegal_agua }}</li>
                        <li>Documento: {{ project.documento_agua }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Vial: {{ project.restriccion_vial }}</li>
                        <li>CNA : {{ project.restriccion_cna }}</li>
                        <li>CFE : {{ project.restriccion_cfe }}</li>
                        <li>PEMEX: {{ project.restriccion_pemex }}</li>
                        <li>INHA: {{ project.restriccion_inha }}</li>
                        <li>Otros: {{ project.restriccion_otros }}</li>
                        <li>Observaciones: {{ project.restriccion_observaciones }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>PDMU: {{ project.usosuelo_pmdu }}</li>
                        <li>Densidad: {{ project.usosuelo_densidad }}</li>
                        <li>Lote Mínimo: {{ project.usosuelo_loteminimo }}</li>
                        <li>M2 de Construcción: {{ project.usosuelo_m2construccion }}</li>
                        <li>Área Libre: {{ project.usosuelo_arealibre }}</li>
                        <li>Altura: {{ project.usosuelo_altura }}</li>
                        <li>Densidad Requerida: {{ project.usosuelo_densidadrequerida }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Fuente: {{ project.hidraulica_fuente }}</li>
                        <li>Distancia: {{ project.hidraulica_distancia }}</li>
                        <li>Observaciones: {{ project.hidraulica_observaciones }}</li>
                        <li>Documento: {{ project.hidraulica_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Tipo: {{ project.sanitaria_tipo }}</li>
                        <li>Responsable: {{ project.sanitaria_responsable }}</li>
                        <li>Observaciones: {{ project.sanitaria_observaciones }}</li>
                        <li>Documento: {{ project.sanitaria_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Tipo: {{ project.pluvial_tipo }}</li>
                        <li>Responsable: {{ project.pluvial_responsable }}</li>
                        <li>Observaciones: {{ project.pluvial_observaciones }}</li>
                        <li>Documento: {{ project.pluvial_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Vías de Acceso: {{ project.vial_viaacceso }}</li>
                        <li>Distancia: {{ project.vial_distancia }}</li>
                        <li>Carriles: {{ project.vial_carriles }}</li>
                        <li>Sección: {{ project.vial_seccion }}</li>
                        <li>Tipo de Pavimento: {{ project.vial_tipopavimento }}</li>
                        <li>Estado de Construcción: {{ project.vial_estadoconstruccion }}</li>
                        <li>Observaciones: {{ project.vial_observaciones }}</li>
                        <li>Documento: {{ project.vial_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Tipo: {{ project.electricidad_tipo }}</li>
                        <li>Distancia: {{ project.electricidad_distancia }}</li>
                        <li>Observaciones: {{ project.electricidad_observaciones }}</li>
                        <li>Documento: {{ project.electricidad_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Tipo: {{ project.alumbradopublico_tipo }}</li>
                        <li>Distancia: {{ project.alumbradopublico_distancia }}</li>
                        <li>Observaciones: {{ project.alumbradopublico_observaciones }}</li>
                        <li>Documento: {{ project.alumbradopublico_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Distancia: {{ project.telefonia_distancia }}</li>
                        <li>Observaciones: {{ project.telefonia_observaciones }}</li>
                        <li>Documento: {{ project.telefonia_documento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Distancia: {{ project.tvcable_distancia }}</li>
                        <li>Observaciones: {{ project.tvcable_observaciones }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>A 100 : {{ project.equipamiento_a100 }}</li>
                        <li>A 200 : {{ project.equipamiento_a200 }}</li>
                        <li>A 500 : {{ project.equipamiento_a500 }}</li>
                        <li>Regional : {{ project.equipamiento_regional }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Costo del Predio : {{ project.costo_predio }}</li>
                        <li>M2 : {{ project.costo_m2 }}</li>
                        <li>Escrituras M2 : {{ project.costo_escrituras }}</li>
                        <li>Levantamiento M2 : {{ project.costo_levantamiento }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Demanda : {{ project.estudiomercado_demanda }}</li>
                        <li>Oferta : {{ project.estudiomercado_oferta }}</li>
                        <li>Conclusiones : {{ project.estudiomercado_conclusiones }}</li>
                        <li>Recomendaciones : {{ project.estudiomercado_recomendaciones }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Alernativa : {{ project.definicionproyecto_alternativa }}</li>
                        <li>Tamaño : {{ project.definicionproyecto_tamano }}</li>
                        <li>Programa : {{ project.definicionproyecto_programa }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Área Privada : {{ project.programayarea_areaprivativa }}</li>
                        <li>Caseta : {{ project.programayarea_caseta }}</li>
                        <li>Jardín : {{ project.programayarea_jardin }}</li>
                        <li>Vialidad: {{ project.programayarea_vialidad }}</li>
                        <li>Área Verde : {{ project.programayarea_areaverde }}</li>
                        <li>Estacionamiento Visitas: {{ project.programayarea_estacionamientovisita }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item">
            <div class="card">
                <div class="card-header">Item Title</div>
                <div class="card-block">
                    <ul>
                        <li>Afectación : {{ project.programayarea_afectacion }}</li>
                        <li>Documento: {{ project.programayarea_documento }}</li>
                        <li>Latitud: {{ project.latitud }}</li>
                        <li>Longitud: {{ project.longitud }}</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>





    <ul>
        --{{ tipoproyectodetalle_set }}--

    </ul>{% endcomment %}


{% endblock %}