{% extends "admin/base_site.html" %}


{% block content %}
    <div id="content-main">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="item-left">
                            <h3 class="card-title text">{% block title %}{{ title_list }} {% endblock %}</h3>
                        </div>
                        <div class="item-right">

                            <a href="add/"
                               class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success icon-container"
                               >
                                &nbsp; <i class="zmdi zmdi-plus zmdi-hc-2x center-icon"
                                          ></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-block">


                        {% include 'ERP/list-search-fields.html' %}

                        <div class="row">
                            <br>
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Clave</th>
                                            <th>Empresa Cliente</th>
                                            <th>Inicio</th>
                                            <th>Termino</th>
                                            <th>Fecha de Última Edición</th>
                                            <th>Ver</th>
                                            <th>Editar</th>
                                            <th>Configurar</th>
                                            <th>Dashboard</th>
                                        </tr>
                                        </thead>
                                        {% for project in object_list %}
                                            <tr>


                                                {% comment %} <td><a href="{{ company.id }}">{{ company.nombreEmpresa }}</a></td>{% endcomment %}
                                                <td><span>{{ project.nombreProyecto }}</span></td>
                                                <td><span>{{ project.key }}</span></td>
                                                <td><span>{{ project.empresa }}</span></td>
                                                <td><span>{{ project.fecha_inicial }}</span></td>
                                                <td><span>{{ project.fecha_final }}</span></td>
                                                <td><span >{{ project.last_edit_date }}</span></td>


                                                {% comment %}   <td style="width: 7%"><a href="{{ project.id }}"
                                                       class="btn btn-raised btn-default btn-xs"><i
                                                        class="fa fa-search color-default eliminar"></i> Ver</a></td>
                                                <td style="width: 9%"><a href="{{ project.id }}/change"
                                                       class="btn btn-raised btn-default btn-xs"><i
                                                        class="fa fa-pencil color-default eliminar"></i> Editar</a></td>
                                                <td style="width: 2%"><a href="/admin/ERP/project/dashboard/{{ project.id }}"
                                                       class="btn btn-raised btn-default btn-xs"><i
                                                        class="fa fa-tachometer color-danger eliminar" style="margin-right: 0"></i> Dashboard</a>
                                                </td>{% endcomment %}
                                                <td class="text-center" style="width: 5%">
                                                    {% comment %}<span >{{ user.is_active }}</span>{% endcomment %}
                                                    <a href="" data-toggle="modal" data-target="#myModal3"
                                                       class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-tasks color-default eliminar"></i></a>
                                                </td>


                                                <td class="text-center" style="width: 5%"><a href="{{ project.id }}"
                                                                                             class="btn btn-raised btn-default btn-xs"><i
                                                        class="fa fa-eye color-default eliminar"></i></a></td>
                                                <td class="text-center" style="width: 5%"><a
                                                        href="{{ project.id }}/change"
                                                        class="btn btn-raised btn-default btn-xs"><i
                                                        class="fa fa-pencil color-default eliminar"></i></a></td>
                                                <td class="text-center" style="width: 2%"><a
                                                        href="/admin/ERP/project/dashboard/{{ project.id }}"
                                                        class="btn btn-raised btn-default btn-xs"><i
                                                        class="fa fa-tachometer color-danger eliminar"></i></a>
                                                </td>
                                                {% empty %}
                                                <td>No existen {{ title_list }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                                {% include 'ERP/list-pagination.html' %}

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="modal" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
            <div class="modal-dialog animated zoomIn animated-3x" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                        <h3 class="modal-title" id="myModalLabel3">Asignación de segmentos</h3>
                    </div>
                    <div class="modal-body">
                         {% include 'ERP/list-pagination.html' %}
                         <div class="col-xs-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <div class="togle-label col-xs-9">
                                            Proyecto
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" checked="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <div class="togle-label col-xs-9">
                                            Ubicación
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" checked="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <div class="togle-label col-xs-9">
                                            Áreas
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" checked="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <div class="togle-label col-xs-9">
                                            Proyecto
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" checked="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <div class="togle-label col-xs-9">
                                            Ubicación
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" checked="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-group">
                                        <div class="togle-label col-xs-9">
                                            Áreas
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" checked="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

