{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static "ERP/admin/assets/ajax/project_section.js" %}"></script>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="item-left">
                            <h3 class="card-title text">{% block title %}{{ title_list }} {% endblock %}</h3>
                        </div>
                        <div class="item-right">

                            <a href="add/"
                               class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success"><i class="zmdi zmdi-plus zmdi-hc-2x"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-block">

                        <input type="text" name="projectID" id="projectID" hidden>

                        {% include 'ERP/list-search-fields.html' %}

                        <div class="row">

                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    {% if object_list %}
                                        <table id="" class="table table-striped table_s">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Clave</th>
                                                <th>Cliente</th>
                                                <th>Inicio</th>
                                                <th>Término</th>
                                                <th>Fecha de Última Edición</th>
                                                {% if perms.ERP.change_project %}
                                                    <th class="no-sorting">Configurar</th>
                                                {% endif %}
                                                <th class="no-sorting">Ver</th>

                                                {% if perms.ERP.change_project %}
                                                    <th class="no-sorting">Editar</th>
                                                {% endif %}
                                                <th class="no-sorting">Dashboard</th>
                                            </tr>
                                            </thead>
                                            {% for project in object_list %}
                                                <tr>
                                                    {% comment %} <td><a href="{{ company.id }}">{{ company.nombreEmpresa }}</a></td>{% endcomment %}
                                                    <td><span>{{ project.nombreProyecto }}</span></td>
                                                    <td><span>{{ project.key }}</span></td>
                                                    <td><span>{{ project.empresa }}</span></td>
                                                    <td><span>{{ project.fecha_inicial }}</span></td>
                                                    <td><span>{{ project.fecha_final }}</span></td>
                                                    <td><span>{{ project.last_edit_date }}</span></td>


                                                    {% comment %}   <td style="width: 7%"><a href="{{ project.id }}"
                                                       class="btn btn-raised btn-default btn-xs"><i
                                                        class="fa fa-search color-default eliminar"></i> Ver</a></td>
                                                <td style="width: 9%"><a href="{{ project.id }}/change"
                                                       class="btn btn-raised btn-default btn-xs"><i
                                                        class="fa fa-pencil color-default eliminar"></i> Editar</a></td>
                                                <td style="width: 2%"><a href="/admin/ERP/project/dashboard/{{ project.id }}"
                                                       class="btn btn-raised btn-default btn-xs"><i
                                                        class="fa fa-tachometer color-danger eliminar" style="margin-right: 0"></i> Dashboard</a>
                                                </td>{% endcomment %}


                                                    {% if perms.ERP.change_project %}
                                                        <td class="text-center" style="width: 5%">

                                                            {% comment %}<span >{{ user.is_active }}</span>{% endcomment %}
                                                            <a href="#" onClick="configura_segmentos({{ project.id }})"
                                                               data-toggle="modal" data-target="#myModal3"
                                                               class="btn btn-raised btn-default btn-xs"><i
                                                                    class="fa fa-tasks color-default eliminar"></i></a>
                                                        </td>
                                                    {% endif %}


                                                    <td class="text-center" style="width: 5%"><a href="{{ project.id }}"
                                                                                                 class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-eye color-default eliminar"></i></a></td>

                                                    {% if perms.ERP.change_project %}
                                                        <td class="text-center" style="width: 5%"><a
                                                                href="{{ project.id }}/change"
                                                                class="btn btn-raised btn-default btn-xs"><i
                                                                class="fa fa-pencil color-default eliminar"></i></a>
                                                        </td>

                                                    {% endif %}
                                                    <td class="text-center" style="width: 2%"><a
                                                            href="/admin/ERP/project/dashboard/{{ project.id }}"
                                                            class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-tachometer color-danger eliminar"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}

                                        No existen {{ title_list }}
                                    {% endif %}
                                </div>

                                {% include 'ERP/list-pagination.html' %}

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        {% if perms.ERP.change_project %}

            <div class="modal" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
                <div class="modal-dialog animated zoomIn animated-3x" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                            <h3 class="modal-title" id="myModalLabel3">Asignación de Segmentos</h3>
                        </div>
                        <div class="modal-body">
                            <div class="col-xs-12">
                                <div class="panel-group ms-collapse" id="accordion" role="tablist"
                                     aria-multiselectable="true">

                                </div>


                            </div>
                            <div class="col-xs-6">

                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button id="guardaSegmento" type="button" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

