{% extends "admin/base_site.html" %}


{% block content %}
    <div id="content-main">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="item-left">
                            <h3 class="card-title text">{% block title %}{{ title_list }} {% endblock %}</h3>
                        </div>
                          <div class="item-right">

                            <a href="add/"
                               class="btn-circle btn-circle-sm btn-circle-raised btn-circle-success icon-container"
                               >
                                &nbsp; <i class="zmdi zmdi-plus zmdi-hc-2x center-icon"
                                          ></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-block">


                                {% include 'ERP/list-search-fields.html' %}

                        <div class="row">
                         <br>
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Archivo de Partidas</th>
                                            <th>Archivo de Catálogo de Conceptos</th>
                                            <th>Fecha</th>

                                        </tr>
                                        </thead>
                                        {% for uploadedcatalogs in object_list %}
                                            <tr>


                                               {% comment %} <td><a href="{{ company.id }}">{{ company.nombreEmpresa }}</a></td>{% endcomment %}
                                                 <td><span >{{ uploadedcatalogs.line_items_file }}</span></td>
                                                <td><span >{{ uploadedcatalogs.concepts_file }}</span></td>
                                                <td><span >{{ uploadedcatalogs.upload_date }}</span></td>


                                                {% empty %}
                                                <td>No existen {{ title_list }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                                {% include 'ERP/list-pagination.html' %}

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>


    </div>
{% endblock %}