{% load app_filters admin_static %}
<fieldset class="module {{ fieldset.classes }}">

    {{ fieldset.management_form }}

    <div class="card ">
        <ul class="nav nav-tabs  nav-tabs-8 shadow-2dp" role="tablist">
            <li role="presentation" class="active">
                <a class="withoutripple" href="#otro0" aria-controls="otro0" role="tab" data-toggle="tab">
                    Bitácora
                </a>
            </li>
        </ul>

        <div class="card-block">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="otro0">
                    {% for line in fieldset %}
                        {% for field in line %}
                            {% if field.field.name == "date" %}
                                <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group field-{{ field.field.name }}">
                                        <div>
                                            {{ field.label_tag }}
                                            {{ field.field }}
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        {% if field.field.name == "description" %}
                            <div class="col-md-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if field.field.name == "payment_status" %}
                            <div class="col-md-4">
                                <div class="form-group field-{{ field.field.name }}">
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field.field|addcss:"form-control" }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                            </div>


                        {% endif %}
                            {% if field.field.name == "version" %}
                                {{ field.field|addcss:"form-control" }}
                            {% endif %}

                            {% if field.field.name == "project" %}
                                {{ field.field }}
                            {% endif %}

                            {% if field.field.name == "status" %}
                                {{ field.field }}
                            {% endif %}

                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</fieldset>

<script src="{% static "ERP/admin/js/custom.js" %}"></script>
<script src="{% static "ERP/admin/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "ERP/admin/js/bootstrap-datepicker.es.min.js" %}"></script>
<script>
    {% comment %}$('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });{% endcomment %}
    $('.date').datepicker({
        autoclose: true,
        toggleActive: true,
        language: "es"
    });
</script>