{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify app_filters %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>


{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  {% comment %}<ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>{% endcomment %}
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/ERP/distribucionpago/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
    <div class="table-responsive mt-15">
{% for inline_admin_formset in inline_admin_formsets %}
    {% include "admin/ERP/distribucionpago/tabular.html" %}
{% endfor %}
    </div>
{% endblock %}

{% block after_related_objects %}
    {% for record in partidas %}
             <input type="hidden" id="monto_partida_{{ record.lineitem__key }}" value="{{ record.monto_partida }}">
            {% endfor %}

    <h4 class="text-light">Distribución de Pago</h4>

                                <div class="table-responsive mt-15">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>Partida</td>
                                            <td align="right">Porcentaje Distribuido</td>
                                            <td align="right">Monto Distribuido</td>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in distribuido %}

                                            <tr class="text-small">
                                                <td>{{ record.line_item__key }} - {{ record.line_item__description }}</td>
                                                <td align="right">  {{ record.porcentaje }} %</td>
                                                <td align="right">${{ record.asignado|intcomma }}</td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
    <hr>
                            <h4>Detalle de la Distribución</h4>


                                <div class="table-responsive mt-15">
                                    <table class="table table-striped text-small">
                                        <thead>
                                        <tr>
                                            <td>Partida</td>
                                            <td>Tipo de Pago</td>
                                            <td>Porcentaje</td>
                                            <td>Monto </td>
                                            <td>Fecha de Pago</td>
                                            <td>Editar</td>
                                            <td>Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for record in distribucion %}

                                            <tr class="text-small">
                                                <td width="40%">{{ record.line_item }}</td>
                                                <td>{{ record.tipo_pago }}</td>
                                                <td align="right">{{ record.porcentaje }} %</td>
                                                <td align="right">${{ record.monto|intcomma }}</td>
                                                <td align="right">{{ record.fecha_pago }}</td>

                                                <td style="width: 5%">
                                                    <a href="/admin/ERP/distribucionpago/{{ record.id }}/change/?contrato={{ request.GET.contrato }}"
                                                       class="
                                                       btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-pencil color-default eliminar"></i>
                                                    </a>
                                                </td>
                                                <td style="width: 5%">
                                                    <a href="/admin/ERP/distribucionpago/{{ record.id }}/delete/?contrato={{ request.GET.contrato }}"
                                                       class="btn btn-raised btn-default btn-xs"><i
                                                            class="fa fa-trash-o color-danger eliminar"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>


{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    var event = $.Event('django:add-another-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showAddAnotherPopup(this);
                    }
                });

            {% if adminform and add %}
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            {% endif %}


            });
        })(django.jQuery);
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

<script>
 $(document).ready(function () {
        var distribuidos = {
                {%  for c in distribuido %}
                    '{{ c.line_item }}': '{{  c.porcentaje }}',
                {% endfor %}
        };

        var montos_partidas = {
             {%  for c in partidas %}
                    '{{ c.line_item_id }}': '{{  c.monto_partida }}',
                {% endfor %}
        };

        var distribuciones = {
            {%  for c in distribucion %}
                    '{{ c.line_item_id }}': '{{  c.id }}',
                {% endfor %}
        }

        $('input#id_porcentaje').change(function() {
            monto_partida = montos_partidas['' + $('select#id_line_item').val()];
            porcentaje =  $( this ).val();

            if ($('select#id_line_item').val() !="") {

                if (porcentaje >= 100) {
                    var message = 'El porcentaje no puede ser mayor o igual a 100%, favor de verificar la distribución.\n';
                    $('#alertModal').find('.modal-body p').text(message);
                    $('#alertModal').modal('show');
                    this.value = "";
                }
                else if (porcentaje > 0) {

                    var porcentajeasignado = distribuidos['' + $('select#id_line_item').val()];
                    //alert(distribuidos['' + $('select#id_line_item').val()]);
                    //alert(parseFloat(porcentajeasignado.valueOf())+parseFloat(porcentaje.valueOf()));
                    //alert($('select#id_line_item').val());
                    if ((parseFloat(porcentajeasignado) + parseFloat(porcentaje)) > 100) {

                        var message = 'El porcentaje ' + porcentaje + '% para la partida seleccionada, sumará un porcentaje mayor al 100%, favor de verificar la Distribución de Pago para saber el porcentaje disponible que puede asignar.\n';
                        $('#alertModal').find('.modal-body p').text(message);
                        $('#alertModal').modal('show');
                        this.value = "";
                    }
                    else {
                        var porcentaje = (monto_partida * porcentaje) / 100;
                        $('input#id_monto').val(porcentaje.toFixed(2));
                    }
                }

            }
            else{
                var message = 'Favor de seleccionar una partida antes de asignar un porcentaje.\n';
                $('#alertModal').find('.modal-body p').text(message);
                $('#alertModal').modal('show');
                this.value = "";
            }

        });

        $('select#id_line_item').change(function() {
            var asignado = distribuidos['' + $('select#id_line_item').val()];
            if (parseFloat(asignado) == 100.00){
                var message = 'La distribución de pago de la partida seleccionada ha sido asignada al 100%, favor de seleccionar otra partida.\n';
                $('#alertModal').find('.modal-body p').text(message);
                $('#alertModal').modal('show');
                this.value = "";
            }
            else{
                {% if change %}
                    var distribucion_id = distribuciones['' + $('select#id_line_item').val()];
                    window.location.href = "/admin/ERP/distribucionpago/"+distribucion_id+"/change/?contrato={{ request.GET.contrato }}";
                {% endif %}
            }


        });


 });

</script>

</div>
</form></div>
{% endblock %}
